
{%if mensajes%}
{%for mensaje in mensajes %}
    <div class="message-item media" data-id="{{mensaje.id}}">
        <div class="message-item-right">
            <div class="media">
                <img src="{{mensaje.foto}}" alt="avatar 4" width="50" class="pull-left">
                <div class="media-body">
                    <small class="pull-right" style="display: inline-block">{{mensaje.fecha_envio}}</small>
                    <small class="pull-right" style="margin-bottom: 5px; display: inline-block"> Oportunidad: {{mensaje.oportunidad}}</small>
                    <h5 style="display: inline-block"><strong>{{mensaje.usuario_remitente}}</strong></h5>
                    <h4>{{mensaje.asunto}}</h4>
                </div>
            </div>
            <p class="f-14">{{mensaje.contenido|truncatechars:30}}...</p>
        </div>
    </div>

{%endfor%}
{%endif%}