{%if mensajes%}
{%for mensaje in mensajes %}
    <div class="message-item media">
        <div class="pull-left text-center">
            <div class="pos-rel message-checkbox">
                <div class=" ui-checkbox"><input type="checkbox" data-style="flat-red"></div>
            </div>
        </div>
        <div class="message-item-right">
            <div class="media">
                <img src="assets/img/avatars/avatar4_big.png" alt="avatar 4" width="50" class="pull-left">
                <div class="media-body">
                    <small class="pull-right">23 Sept</small>
                    <h5><strong>mensaje.usuario_destinatario</strong></h5>
                    <h4>mensaje.mensaje.asunto</h4>
                </div>
            </div>
            <p class="f-14">{{mensaje.mensaje.asunto|truncatechars:30}}...</p>
        </div>
    </div>

{%endfor%}
{%endif%}