{% extends 'empresa/base.html' %}
{% load staticfiles %}
{%block css%}
    <style>
        .note-toolbar { display : none; }
        .mensaje > .centered { max-height: 500px; padding-bottom: 30px; }
        #main-content.page-mailbox h2,
        #main-content.page-mailbox h3,
        #main-content.page-mailbox h4,
        #main-content.page-mailbox h5{
            font-family: 'Roboto Condensed'; margin-bottom: 10px; }
        #main-content.page-mailbox .panel-heading h2 {
            font-size: 30px;  margin-top: 20px !Important; padding-top: 20px; }
        .p-20 { padding: 20px; }
        #main-content.page-mailbox a,
        #main-content.page-mailbox p,
        #main-content.page-mailbox h2,
        #main-content.page-mailbox h3,
        #main-content.page-mailbox h4,
        #main-content.page-mailbox h5,
        #main-content.page-mailbox span,
        #main-content.page-mailbox label,
        #main-content.page-mailbox small{ color: #505050; }
        #main-content.page-mailbox h3 { font-size: 24px; }
        #main-content.page-mailbox h4 { font-size: 18px; }
        #main-content.page-mailbox h5 { font-size: 14px; }
        #main-content.page-mailbox { padding: 0 15px 0 0;}
        #main-content.page-mailbox .msearch { background-color: transparent !Important; border: none;}
        #main-content.page-mailbox .msearch:focus { box-shadow: none !Important;}
        .page-mailbox .col-md-4{ padding-right:  0;}
        .page-mailbox .col-lg-8{ padding-left:  0;padding-right:  0}
        .page-mailbox .panel{ margin-bottom:  0}
        #messages-list, #message-detail {overflow: hidden}
        #messages-list { border: none; }
        .message-action-btn i {font-size: 20px;line-height: 40px;}
        .icon-rounded { text-align: center; border-radius: 50%; width: 40px;height:40px;border:1px solid #BDBDBD;color:#bdbdbd;display: inline-block}
        .icon-rounded:hover {border:1px solid #121212;color:#121212;cursor: pointer}
        .icon-rounded.heart:hover{border:1px solid #D9534F;color:#D9534F}
        .icon-rounded.heart-red  {border:1px solid #D9534F;color:#D9534F}
        .icon-rounded.gear:hover{border:1px solid #3F97C9;color:#3F97C9}
        .panel-body.messages { padding: 0;}
        .border-bottom {border-bottom: 1px solid #EFEFEF !important;}
        #main-content .messages a.btn {color:#B3B3B3;}
        .message-item{border:none;border-bottom: 1px solid #ECEBEB !important; margin:0;padding:10px 15px;display: block}
        .message-item h5{margin-top:0;}
        .message-item p{margin-bottom:0;height: 20px;overflow: hidden;}
        .message-item .message-checkbox{height:30px;}

        .message-item:hover{background-color:#dcdcdc; cursor: pointer;}
        .message-active {color:#fff;background-color:#f50; }
        #main-content.page-mailbox .message-active small,
        #main-content.page-mailbox .message-active h5,
        #main-content.page-mailbox .message-active h4,
        #main-content.page-mailbox .message-active p { color: white; }
        a.message-item.message-active:hover{color:#fff;background-color:#008fc0;}
        /*a.message-item:hover{text-decoration:none;background-color:#eaeaea;}*/
        .messages .message-item img{border-radius: 3px;}
        .message-item-right{padding-left:33px;}
        .withScroll {height: auto;overflow: auto;overflow:hidden;}
        .messages .mCustomScrollBox {overflow: hidden !important;}
        .message-result .message-item{padding-left:0;}
        .message-result .message-item-right{padding-left:0;}
        .message-title{margin-top:0;}
        .message-body{padding:0 20px 20px 20px;}
        .message-attache .media {float:left; padding-right:30px;margin-top: 0;padding-bottom:30px;}
        .message-attache {border-top: 1px solid #ECEBEB !important;padding-top:10px;}
        .message-between {height: 8px;background-color: #E7E7E7;}
        .footer-message { padding-top:20px;}
        .send-message .form-control {height:34px;}
        @media (min-width: 992px){
          .email-go-back {display: none;}
        }
        @media (max-width: 991px){
          .email-hidden-sm {display: none;}
          .email-go-back {display: inline-block;}
        }

    </style>
{%endblock%}
{%block content%}
    <section class = "mensaje">
        <div id="main-content" class="page-mailbox centered">
            <div class="row" data-equal-height="true">
                <div class="col-md-4 list-messages">
                    <div class="panel panel-default">
                        <div class="panel-body messages">
                            <div class="input-group input-group-lg border-bottom" style = "width: 100%">
                                <select class="form-control msearch bd-0 bd-white" id="oportunidad_id" placeholder="Seleccione una Oportunidad">
                                    <option value="0">Mensajes por todas las Oportunidades</option>
                                    {%for p in oportunidades %}
                                        <option value="{{p.id}}">Mensajes por: {{p.titulo}}</option>
                                    {%endfor%}
                                </select>
                            </div>
                            <div id="messages-list" class="panel panel-default withScroll" data-height="window" data-padding="255" style="height: 518px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 email-hidden-sm detail-message">
                    <ul class="nav nav-tabs">
                        <li id="li-0" class="active"><a data-toggle="tab" href="#message-detail">Buzón de Entrada</a></li>
                        <li id="li-1"><a data-toggle="tab" href="#message-detail1">Buzón de Salida</a></li>
                        <li id="li-2"><a data-toggle="tab" href="#message-detail2">Redactar Mensaje</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="message-detail" class="tab-pane fade in active panel panel-default withScroll" data-height="window" data-padding="160" style="height: 568px;">
                            <div class="panel-heading messages message-result">
                                <h2 class="p-t-20 w-500">No se ha seleccionado un mensaje </h2>
                            </div>
                        </div>
                        <div id="message-detail1" class="tab-pane fade panel panel-default withScroll" data-height="window" data-padding="160" style="height: 568px;">
                            <div class="panel-heading messages message-result">
                                <h2 class="p-t-20 w-500">No se ha seleccionado un mensaje </h2>
                            </div>
                        </div>
                        <div id="message-detail2" class="tab-pane fade panel panel-default withScroll" data-height="window" data-padding="160" style="height: 568px;">
                            <div class="panel-heading messages message-result">
                                <div class="message-action-btn clearfix p-t-20">
                                    <div class = "pull-left">
                                        <select id="oportunidad_redactar_id" class="form-control bd-0 bd-white" style="width: 300px">
                                            {%for p in oportunidades %}
                                                <option value="{{p.id}}">{{p.titulo}}</option>
                                            {%endfor%}
                                        </select>
                                         <input type="checkbox" id="permite-respuesta"/> Permite Respuesta
                                    </div>
                                    <div class="pull-right">

                                    </div>
                                    <div class="pull-right">

                                        <div id="enviar_mensaje" data-rel="tooltip" title="" class="icon-rounded m-r-10"
                                             data-original-title="Enviar" data-placement="bottom"><i class="fa fa-send"></i>
                                        </div>
                                    </div>

                                </div>
                                <br>
                                <!--<div class="input-group input-group-lg border-bottom">-->
                                    <!--<span class="input-group-btn">-->
                                    <!--<a href="" class="btn" disabled>Oportunidad: </a>-->
                                <!--</span>-->
                                    <!--<select  class="form-control bd-0 bd-white" style = "width: 100%">-->
                                    <!--{%for p in oportunidades %}-->
                                        <!--<option value="{{p.id}}">{{p.titulo}}</option>-->
                                    <!--{%endfor%}-->
                                    <!--</select>-->
                                <!--</div>-->
                                <div class="input-group input-group-lg border-bottom">
                                    <span class="input-group-btn">
                                        <a href="" class="btn" disabled>Para:</a>
                                    </span>
                                    <select class="form-control candidatos bd-0 bd-white" multiple style = "width: 100%"></select>
                                </div>
                                <div class="input-group input-group-lg border-bottom">
                                <span class="input-group-btn">
                                    <a href="" class="btn" disabled>Asunto:</a>
                                </span>
                                <input type = "text" class="form-control msearch bd-0 bd-white asunto" />
                            </div>
                            </div>
                            <div class="panel-body messages message-result">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div id = "summernote"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{%csrf_token%}
{%endblock%}
{%block js%}
<script src = "{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/select2.js' %}"></script>
<script src = "{% static 'js/summernote.js' %}"></script>
<script src = "{% static 'js/summernote-i18n/summernote-es-ES.js' %}"></script>

<script>
    var JSMensajes = function(){
        this.tipo = 0 ;
        this.sel_id_estudiante = 0 ;
        this.fnAbrirMensaje = function(id){
		    $.get("{% url 'mensaje-abrir-con-relacionados' %}?id=" + id+"&t="+this.tipo, function(htmlexterno){
                var contenedor = $('.nav-tabs .active a').attr('href');
   				$(contenedor).html(htmlexterno);
			});
	    };
        this.fnCargarCandidatos = function(id){
            var id_estudiante = this.sel_id_estudiante;
            $.get("{% url 'mensaje-cargar-candidatos' %}?id=" + id, function(data){
   				$(".candidatos").html('');
                $.each(data, function(i, item) {
                   $(".candidatos").append('<option value="'+item.id+'">'+item.estudiante+'</option>');

                });
                if(id_estudiante > 0){
                    $(".candidatos").val(id_estudiante).trigger("change");
                }
                else{
                    $(".candidatos").val(0).trigger("change");
                    $(".candidatos").prop("disabled", false);
                }
            });
	    };
        this.fnBuscarMensajes= function(){
            $('#messages-list').html("cargando....");
		    $.get("{% url 'mensaje-buscar' %}?id=" + $("#oportunidad_id").val()+"&t="+this.tipo, function(htmlexterno){
   				$('#messages-list').html(htmlexterno);
			});
	    }
    };
    var mensajes = new JSMensajes();
    //var tipo = 0;
    $(function(){
        $("#link-buzon").addClass("active");
        $("#oportunidad_id").select2({
  			placeholder: "Mensajes por todas las oportunidades",
  			//allowClear: true
		});
        $(window).load(function(){
                $('.withScroll').each(function () {
                    $(this).mCustomScrollbar("destroy");
                    var scroll_height = $(this).data('height') ? $(this).data('height') : 'auto';
                    var data_padding = $(this).data('padding') ? $(this).data('padding') : 0;
                    if ($(this).data('height') == 'window') scroll_height = $(window).height() - data_padding;
                    $(this).mCustomScrollbar({
                        scrollButtons: {
                            enable: false
                        },
                        //autoHideScrollbar: true,
                        scrollInertia: 150,
                        theme: "dark-2",
                        set_height: scroll_height,
                        advanced: {
                            updateOnContentResize: true
                        }
                    });
                });
                $("[data-rel=tooltip]").tooltip();
                $(".candidatos").select2({
                    placeholder: "Candidatos por Oportunidad"
                });
                $("#oportunidad_redactar_id").select2({
                    placeholder: "Seleccione Oportunidad"
                });
                $("#summernote").summernote({
                    height: 325,
                    lang: 'es-ES'
                });
            });
        mensajes.fnBuscarMensajes();
		$( '#oportunidad_id' ).change( function() {
            //mensajes.this = 0;
            if($(this).val() == null){
                $(this).val(0);
            }
			mensajes.fnBuscarMensajes();
		});
        $('#oportunidad_redactar_id' ).change( function() {
            if($(this).val() > 0){
			    mensajes.fnCargarCandidatos($(this).val());
            }
		});
        $("#messages-list").on('click', '.message-item', function(){
            if(mensajes.tipo == 0){ fnActivaTab("message-detail"); }
            if(mensajes.tipo == 1){ fnActivaTab("message-detail1"); }
            mensajes.fnAbrirMensaje($(this).data("id"));
        });
        $('#li-0' ).click( function() {
            mensajes.tipo = 0;
            mensajes.fnBuscarMensajes();
            $('#message-detail').html('<div class="panel-heading messages message-result">' +
                                        '<h2 class="p-t-20 w-500">No se ha seleccionado un mensaje </h2></div>');
		});
        $('#li-1' ).click( function() {
            mensajes.tipo = 1;
            mensajes.fnBuscarMensajes();
            $('#message-detail1').html('<div class="panel-heading messages message-result">' +
                                        '<h2 class="p-t-20 w-500">No se ha seleccionado un mensaje </h2></div>');
		});
        $('#li-2' ).click( function() {
            mensajes.sel_id_estudiante = 0;
            $("#oportunidad_redactar_id").val(0).trigger("change");
            $("#oportunidad_redactar_id").prop("disabled", false);
            $(".candidatos").val(0).trigger("change");
            $(".candidatos").prop("disabled", false);
		});
        $('#enviar_mensaje').click(function(){
            ids = new Array();
            ids_estudiante = new Array();
            ids_estudiante = $(".candidatos").val();
            var form = new FormData();
            form.append('ids',JSON.stringify(ids));
            form.append('ids_estudiante',JSON.stringify(ids_estudiante));
            form.append('o',$('#oportunidad_redactar_id').val());
            form.append('a',$('.asunto').val());
            form.append('c',$('.note-codable').val());
            form.append('p', $('#permite-respuesta').is(':checked')? 'S' : 'N');
            form.append('csrfmiddlewaretoken',$('[name="csrfmiddlewaretoken"]').val());

            $.ajax({
                type:"POST",
                url:"{%url 'mensaje-enviar-estudiante' %}",
                data: form,
                processData: false,
                contentType: false,
                error: function(x){
                    console.log(x);
                },
                success: function(data){
                    fnActivaTab('message-detail1');
                    $('#li-1').click();
                    $('#message-detail1').html('<div class="panel-heading messages message-result">' +
                                            '<h2 class="p-t-20 w-500">Su mensaje se ha enviado correctamente</h2></div>');
                }
            });
       });
        $("#message-detail").on('click', '.responder', function(){
            $(".candidatos").prop("disabled", true);
            mensajes.sel_id_estudiante = $(this).data("info");
            $("#oportunidad_redactar_id").val($(this).data("id")).trigger("change");
            $("#oportunidad_redactar_id").prop("disabled", true);
            $('.asunto').val("Re:"+ $(".panel-heading h2.asunto-mensaje").text());
            fnActivaTab("message-detail2");
        });
    });
    function fnActivaTab(tab){
        $('.nav-tabs a[href="#' + tab + '"]').tab('show');
    };

    </script>
{%endblock%}
