
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Cuenta activa en BroderJobs</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            @font-face {
                font-family: 'Roboto Light';
                src: url('archivos/fonts/Roboto-Light.eot');
                src: url('archivos/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
                     url('archivos/fonts/Roboto-Light.woff') format('woff'),
                     url('archivos/fonts/Roboto-Light.ttf') format('truetype'),
                     url('archivos/fonts/Roboto-Light.svg#Roboto-Light') format('svg');
            }
        </style>
    </head>
    <body style = "font-family: 'Roboto Light'; background-color:#F2F2F2">
        <div style ="text-align: center; margin: 50px;">
            <img src ="archivos/logo.svg" />
        </div>
        <div style ="background-color:white; margin: 15px; padding: 45px" >

            <div style ="font-size: 31pt; color: #5F5F5F; text-align: center"> 
               Gracias por registrarte en BroderJobs.com, pronto nos estaremos comunicando para validar informacion </div>
            <table style = "margin: 60px auto; border-spacing: 10px; ">
                <tr><td>Usuario: </td>
                    <td> {{ user.get_email }}</td></tr>
                {{ user.email }}, {{ c.user.email }}
            </table>
{#            <div style="text-align: center; display: block">#}
{#                <a href="{{ protocol }}://{{ domain }}{% url 'contrasena-crear' uidb64=uid token=token %}"#}
{#                   target="_blank" style = "display: inline-block;background-color: #FB4100; padding: 10px; border-radius: 4px; font-size: 16pt; color: white; width: 200px; text-decoration: none">Comenzar</a>#}
{##}
{#            </div>#}
        </div>
        <div style="margin:30px;text-align: center">
            <a href="#"><img src="archivos/icon-facebook.png" width = 45 /></a>
            <a href="#"><img src="archivos/icon-twitter.png" width = 45 /></a>
            <a href="#"><img src="archivos/icon-snapchat.png" width = 45 /></a>
        </div>
        <div style="margin:15px;text-align: center; font-size: 11pt; color: #999 ">
            Enviado con <img src="archivos/icon-corazon.png" width = 11 /> por personas que aman lo que hacen
        </div>
    </body>
</html>
