<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Bienvenido a BroderJobs</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            @font-face {
                font-family: 'Roboto Light';
                src: url('archivos/fonts/Roboto-Light.eot');
                src: url('archivos/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
                     url('archivos/fonts/Roboto-Light.woff') format('woff'),
                     url('archivos/fonts/Roboto-Light.ttf') format('truetype'),
                     url('archivos/fonts/Roboto-Light.svg#Roboto-Light') format('svg');
            }
        </style>
    </head>
    <body style ="margin:0px; padding: 0px; font-family: 'Roboto Light'; background-color:#F2F2F2">
        <div style ="background-image:url(archivos/personas_trabajando.jpg); background-size: cover; padding:40px">
            <fieldset style = "color:white; text-align: center; font-size: 16pt; padding: 50px">
                <legend style = "text-align: center;" ><img src="archivos/logo2.svg" height="30"/></legend>
                Está a un paso de conocer personas increíbles para su organizacion. En unos minutos nos comunicaremos contigo.
            </fieldset>
        </div>
        <div style = "text-align:center; color: #55595B; padding: 15px; font-size: 16pt; background-color: black ">
            Mientras tanto descubre lo genial de nuestra solución
        </div>
        <div style ="background-image:url(archivos/laptop1.png); background-size: cover; display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; -webkit-justify-content: flex-end; justify-content: flex-end; color: white; text-align: center">
            <div style ="background-color:rgba(0,0,0,0.5); padding: 80px 30px; width: 40%; font-size: 9pt">
                <div style ="text-align:center">
                    <img src="archivos/compatibilidad.png" width="100"/>
                    <h2>GESTION DE CANDIDATOS</h2></div>
                <div style ="text-align:justify; line-height: 15pt">Mediante nuestro algoritmo BroderPredictor le mostramos el porcentaje de compatibilidad de los candidatos más alineados con el perfil profesional deseado y con la cultura organizacional de su compañía.</div>
            </div>
        </div>
        <div style ="background-image:url(archivos/laptop2.png); background-size: cover; display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; -webkit-justify-content: flex-start; justify-content: flex-start; color: white; text-align: center">
            <div style ="background-color:rgba(0,0,0,0.5); padding: 100px 30px; width: 40%; font-size: 9pt">
                <div style ="text-align:center">
                    <img src="archivos/employer.png" width="100"/>
                    <h2>MARCA EMPLEADORA</h2>
                </div>
                <div style ="text-align:justify; line-height: 15pt">Comparta la misión, valores y principales atributos de su compañía, muestre como son los ambientes de trabajo, transmita credibilidad y transparencia a sus candidatos a través de validaciones en su propio Company Description.</div>
            </div>
        </div>
        <div style ="background-image:url(archivos/laptop3.png); background-size: cover; display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; -webkit-justify-content: flex-end; justify-content: flex-end; color: white; text-align: center">
            <div style ="background-color:rgba(0,0,0,0.5); padding: 80px 30px; width: 40%; font-size: 9pt">
                <div style ="text-align:center">
                    <img src="archivos/analytics.png" width="100"/>
                    <h2>INDICADORES</h2></div>
                <div style ="text-align:justify; line-height: 15pt">Optimice y determine la efectividad de sus procesos de selección con analytics en tiempo real, obtenga un resumen detallado y ordenado de las visualizaciones e inscripciones de cada oportunidad publicada.</div>
            </div>
        </div>
        <div style = "margin: 20px 0px; display: -ms-flexbox; display: -webkit-flex; display: flex">
            <div style = "background-color:#209DFB; width: 50%; color: white">
                <div style = "padding: 20px; text-align: center; font-weight: bold">
                    <span style = "font-size: 60pt; vertical-align: middle">-60</span>
                    <span style = "font-size: 30pt; vertical-align: middle">%</span><br>
                    <span style = "font-size: 15pt">Costo de contratación</span>
                </div>
            </div>
            <div style = "background-color: white;  width: 50%; color: #209DFB;">
                <div style = "padding: 20px; text-align: center; font-weight: bold">
                    <span style = "font-size: 60pt; vertical-align: middle">-40</span>
                    <span style = "font-size: 30pt; vertical-align: middle">%</span><br>
                    <span style = "font-size: 15pt">Tasa de rotación</span>
                </div>
            </div>
        </div>
        <div style = "margin-top: 10px; background-color: white; padding: 15px">
            <div style = "background-color:#209DFB; text-align: center; margin: 0px 10px; color: white; padding: 5px; border-radius: 30px">
                Conozca personas increíbles para su organización ¡Aquí!
            </div>
        </div>
        <div style="margin:30px;text-align: center">
            <a href="#"><img src="archivos/icon-facebook.png" width = 45 /></a>
            <a href="#"><img src="archivos/icon-twitter.png" width = 45 /></a>
            <a href="#"><img src="archivos/icon-snapchat.png" width = 45 /></a>
        </div>
        <div style="margin:15px;text-align: center; font-size: 11pt; color: #999 ">
            Enviado con <img src="archivos/icon-corazon.png" width = 11 /> por personas que aman lo que hacen
        </div>
    </body>
</html>
