{% extends 'estudiante/base.html' %}
{%block css%}
{%endblock%}
{% block content %}
<section class="usuarios">
    <div class="centered">
        <div class="panel left principal">
            <div class="box">
                <div class="content">
                    <section class="pos-relative">
                        <h3 class="title"><i class="info"></i>Configuraci&oacute;n</h3>
						<a class="btn-action" href="{% url 'editar-cuenta' %}">EDITAR</a>
                        <table class = "bj-table">
                            <thead>
                                <tr>
								    <th class="align-left">Nombre</th>
									<th class="align-left">Email</th>
                                </tr>
                            </thead>
                            <tbody id="usuarios">
                                <tr>
								    <td class="align-left">{{usuario.first_name | title}} {{usuario.last_name | title}}</td>
									<td class="align-left">{{usuario.email}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

{% endblock content%}
{% block js %}
{% endblock %}
