{% extends  tipo|yesno:"empresa/base.html,estudiante/base.html" %}
{%block css%}
{%endblock%}
{% block content %}
{% load staticfiles %}
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/additional-methods.min.js' %}"></script>




<section class="usuarios">
    <div class="centered">
        <div class="panel left principal">
            <div class="box">
			    <div class="content">
                    <section class="pos-relative">
                       <form action="" method="post">{%csrf_token%}
                            <h3 class="title"><i class="info"></i>Mi cuenta</h3>
                            <input type="submit" value="GUARDAR" class="btn-action">
                           {%if message%}
                                <p>{{message}}</p>
                           {%endif%}
                            <div class="detalle col-3-7">
                                <!--<div>-->
                                    <!--<label>Nombre y Apellidos</label>-->
                                    <!--<p><input class="half" type="text" placeholder="Escriba su nombre completo" />-->

                                    <!--</p>-->
                                    <!--<div class="clear"></div>-->
                                <!--</div>-->
                                <div>
                                    <label>Contrase&ntilde;a actual</label>
                                    <p><!--<input class="half" type="text" placeholder="Escriba su contrase&ntilde;a actual" />-->
                                        {{form.old_password}}
                                    </p>
                                    <div class="clear"></div>
                                </div>
                                <div>
                                    <label>Contrase&ntilde;a nueva</label>
                                    <p>{{form.new_password1}}
                                        <!--<input class="half" type="text" placeholder="Escriba su nueva contrase&ntilde;a" />-->
                                    </p>
                                    <div class="clear"></div>
                                </div>
                                <div>
                                    <label>Confirmar contrase&ntilde;a</label>
                                    <p>
                                        {{form.new_password2}}
                                        <!--<input class="half" type="text" placeholder="Escriba otra vez su nueva contrase&ntilde;a" />-->
                                    </p>
                                    <div class="clear"></div>
                                </div>
                            </div>
                           <!--{{form.as_p}}<input type="submit" value="Update &rarr;">-->
                        </form>

                    </section>
				</div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>
{% endblock content%}
{% block js %}
<script>
    $(function(){
        /*$("input[type=submit]").on("click", function(e){
            e.preventDefault();
            debugger;
        });*/
        $("form").validate({
            errorPlacement: function (error, element) {
                $(element).tooltip('destroy');
                $(element).tooltip({
                    animation: true,
                    placement: "right",
                    title: $(error).text(),
                    trigger: "manual"
                } );
                $(element).tooltip('show');
            },
            success: function (label, element) {
                $(element).tooltip('hide');
            },
            rules: {
                "old_password": { required: true, minlength: 6 },
                "new_password1": { required: true, minlength: 6 },
                "new_password2": { required: true, minlength: 6, equalTo: "#id_new_password1" },
            },
            messages: {
                "old_password": { 	required: "Este campo es obligatorio",
									minlength: "La contraseña debe tener al menos seis (6) caracteres"},
                "new_password1": {  required: "Este campo es obligatorio",
									minlength: "La contraseña debe tener al menos seis (6) caracteres"},
                "new_password2": {  required: "Este campo es obligatorio",
                                    minlength: "La contraseña debe tener al menos seis (6) caracteres",
									equalTo: "Las contraseñas deben ser iguales" },
            }
        });
    });
</script>
{% endblock %}