{% extends 'main/index-empresa.html' %}
{% load staticfiles %}
{% block content_empresa %}
	<script src="{% static 'js/jquery.validate.min.js' %}"></script>
	<script src="{% static 'js/additional-methods.min.js' %}"></script>

	<form action="" method="post">{%csrf_token%}
    	<div class="login active" id="login">
			<div class="content">
				<label class="ingresa-email">Iniciar Sesi&oacute;n</label>
				<div class="datos">
					{{ form.email }}
					{{ form.password }}
				</div>
				<div class="opciones">
					<input type="checkbox" id="recordarme" /><label for="recordarme">Recordarme.</label>
					<a>¿Olvidaste tu contrase&ntilde;a?</a>
				</div>
				<div class="division">
					<div class="full line"></div>
					<div class="clear"></div>
				</div>
				{%if message %}
				<div class="alert alert-warning alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
					{{message}}</div>
				{% endif%}
				<input type="submit" name="form" value="REGISTRARME" id="registrarme" class="Ingresar"/>
				<a class="registrate" href="/empresa-registro/" onclick="desactivar('mensaje-central'); desactivar('login'); activar('registro');">¿No est&aacute;s registrado? Reg&iacute;strate AQU&Iacute;.</a>
				<a class="close" href="/empresa/">x</a>
			</div>
		</div>
    </form>
{% endblock%}

{% block js%}
<script>
    $(function(){
        $("form").validate({
            errorPlacement: function (error, element) {

                $(element).tooltip('destroy');
                $(element).tooltip({
                    animation: true,
                    placement: "left",
                    title: $(error).text(),
                    trigger: "manual"
                } );
                $(element).tooltip('show');
            },
            success: function (label, element) {
                $(element).tooltip('hide');
            },
            rules: {
                email: {
                    required: true,
                    email: true
                },
                password: {
                    required: true
                }
            },
            messages: {
                email: {
                    required: "Este campo es obligatorio",
                    email: "Introduzca un correo válido"
                },
                password: {
                    required: "Este campo es obligatorio"
                }
            }
        })
    });
</script>
{% endblock %}
