{% extends 'main/index-empresa.html' %}
{% load staticfiles %}
{% block content_empresa %}
	<script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/additional-methods.min.js' %}"></script>

	<form action="" method="post">{%csrf_token%}
		<div class="login active" id="registro">
			<div class="content">
				<label class="saludo"></label>
				<a class="registrate">Reg&iacute;strate con tu e-mail</a>
				<div class="datos registro">
					{{form.first_name}}
					{{form.last_name}}
					{{form.email}}
					{{form.empresa}}
					{{form.telefono}}
					{{form.password1}}
					{{form.password2}}
			    </div><br>
			    <div class="opciones">
			        <input type="checkbox" id="acepto" name = "tyc"/><label for="acepto">Acepto los <a class="terminos-condiciones" href="../static/terminos_y_condiciones.html">T&eacute;rminos y condiciones, y<br> Pol&iacute;ticas de Privacidad de BRODER</a>.</label>
			    </div>
				{%if message %}
				<div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
					{{message}}
				</div>
				{% endif%}
				{%if form.errors %}
				<div class="alert alert-warning alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
					{{ form.first_name.errors }}
					{{ form.last_name.errors }}
					{{ form.email.errors }}
					{{ form.password1.errors }}
					{{ form.password2.errors }}
				</div>
				{% endif%}
				<input type="submit" name="form" value="REGISTRARME" id="registrarme" class="Ingresar"/>
				<a class="close" onclick="desactivar('registro'); activar('mensaje-central');">x</a>
		    </div>
        </div>
	</form>
{% endblock%}

{% block js %}
<script>
	$(function(){
        $("form").validate({
            errorPlacement: function (error, element) {
				$(element).tooltip('destroy');
				$(element).tooltip({
					animation: true,
					placement: "left",
					title: $(error).text(),
					trigger: "manual"
				} );
				$(element).tooltip('show');
            },
            success: function (label, element) {
				$(element).tooltip('hide');
            },
            rules: {
				first_name: {
					required: true,
				},
				last_name: {
					required: true,
				},
                email: {
                    required: true,
                    email: true
                },
                password1: {
                    required: true,
					min: 6
                },
				password2: {
                    required: true,
					equalTo: "#id_password1",
					min: 6
                },
				groups: {
					date: "dia mes ano"
				},
				tyc: {
					required: true
				}
            },
            messages: {
				first_name: {
					required: "Este campo es obligatorio",
				},
				last_name: {
					required: "Este campo es obligatorio",
				},
                email: {
                    required: "Este campo es obligatorio",
                    email: "Introduzca un correo valido"
                },
                password1: {
                    required: "Este campo es obligatorio",
					min: "La contraseña debe tener al menos seis (6) caracteres"
                },
				password2: {
                    required: "Este campo es obligatorio",
					equalTo: "Las contraseñas deben ser iguales",
					min: "La contraseña debe tener al menos seis (6) caracteres"
                },
				tyc: {
					required: "Debe aceptar los términos y condiciones",
				}
            }
        });
		$("#link-registro").addClass("active");
    });
</script>
{% endblock %}