{% extends 'main/index.html' %}
{% block content %}

        {%if message %}
        <b>{{message}}</b>
        {% endif%}

        <form action="" method="post">{%csrf_token%}
            <div class="login active" id="login">
                <div class="content">
                    <label class="saludo">HOLA BRODER</label>
                    <a  href="{% url 'social:begin' 'facebook' %}" class="ingresa-facebook">INGRESA CON FACEBOOK</a>
                    <div class="division">
                        <div class="line"></div>
						<label>o</label>
						<div class="line"></div>
						<div class="clear"></div>
                    </div>
			        <label class="ingresa-email">Ingresa con tu e-mail:</label>
                    <div class="datos">
                        {{ form.email }}
		                {{ form.password }}
                    </div>
                    <div class="opciones">
						<input type="checkbox" id="recordarme" /><label for="recordarme">Recordarme.</label>
						<a>¿Olvidaste tu contrase&ntilde;a?</a>
					</div>
					<input type="submit" name="form" value="INGRESAR" class="Ingresar" text="Ingresar" />
					<div class="division">
						<div class="full line"></div>
						<div class="clear"></div>
                    </div>
					<a class="registrate" href="/estudiante-registro/" onclick="desactivar('mensaje-central'); desactivar('login'); activar('registro');">¿No est&aacute;s registrado? Reg&iacute;strate AQU&Iacute;.</a>
                    <a class="close" href="/estudiante/" onclick="desactivar('login'); activar('mensaje-central');">x</a>
                </div>
            </div>
        </form>
{% endblock%}
<p></p>