{% load staticfiles %}
<html>
	<head>
		<title>BroderJobs</title>
		<meta content="IE=11.0000" http-equiv="X-UA-Compatible">
        <meta charset="UTF-8">
		<link rel="shortcut icon" href="{% static 'img/icon.ico' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
        <meta name="HandheldFriendly" content="true">
		<link rel="stylesheet" href="{% static 'css/broder.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap-responsive.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/slidebars.min.css' %}">
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/slidebars.min.js' %}"></script>
        <script src="{% static 'js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'js/additional-methods.min.js' %}"></script>
	</head>
	<body>
		<div class="home estudiantes">
			<nav class="navbar navbar-fixed-top sb-slide" role="navigation">
				<div class="sb-toggle-left navbar-left visible-xs">
					<div class="navicon-line"></div>
					<div class="navicon-line"></div>
					<div class="navicon-line"></div>
				</div>
				<a class = "link-header" data-link="mensaje-central">
					<img class="logo" src="{%static 'img/logo.png' %}" alt="Broder jobs" /></a>
				<ul class = "hidden-xs">
					<li><a class="btn-action" href="{% url 'empresa' %}">Para Empresas</a></li>
						<li><a class="link-header" data-link="login">Iniciar sesi&oacute;n</a></li>
						<li><a class="link-header" data-link="registro">Reg&iacute;strate</a></li>
				</ul>
				<div class="clear"></div>
			</nav>
			<div id = "sb-site" class="container">
				<div class = "flex">
					<div class="flex-div mensaje-central active" id="mensaje-central">
						<br><br><br><br><br>
						<h1 class="text-uppercase">Ama lo que haces</h1>
						<h3>Encuentra pr&aacute;cticas y primeros empleos en las mejores empresas del pa&iacute;s</h3>
					</div>
					<div class="flex-div login" id="login">
						<form action="" method="post" autocomplete="off">{%csrf_token%}
							<div class="content">
								<label class="saludo">HOLA BRODER</label>
								<a  href="{% url 'social:begin' 'facebook' %}" class="ingresa-facebook">INGRESA CON FACEBOOK</a>
								<div class="division">
									<div class="line"></div>
									<label>o</label>
									<div class="line"></div>
									<div class="clear"></div>
								</div>
								<label class="ingresa-email">Ingresa con tu e-mail:</label>
								<div class="datos">
									{{ login_form.email }}
									{{ login_form.password }}
								</div>
								<div class="opciones">
									<input type="checkbox" id="recordarme" /><label for="recordarme">Recordarme.</label>
									<a>¿Olvidaste tu contraseña?</a>
								</div>
								{%if message %}
								<div class="alert alert-warning alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
									{{message}}</div>
								{% endif%}
								<input type="submit" name="_login" value="INGRESAR" class="Ingresar" text="Ingresar" />
								<div class="division">
									<div class="full line"></div>
									<div class="clear"></div>
								</div>
								<a class="registrate" onclick="activar('registro');">¿No est&aacute;s registrado? Reg&iacute;strate AQU&Iacute;.</a>
								<a class="close" onclick="activar('mensaje-central');">x</a>
							</div>
						</form>
					</div>
					<div class="flex-div login" id="registro">
						<form method="POST">{% csrf_token %}
							<div class="content">
								<label class="saludo">HOLA</label>
								<a class="ingresa-facebook">REG&Iacute;STRATE CON FACEBOOK</a>
								<label class="indicacion">Es m&aacute;s f&aacute;cil y r&aacute;pido</label>
								<div class="division">
									<div class="line"></div>
									<label>o</label>
									<div class="line"></div>
									<div class="clear"></div>
								</div>
								<a class="close" href="#" onclick="activar('mensaje-central');">x</a>
								<a class="registrate" href="#registro-email">Reg&iacute;strate con tu e-mail</a>
								<div class="registrate-email" id="registro-email">
								<div class="datos registro">
									{{ registro_form.first_name }}
									{{ registro_form.last_name }}
									{{ registro_form.email }}
									{{ registro_form.password1 }}
									{{ registro_form.password2 }}
								<label class="indicacion">Fecha de Nacimiento</label>
									{{registro_form.dia}}{{registro_form.mes}}{{registro_form.ano}}
								</div><br>
								<div class="opciones">
									<input type="checkbox" id="acepto" class = "white" name = "tyc" /><label for="acepto">Acepto los <a class="terminos-condiciones" href="{% url 'terminos-condiciones' %}" target ="_blank">T&eacute;rminos y condiciones, y<br> Pol&iacute;ticas de Privacidad de BRODER</a>.</label>
								</div>
								{%if message %}
								<div class="alert alert-warning alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
									{{message}}
								</div>
								{% endif%}
								{%if registro_form.errors %}
								<div class="alert alert-warning alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
									{{ registro_form.first_name.errors }}
									{{ registro_form.last_name.errors }}
									{{ registro_form.email.errors }}
									{{ registro_form.password1.errors }}
									{{ registro_form.password2.errors }}
								</div>
								{% endif%}
								<input type="submit" name="_registro" value="REGISTRARME" class="Ingresar"/>

							</div>
								 </div>
						</form>
					</div>
					<footer class= "hidden-xs">
						<div class = "row">
							<div class = "col-sm-4">
								<ul class="links">
									<li class="link"><a>Cont&aacute;ctanos</a></li>
									<li class="link"><a href="{% url 'terminos-condiciones' %}">T&eacute;rminos y condiciones</a></li>
									<li class="link"><a>Blog</a></li>
								</ul>
							</div>
							<div class = "col-sm-4">
								<ul class="social text-center">
									<li class="social"><a class="facebook">Facebook</a></li>
									<li class="social"><a class="twitter">Twitter</a></li>
								</ul>
							</div>
							<div class = "col-sm-4">
								<ul class = "copy text-center">
									<li class="copy">Broder jobs&copy; 2015</li>
								</ul>
							</div>
						</div>
						<div class="clear"></div>
					</footer>
				</div>
			</div>
		</div>
		<div class="sb-slidebar sb-left visible-xs">
			<nav>
				<ul class="sb-menu">
					<li><img src="{%static 'img/logo.png' %}"  alt="Slidebars" ></li>
					<li class="sb-close"><a href="{%url 'empresa'%}">Para Empresas</a></li>
					<li class="sb-close"><a class="link-header" data-link="login">Iniciar sesi&oacute;n</a></li>
					<li class="sb-close"><a class="link-header" data-link="registro">Reg&iacute;strate</a></li>
				</ul>
			</nav>
		</div>

		<script>
			$(function() {
				if (sessionStorage.getItem("main") != null){
					activar(sessionStorage.getItem("main"));
				} else {
					activar("mensaje-central");
				}
				$.slidebars();
			});
			function activar(id) {
				debugger;
				sessionStorage.setItem("main", id);
				$(".flex-div:not(#"+id+")").removeClass('active');
				$(".flex-div:not(#"+id+")").hide();
				$('#' + id).addClass('active');
				$('#' + id).show();
				$('.link-header').removeClass('active');
				$("[data-link="+id+"]").addClass('active');
			}
			$('.link-header').click(function(event) {
				activar($(this).data("link"));
			});
			$('.close').click(function() {
				activar('mensaje-central');
			});
			$('.container').click(function(e) {
				if ( $(e.target).closest('.login').length === 0 && $(e.target).closest('.link-header').length === 0 ) {
					activar('mensaje-central');
				}
			});
			$(document).keydown(function(e) {
				if (e.keyCode == 27) {
					activar('mensaje-central');
				}
			});
		</script>
        <script>
	    $(function(){
            $("#registro form").validate({
            	errorPlacement: function (error, element) {
					if ($(element).is("[name=registro-dia]") || $(element).is("[name=registro-mes]") ||
						$(element).is("[name=registro-ano]")){
						$("#id_registro-dia").tooltip('destroy');
						$("#id_registro-dia").tooltip({
							animation: true,
							placement: "left",
							title: $(error).text(),
							trigger: "manual"
						});
						$("#id_registro-dia").tooltip('show');
					}
					else {
						$(element).tooltip('destroy');
						$(element).tooltip({
							animation: true,
							placement: "left",
							title: $(error).text(),
							trigger: "manual"
						} );
						$(element).tooltip('show');
					}
	            },
	            success: function (label, element) {
					if ($(element).is("[name=registro-dia]") || $(element).is("[name=registro-mes]") ||
						$(element).is("[name=registro-ano]")){
						$("#id_registro-dia").tooltip('hide');
					}
					else {
						$(element).tooltip('hide');
					}
	            },
	            rules: {
					"registro-first_name": { required: true },
					"registro-last_name": { required: true },
	                "registro-email": { required: true, email: true },
	                "registro-password1": { required: true, minlength: 6 },
					"registro-password2": { required: true, minlength: 6, equalTo: "#id_registro-password1" },
					"registro-dia": { required: true },
					"registro-mes": { required: true },
					"registro-ano": { required: true },
					groups: {
						date: "registro-dia registro-mes registro-ano"
					},
					tyc: {
						required: true
					}
	            },
	            messages: {
					"registro-first_name": { required: "Este campo es obligatorio" },
					"registro-last_name": { required: "Este campo es obligatorio" },
	                "registro-email": { required: "Este campo es obligatorio",
	                    				email: "Introduzca un correo valido" },
	                "registro-password1": { required: "Este campo es obligatorio",
											minlength: "La contraseña debe tener al menos seis (6) caracteres" },
					"registro-password2": { required: "Este campo es obligatorio",
											minlength: "La contraseña debe tener al menos seis (6) caracteres",
											equalTo: "Las contraseñas deben ser iguales" },
					"registro-dia": { required: "La fecha de nacimiento es obligatoria"	},
					"registro-mes": { required: "La fecha de nacimiento es obligatoria" },
					"registro-ano": { required: "La fecha de nacimiento es obligatoria" },
					tyc: { required: "Debe aceptar los términos y condiciones" }
	            }
	        });
			$("#login form").validate({
	            errorPlacement: function (error, element) {
	                $(element).tooltip('destroy');
	                $(element).tooltip({
	                    animation: true,
	                    placement: "left",
	                    title: $(error).text(),
	                    trigger: "manual"
	                } );
	                $(element).tooltip('show');
	            },
	            success: function (label, element) {
	                $(element).tooltip('hide');
	            },
	            rules: {
	                "login-email": { required: true, email: true },
	                "login-password": { required: true, minlength: 6}
	            },
	            messages: {
	                "login-email": { 	required: "Este campo es obligatorio",
	                    				email: "Introduzca un correo válido" },
	                "login-password": { required: "Este campo es obligatorio",
										minlength: "La contraseña debe tener al menos seis (6) caracteres" }
	            }
	        });
			$("select").on("change", function(){
				$(this).val() != "" ?
					$(this).css("color", "black"):
					$(this).css("color", "#ccc");
			});
            $("#link-registro").addClass("active");
		    $(".cumpleanos").css("margin-right", "3px")
			$(".cumpleanos").addClass("select-default");
        });
        </script>
	</body>
</html>