<html>
	<head>
		<title>Broder jobs</title>
		<meta content="IE=11.0000" http-equiv="X-UA-Compatible">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
        <meta name="HandheldFriendly" content="true">
		<link rel="stylesheet" href="../static/css/broder.css">
		<script type="text/javascript" src="../static/js/jquery-1.8.2.min.js"></script>
	</head>
	<body>
		<div class="home empresas">
			<div class="container">
				<header>
					<img class="logo" src="../static/img/logo.png" alt="Broder jobs" />
					<ul>
						<li><a class="btn-action" href="/estudiante/">Para Estudiantes</a></li>
						<li><a class="link-header" href="/empresa-login/" onclick="desactivar('mensaje-central'); desactivar('registro'); activar('login');">Iniciar sesi&oacute;n</a></li>
						<li><a class="link-header"  href="/empresa-registro/" onclick="desactivar('mensaje-central'); desactivar('login'); activar('registro');">Reg&iacute;strate</a></li>
					</ul>
					<div class="clear"></div>
				</header>
				{% block content_empresa%}
				{% endblock %}
				<footer>
					<ul class="links">
						<li class="link"><a>Cont&aacute;ctanos</a></li>
						<li class="link"><a href="../static/terminos-y-condiciones.html">T&eacute;rminos y condiciones</a></li>
						<li class="link"><a>Blog</a></li>
					</ul>
					<ul class="social">
						<li class="social"><a class="facebook">Facebook</a></li>
						<li class="social"><a class="twitter">Twitter</a></li>
					</ul>
					<ul class="copy">
						<li class="copy">Broder jobs&copy; 2015</li>
					</ul>
					<div class="clear"></div>
				</footer>
			</div>
		</div>
		
		
		<script>
			function activar(id) {
				$('#' + id).addClass('active');
			}
			function desactivar(id) {
				$('#' + id).removeClass('active');
			}
			$('.link-header').click(function(event) {
				$('.link-header').removeClass('active');
				$(event.target).addClass('active');
				$('.mensaje-central').addClass('invisible');
			});
			$('.container').click(function(e) {
				if ( $(e.target).closest('.login').length === 0 && $(e.target).closest('.link-header').length === 0 ) {
					desactivar('login');
					desactivar('registro');
					activar('mensaje-central');
					$('.mensaje-central').removeClass('invisible');
				}
			});
			$(document).keydown(function(e) {
				if (e.keyCode == 27) {
					desactivar('login');
					desactivar('registro');
					activar('mensaje-central');
					$('.mensaje-central').removeClass('invisible');
				}
			});
			$('.close').click(function() {
				$('.link-header').removeClass('active');
				$('.mensaje-central').removeClass('invisible');
			});
		</script>		
	</body>
</html>