{% load staticfiles %}
<html>
	<head>
		<title>Broder jobs</title>
		<meta content="IE=11.0000" http-equiv="X-UA-Compatible">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
        <meta name="HandheldFriendly" content="true">
		<link rel="stylesheet" href="{% static 'css/broder.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap-responsive.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/slidebars.min.css' %}">
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/slidebars.min.js' %}"></script>
	</head>
	<body>
		<div class="home estudiantes">
			<nav class="navbar navbar-fixed-top sb-slide" role="navigation">
				<div class="sb-toggle-left navbar-left visible-xs">
					<div class="navicon-line"></div>
					<div class="navicon-line"></div>
					<div class="navicon-line"></div>
				</div>
				<img class="logo" src="{%static 'img/logo.png' %}" alt="Broder jobs" />
				<ul>
					<li><a class="btn-action" href="{%url 'empresa'%}">Para Empresas</a></li>
					<li><a class="link-header" href="{%url 'estudiante-login'%}">Iniciar sesi&oacute;n</a></li>
					<li><a class="link-header" href="{%url 'estudiante-registro' %}">Reg&iacute;strate</a></li>
				</ul>
				<div class="clear"></div>
			</nav>
			<div id = "sb-site" class="container">
				<div class = "flex">

				{% block content %}
				{% endblock %}
					<footer class= "hidden-xs">
						<div class = "row">
							<div class = "col-sm-4">
								<ul class="links">
									<li class="link"><a>Cont&aacute;ctanos</a></li>
									<li class="link"><a href="../static/terminos_y_condiciones.html">T&eacute;rminos y condiciones</a></li>
									<li class="link"><a>Blog</a></li>
								</ul>
							</div>
							<div class = "col-sm-4">
								<ul class="social text-center">
									<li class="social"><a class="facebook">Facebook</a></li>
									<li class="social"><a class="twitter">Twitter</a></li>
								</ul>
							</div>
							<div class = "col-sm-4">
								<ul class = "copy text-center">
									<li class="copy">Broder jobs&copy; 2015</li>
								</ul>
							</div>
						</div>
						<div class="clear"></div>
					</footer>
				</div>
			</div>
		</div>
		<div class="sb-slidebar sb-left visible-xs">
			<nav>
				<ul class="sb-menu">
					<li><img src="{%static 'img/logo.png' %}"  alt="Slidebars" ></li>
					<li class="sb-close"><a href="{%url 'empresa'%}">Para Empresas</a></li>
					<li class="sb-close"><a href="{%url 'estudiante-login'%}">Iniciar sesión</a></li>
					<li class="sb-close"><a href="{%url 'estudiante-registro'%}">Regístrate</a></li>
				</ul>
			</nav>
		</div>


		<script>
			$(function() {
				$.slidebars();
			});
			function activar(id) {
				$('#' + id).addClass('active');
			}
			function desactivar(id) {
				$('#' + id).removeClass('active');
			}
			$('.link-header').click(function(event) {
				$('.link-header').removeClass('active');
				$(event.target).addClass('active');
				$('.mensaje-central').addClass('invisible');
			});
			$('.container').click(function(e) {
				if ( $(e.target).closest('.login').length === 0 && $(e.target).closest('.link-header').length === 0 ) {
					desactivar('login');
					desactivar('registro');
					activar('mensaje-central');
					$('.mensaje-central').removeClass('invisible');
				}
			});
			$(document).keydown(function(e) {
				if (e.keyCode == 27) {
					desactivar('login');
					desactivar('registro');
					activar('mensaje-central');
					$('.mensaje-central').removeClass('invisible');
				}
			});
			$('.close').click(function() {
				$('.link-header').removeClass('active');
				$('.mensaje-central').removeClass('invisible');
			});
		</script>
		{% block js%}
		{% endblock %}
	</body>
</html>