container_commands:
  isntallpsycopg2:
    command: "sudo pip install psycopg2"


option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "broderjobs.settings"
    "PYTHONPATH": "/opt/python/current/app/broderjobs:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: broderjobs/broderjobs/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
