{% load estudiante_filters %}
{% load staticfiles %}
<html>
	<head>
		<title>Broderjobs</title>
		<meta content="IE=11.0000" http-equiv="X-UA-Compatible">
		<meta charset="UTF-8">
		<link rel="shortcut icon" href="{% static 'img/icon.ico' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
		<meta name="HandheldFriendly" content="true">

		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
		<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/select2.css' %}">
		<!--<link rel="stylesheet" href="{% static 'css/select2-bootstrap.css' %}">-->
		<!--<link rel="stylesheet" href="{% static 'css/custom-theme/jquery-ui-1.10.3.custom.css' %}">-->
		<link rel="stylesheet" href="{% static 'css/slider.css' %}">
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
		<link rel="stylesheet" href="{% static 'css/prettify.css' %}">
		<link rel="stylesheet" href="{% static 'css/broder.css' %}">
		<link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.css' %}">
        {%block css%}
        {%endblock%}

		<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
		<!--<script type="text/javascript" src="{% static 'js/jquery-1.8.2.min.js' %}"></script>-->
		<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.es.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap3-typeahead.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap-slider.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.validate.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/additional-methods.min.js' %}"></script>
		<!--<script type="text/javascript" src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>-->
		<!--<script type="text/javascript" src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>-->
		<script type="text/javascript" src="{% static 'js/holder.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/prettify.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/select2.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
	</head>
	<body>
	<a href="#0" class="cd-top">Top</a>
	<div id="page-wrapper" class = "loading-wrapper">
        <div class="loading">Cargando</div>
    </div>
	<div class = "header-container">
		<header class="principal">
			<div class="centered">
				<a href="{% url 'empresa' %}"><img class="logo" src="{% static 'img/logo.png' %}" alt="Broder jobs" /></a>
				<ul class="nav navbar-nav notify pull-right header-menu">
					{% if '/mensaje/' in request.path %}
						<li><div class="actions">
							<a href="{% url 'mensaje_crear'%}">REDACTAR MENSAJE</a>
						</div></li>
						{%else%}
						<li><div class="actions">
							<a href="{% url 'oportunidad_crear'%}">ANUNCIAR OPORTUNIDAD</a>
						</div></li>
						{% endif %}
					<li>


						<ul class="nav navbar-nav notify pull-right header-menu">
						<!-- BEGIN NOTIFICATION DROPDOWN -->
						<li class="dropdown" id="notifications-header">
							<a href="{%url 'buzon_entrada'%}" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" data-original-title="" title="">
								<span id="cantidad-notificaciones" class="badge badge-danger badge-header">{{cantidad_notificaciones}}</span>
							</a>
							<ul class="dropdown-menu">
								<li class="dropdown-header clearfix">
									<p class="pull-left">Notificaciones</p>
								</li>
								<li>
									<ul class="dropdown-menu-list withScroll " data-height="220" style="height: 220px;" id="notificaciones">
										{%for notificacion in notificaciones %}
										<li {%if notificacion.leida%} style="background: #f5f5f5" {%endif%}>
											<a href="">
												<i class="fa {%if notificacion.es_mensaje %}fa-envelope{%else%} fa-bell {%endif%} p-r-10 f-18"></i>
												{{notificacion.asunto}}
												<span class="dropdown-time">{{notificacion.fecha_creacion|get_due_date_string}}</span>
											</a>
										</li>
										{%endfor%}
									</ul>
								</li>
								<li class="dropdown-footer clearfix">
									<a href="#" class="pull-left">Ver todas las notificaciones</a>
								</li>
							</ul>
						</li>
						<!-- END NOTIFICATION DROPDOWN -->
						<!-- BEGIN USER DROPDOWN -->
						<!-- END USER DROPDOWN -->
					</ul>
					</li>
                    <li class="dropdown" id="user-header">
                        <a href="#" class="dropdown-toggle c-white" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" data-original-title="" title="">

							{% if user.is_authenticated %}
							<!--	<span class="username name" style="text-transform: uppercase">{{user.first_name|capfirst}}</span>-->
							{% endif %}
							<div class="v-line"></div>
                            <i class="fa fa-angle-down p-r-10"></i>
                        </a>
                        <ul class="dropdown-menu contextual">
							<li><a href="{%url 'usuarios'%}"><i class="users"></i><span class="v-line gray"></span><span>Usuarios</span><div class="clear"></div></a></li>
							<li><a href="{%url 'editar-cuenta'%}"><i class="config"></i><span class="v-line gray"></span><span>Mi Cuenta</span><div class="clear"></div></a></li>
							<li><a href="{%url 'salir' %}"><i class="exit"></i><span class="v-line gray"></span><span>Salir</span><div class="clear"></div></a></li>
                        </ul>

                    </li>
                </ul>
			</div>
		</header>
		<header class="menu">
			<div class="centered">
				<a id = "link-oportunidades" href="{% url 'empresa-oportunidad-listar'%}">Oportunidades</a>
				<a id = "link-mi_empresa" href="{% url 'mi-empresa' %}">Mi empresa</a>
				<a id=" link-buzon" href="{% url 'buzon_entrada'%}">Buzón de mensajes</a>
				<div class="clear"></div>

				<div class="clear"></div>
			</div>
		</header>
		</div>
    {% block content %}
    {% endblock %}

	</body>
</html>

<script>
	var flag = true;
	$(function(){
		var offset = 300,
			//browser window scroll (in pixels) after which the "back to top" link opacity is reduced
			offset_opacity = 1200,
			//duration of the top scrolling animation (in ms)
			scroll_top_duration = 700,
			//grab the "back to top" link
			$back_to_top = $('.cd-top');

		//hide or show the "back to top" link
		$(window).scroll(function(){
			( $(this).scrollTop() > offset ) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
			if( $(this).scrollTop() > offset_opacity ) {
				$back_to_top.addClass('cd-fade-out');
			}
		});

		//smooth scroll to top
		$back_to_top.on('click', function(event){
			event.preventDefault();
			$('body,html').animate({
				scrollTop: 0 ,
				}, scroll_top_duration
			);
		});
	})
	$('#menu').click(function() {
		if ($('#ctx-menu-header').hasClass('active'))
			$('#ctx-menu-header').removeClass('active');
		else
			$('#ctx-menu-header').addClass('active')
	});
	$('.popup').click(function(e) {
		if ( $(e.target).closest('.popup-box').length === 0 ) {
			window.history.back();
			$('body').removeClass('static');
		}
	});
	$("body").on("click", function(e){
		if ($("#"+event.target.id).parents("#menu-oportunidad").length == 0 &&
			$('#menu-oportunidad').hasClass("active") && flag){
			$('#menu-oportunidad').removeClass('active');
		}
		flag = true;
	});
	$('.popup .close').click(function(e) {
		window.history.back();
		$('body').removeClass('static');
	});
//	$('a').click(function(event) {
//		var id = event.target.href.substr(event.target.href.lastIndexOf('#'))
//        if ($(id).hasClass('popup'))
//			$('body').addClass('static');
//    });
	function opciones() {
		flag = false;
		if ($('#menu-oportunidad').hasClass('active'))
			$('#menu-oportunidad').removeClass('active');
		else
			$('#menu-oportunidad').addClass('active')
	}
	window.onload = function(){
                $(".loading-wrapper").hide();
            }

</script>
{% block js %}
{% endblock %}
