{% extends 'empresa/base.html' %}
{% load staticfiles %}
{% block content %}
<script src="{% static 'js/owl.carousel.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}"/>
<link rel="stylesheet" href="{% static 'css/owl.theme.css' %}"/>
<style>

	#id_pais{
		width: 155px !important;
	}

	#id_ciudad{
		width: 175px !important;
	}

	.select2-selection--single{
		background-color: #f9f9f9 !important;
		border-color: #ccc !important;
	}

	/*.select2-selection--single .select2-selection__arrow{*/
		/*right: -46px  !important;*/ #ccc
	/*}*/

</style>
<section class="empresa empresa-detalle">
	<div class="centered">
		<div class="panel left">
			<div class="box">
				<header class="pos-relative" id="box-logo">
					<!--<button id="logo-button" class="editar btn-edit">Editar</button>-->
					<img class="imagen" src="{{empresa.set_logo}}" />
					<div class="botones-imagen" style="visibility:hidden;">
						<a id="editar-imagen"  data-toggle="tooltip" data-placement="top"
						 title="Se recomienda que las dimensiones de la imagen sean mayores a 230x230 píxeles"><i class="fa fa-pencil"></i></a>
						<a id="remover-imagen"><i class="fa fa-times"></i></a>
					</div>
				</header>
				<div class="content">
					<h3 class="link">{{empresa.nombre | upper}}</h3>
					<label class="descripcion">{{empresa.sector | upper}}</label>
				</div>
			</div>
		</div>
		<div class="panel right principal">
			<div class="box detail">
				<header class="pos-relative">
					<div class="slider"id="fade">
						<div class="owl-carousel">

							<!--<div class="item-video">-->
                                <!--<a class="owl-video" href="http://www.youtube.com/watch?v=0fhoIate4qI"></a>-->
                            <!--</div>-->
							{%for i in imagenes.all%}
                            <div class="item">
                                <!--<img src="{%static 'img/oficina-11.png' %}"/>-->
								<img src="{{i.set_imagen}}"/>
                            </div>
							{%endfor%}
                        </div>
					</div>
					<!--<a class="btn-edit" id="btn-edit">Editar</a>-->
					<div class ="boton-imagen edit" id="btn-edit">
						<a class data-toggle="tooltip" data-placement="top"
						 title="Se recomienda que las dimensiones de la imagen sean mayores a 725x370 píxeles"><i class="fa fa-pencil"></i></a>
					</div>
					<!--<a href="{%url 'upload-new'%}" class="btn-edit" data-toggle="modal" data-target="#imagenes"></a>-->
				</header>
				<div class="content">
					<section class="about">
						<h3 class="title"><i class="business"></i>Sobre la empresa<button id="info-general-button" class="link editar">Editar</button></h3>
						<div>
							<p>{{empresa.quienes_somos}}</p>
						</div>
						<div class="double">
							<div>
								<div>
									<h4>N&uacute;mero de funcionarios</h4>
									<label>{{empresa.numero_funcionarios}}</label>
								</div>
								<div>
									<h4>Facturamiento anual</h4>
									<label>{{empresa.facturacion_anual}}</label>
								</div>
								<div>
									<h4>Sede Global</h4>
									<label>{{empresa.ciudad}}, {{empresa.pais}}</label>
								</div>
							</div>
							<div>
								<div>
									<h4>Sector</h4>
									<label>{{empresa.sector}}</label>
								</div>
								<div>
									<h4>Fundaci&oacute;n</h4>
									<label>{{empresa.ano_fundacion}}</label>
								</div>
								<div>
									<h4>Sitio web</h4>
									<a href="{{empresa.website}}">{{empresa.website}}</a>
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</section>
					<section class="ubicacion">
						<h3 class="title"><i class="location"></i>Ubicaci&oacute;n<button id="ubicacion-button" class="link editar">Editar</button></h3>
						<div>
							<p>{{empresa.direccion_map}}</p>
							<p id = "empresa-id_latitud">{{empresa.latitud}}</p>
							<p id = "empresa-id_longitud">{{empresa.longitud}}</p>
							<div id = "empresa-map" class="mapa" style="width: 630px; height: 230px"></div>
						</div>
					</section>
					<section class="oportunidades">
						<h3 class="title"><i class="oportunity"></i>Oportunidades</h3>
						<ul class="list">
							{% for oportunidad in oportunidades %}
								<li>
									<div class="oportunidad-box">
										<a class="titulo" href="{%url 'oportunidad-editar' oportunidad.id%}"><h2 class="link">{{oportunidad.titulo | title }}</h2></a>
										<div class="descripcion">
											<div class="datos">
												<div class="empresa"><i class="empresa"></i><label>{{oportunidad.empresa | upper}}</label></div>
												<div class="ubicacion"><i class="ubicacion"></i><label>{{oportunidad.ciudad}}, {{oportunidad.pais}}</label></div>
												<div class="remuneracion"><i class="remuneracion"></i><label>{{oportunidad.remuneracion}}</label></div>
											</div>
											<div class="ver-oportunidad">
												<a class="btn-action" href="{%url 'oportunidad-editar' oportunidad.id%}">VER OPORTUNIDAD</a>
												<label class="cierre">CIERRA EL {{oportunidad.fecha_cese}}</label>
											</div>
											<div class="clear"></div>
										</div>
										<div class="clear"></div>
									</div>
								</li>
							{% endfor %}
						</ul>
						<a class="link ver-mas" href="{%url 'empresa-oportunidad-listar'%}">Ver m&aacute;s oportunidades</a>
					</section>
					<section class="redes">
						<h3 class="title"><i class="network"></i>Redes sociales<a class="editar link" href="#editar-redes">Editar</a></h3>
						<div>
							<div class="facebook">
								<h4>FACEBOOK</h4>
							</div>
							<div class="twitter">
								<h4>TWITTER</h4>
							</div>
							<div class="clear"></div>
						</div>
					</section>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</section>
<div id="form-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h2 class="modal-title bold">Modal title</h2>
			</div>
            <div id="form-modal-body" class="modal-body">
				<p>One fine body&hellip;</p>
			</div>
            <div class="modal-footer">
				<input type="submit" class="btn btn-primary btn-submit" value ="Guardar" id="modal-aceptar">
				<button type="button" class="btn btn-default" data-dismiss="modal" id="modal-cerrar">Cerrar</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div style="display: none">
	<form class="form-horizontal" enctype="multipart/form-data"  action="" method="post">{% csrf_token %}
	{{form.as_p}}
	<input type="submit" id="cambiar_imagen">
	</form>
</div>




<style>
	.owl-carousel {
        height:369px;
		width:723Px;
    }
</style>
{% endblock %}

{% block js %}


 <script>
	 $(function(){
		 Empresa.inicializar_mapa();

		 $("#link-mi_empresa").addClass("active")
		 $('[data-toggle="tooltip"]').tooltip();
	 })
	 $('.owl-carousel').owlCarousel({
			 autoPlay: true,
             items: 1,
             loop: true,
             margin: 10,
             pagination: true,
		 });
	 var Empresa = {
		map: null,
		marca: null,
		inicializar_mapa: function () {
			var mapCanvas = document.getElementById('empresa-map');
			var mapOptions = {
				center: new google.maps.LatLng(44.5403, -78.5463),
				zoom: 8,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			};
			Empresa.map = new google.maps.Map(mapCanvas, mapOptions);

			if ($("#empresa-id_latitud").html() != "") {
				var latitud = $("#empresa-id_latitud").html().replace(",",".");
				var longitud = $("#empresa-id_longitud").html().replace(",",".");
				var punto = new google.maps.LatLng(latitud, longitud);
				Empresa.marcar_mapa(punto);
			}
		},
		 marcar_mapa: function(coordenadas){
			 var coordenadas = "";
			 if ($("#empresa-id_latitud").html() != "") {
				var latitud = $("#empresa-id_latitud").html().replace(",",".");
				var longitud = $("#empresa-id_longitud").html().replace(",",".");
				coordenadas = new google.maps.LatLng(latitud, longitud);
			}
            var marker = new google.maps.Marker({
                position: coordenadas,
                map: Empresa.map
            });
            Empresa.marca = marker;
            Empresa.map.setCenter(coordenadas);

        }
	};
	 var formAjaxSubmit = function(form, modal) {
		// var valid = $(form).validate().valid();
		 //if (valid){
			 $(form).submit(function (e) {
				 e.preventDefault();
				 $.ajax({
					 type: $(this).attr('method'),
					 url: $(this).attr('action'),
					 data: $(this).serialize(),
					 success: function (xhr, ajaxOptions, thrownError) {
						 if ($(xhr).find('.has-error').length > 0) {
							 $(modal).find('.modal-body').html(xhr);
							 formAjaxSubmit(form, modal);
						 } else {
							 $(modal).modal('toggle');
							 window.location.reload();
						 }


					 },
					 error: function (xhr, ajaxOptions, thrownError) { }
				 });
			 });
		 //}
	 }
	 $("#box-logo" ).mouseover(function() {
		$(".botones-imagen").css("visibility", "visible");
	 });
	 $("#box-logo" ).mouseout(function() {
		$(".botones-imagen").css("visibility", "hidden");
	 });
	 $("#editar-imagen").click(function(e) {
	  $("#id_logo").click();
	 });
	 $("#remover-imagen").click(function(e) {
	    $("#cambiar_imagen").click();
	 });
	 $("#id_logo").change(function(){
        $("#cambiar_imagen").click();
	 });
     $('#info-general-button').click(function() {
		 $('#modal-aceptar').css("display", "inline");
		 $('#form-modal-body').load('info-general/', function () {
        	$('#form-modal').modal('toggle');
			formAjaxSubmit('#form-modal-body form', '#form-modal');
		 });
	 });
	 $('#btn-edit').click(function() {
		 $('#modal-aceptar').css("display", "none");
		 $('#form-modal-body').load('imagenes/', function () {
        	$('#form-modal').modal('toggle');
			formAjaxSubmit('#form-modal-body form', '#form-modal');
		 });
	 });
	 $('#ubicacion-button').click(function() {
     	$('#form-modal-body').load('ubicacion/', function () {
        	$('#form-modal').modal('toggle');
			formAjaxSubmit('#form-modal-body form', '#form-modal');
			google.maps.event.trigger(Empresa.map, "resize");
		});
	 });
	 $("#form-modal .btn-submit").on("click", function(){
		 $(this).parents("#form-modal").find("form").submit();
	 });
 </script>
{% endblock %}