<div style="margin:0 50px">
	<form id = "empresa-info_general" class="form-horizontal" action="{% url 'mi-empresa-info-general' %}" method="post">{%csrf_token%}
		<div class = "form-group">
			<label class = "control-label bold col-sm-3">Nombre comercial *</label>
			<div class = "col-sm-9">
				{{ form.nombre }}
			</div>
		</div>
		<div class = "form-group">
			<label class = "control-label bold col-sm-3">Quienes somos *</label>
			<div class = "col-sm-12">
				<textarea id = "txt-quienes_somos" name="quienes_somos_clone"></textarea>
					{{ form.quienes_somos }}
			</div>
		</div>

		<div class = "form-group">
			<label class = "control-label bold col-sm-3">RUC *</label>
			<div class = "col-sm-9">
				{{ form.RUC }}
				<label class="descripcion">Este campo es privado y no es visible para los candidatos.</label>
			</div>
		</div>
		<div class = "form-group">
			<label class = "control-label bold col-sm-3">Teléfono *</label>
			<div class = "col-sm-9">
				{{ form.RUC }}
				<label class="descripcion">Este campo es privado y no es visible para los candidatos.</label>
			</div>
		</div>
		<div class = "form-group">
			<label class = "control-label bold col-sm-3">Sector</label>
			<div class = "col-sm-9">
				{{ form.sector }}
			</div>
		</div>
		<div class = "form-group">
			<label class = "control-label bold col-sm-3">Número de funcionarios</label>
			<div class = "col-sm-9">
				{{ form.numero_funcionarios }}
			</div>
		</div>
		<div class = "form-group">
			<label class = "control-label bold col-sm-3">Facturación anual</label>
			<div class = "col-sm-9">
				{{ form.facturacion_anual }}
			</div>
		</div>
		<div class = "form-group">
			<label class = "control-label bold col-sm-3">Fundación</label>
			<div class = "col-sm-9">
				{{ form.ano_fundacion }}
			</div>
		</div>
		<div class = "form-group">
			<label class = "control-label bold col-sm-3">Sede Global</label>
			<div class = "col-sm-4">
				{{ form.pais }}
			</div>
			<div class = "col-sm-5">
				{{ form.ciudad }}
			</div>
		</div>
		<div class = "form-group">
			<label class = "control-label bold col-sm-3">Website</label>
			<div class = "col-sm-9">
				{{ form.website }}
			</div>
		</div>

		<!--<input type="submit" class="btn btn-submit col-md-offset-2">-->
	</form>
</div>
<script>
	$(function(){
		$("#empresa-info_general input").addClass("form-control");
		$("#empresa-info_general select").addClass("form-control");
		$("#empresa-info_general textarea").addClass("form-control");
		$("#txt-quienes_somos").val($("#id_quienes_somos").val());
		$("#id_quienes_somos").hide();

		$("#txt-quienes_somos").on("input", function(){
			$("#id_quienes_somos").val($("#txt-quienes_somos").val());
		});
		$("#form-modal .modal-title").html('<i class="business"></i>Sobre la empresa');
		$("#empresa-info_general").validate({
            errorPlacement: function (error, element) {
				if ($(element).is("[name=pais]") || $(element).is("[name=ciudad]")){
					$("#id_pais").tooltip('destroy');
					$("#id_pais").tooltip({
						animation: true,
						placement: "left",
						title: $(error).text(),
						trigger: "manual"
					} );
					$("#id_pais").tooltip('show');
				}
				else {
					$(element).tooltip('destroy');
					$(element).tooltip({
						animation: true,
						placement: "left",
						title: $(error).text(),
						trigger: "manual"
					} );
					$(element).tooltip('show');
				}
            },
            success: function (label, element) {
				if ($(element).is("[name=pais]") || $(element).is("[name=ciudad]")){
					$("#id_pais").tooltip('hide');
				}
				else {
					$(element).tooltip('hide');
				}

            },
            rules: {
				nombre: {
					required: true,
				},
				quienes_somos_clone: {
					required: true,
				},
                RUC: {
                    required: true
                },
                telefono: {
                    required: true
                }
            },
            messages: {
				nombre: {
					required: "Este campo es obligatorio",
				},
				quienes_somos_clone: {
					required: "Este campo es obligatorio",
				},
                RUC: {
                    required: "Este campo es obligatorio",
                },
                telefono: {
                    required: "Este campo es obligatorio"
                }
            }
        });
	});
</script>