{% extends 'empresa/base.html' %}
{% load staticfiles %}
{% block content %}
<script src="{% static 'js/jquery.inputmask.js' %}"></script>
<script src="{% static 'js/owl.carousel.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}"/>
<link rel="stylesheet" href="{% static 'css/owl.theme.css' %}"/>
<style>
	#id_pais{
		width: 155px !important;
	}
	#id_ciudad{
		width: 175px !important;
	}
	.select2-selection--single{
		background-color: #f9f9f9 !important;
		border-color: #ccc !important;
	}
</style>
<section class="empresa empresa-detalle">
	<div class="centered">
		<div class="panel left">
			<div class="box">
				<header class="pos-relative" id="box-logo">
					<!--<button id="logo-button" class="editar btn-edit">Editar</button>-->
					<img class="imagen" src="{{empresa.set_logo}}" />
					<div class="botones-imagen" style="visibility:hidden;">
						<a id="btn-logo"  data-toggle="tooltip" data-placement="top"
						 title="Se recomienda que las dimensiones de la imagen sean mayores a 230x230 píxeles"><i class="fa fa-pencil"></i></a>
						<a id="remover-imagen"><i class="fa fa-times"></i></a>
					</div>
				</header>
				<div class="content">
					<h3 class="link">{{empresa.nombre | upper}}</h3>
					<label class="descripcion">
                        {% if empresa.sector != None %}
                            {{empresa.sector | upper}}
                        {% else %}
                            Sin definir sector
                        {%endif%}
                        </label>
				</div>
			</div>
		</div>
		<div class="panel right principal">
			<div class="box detail">
				<header class="pos-relative">
					<!--<div class="slider"id="fade">-->
						<!--<div class="owl-carousel">-->

							<!--&lt;!&ndash;<div class="item-video">&ndash;&gt;-->
                                <!--&lt;!&ndash;<a class="owl-video" href="http://www.youtube.com/watch?v=0fhoIate4qI"></a>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
							<!--{%if imagenes%}-->
							<!--{%for i in imagenes.all%}-->
                            <!--<div class="item">-->
                                <!--&lt;!&ndash;<img src="{%static 'img/oficina-11.png' %}"/>&ndash;&gt;-->
								<!--<img src="{{i.set_imagen}}"/>-->
                            <!--</div>-->
							<!--{%endfor%}-->
							<!--{%else%}-->
							 <!--<div class="item">-->
                                <!--<img src="{%static 'img/imagen-default-mensaje.png' %}"/>-->
                            <!--</div>-->

							<!--{%endif%}-->
                        <!--</div>-->
					<!--</div>-->
					<!--<a class="btn-edit" id="btn-edit">Editar</a>-->
					<div id="slider-empresa"></div>
					<div class ="boton-imagen edit" id="btn-imagenes">
						<a class data-toggle="tooltip" data-placement="top"
						 title="Se recomienda que las dimensiones de la imagen sean mayores a 725x370 píxeles"><i class="fa fa-picture-o"></i></a>
					</div>
                    <div class ="boton-video edit" id="btn-videos">
						<a class data-toggle="tooltip" data-placement="top"
						 title="Ingresa las url de Youtube"><i class="fa fa-video-camera"></i></a>
					</div>
					<!--<a href="{%url 'upload-new'%}" class="btn-edit" data-toggle="modal" data-target="#imagenes"></a>-->
				</header>
				<div class="content">
					<section class="about">
						<h3 class="title"><i class="business"></i>Sobre la empresa<button id="info-general-button" class="link editar">Editar</button></h3>
						<div>
							<p>
								{% if empresa.quienes_somos != None %}
									{{empresa.quienes_somos}}
								{%endif%}
							</p>
						</div>
						<div class="double">
							<div>
								<div>
									<h4>N&uacute;mero de funcionarios</h4>
									<label>
										{% if empresa.numero_funcionarios != None %}
											{{empresa.numero_funcionarios}}
                                        {% else %}
                                            No especificado
										{%endif%}
									</label>
								</div>
								<div>
									<h4>Facturación anual</h4>
									<label>
										{% if empresa.facturacion_anual != None %}
											{{empresa.facturacion_anual}}
                                        {% else %}
                                            No especificado
										{%endif%}
									</label>
								</div>
								<div>
									<h4>Sede Global</h4>
									<label>
										{% if empresa.ciudad != None %}
											{% if empresa.pais != None %}
												{{empresa.ciudad}}, {{empresa.pais}}
											{%else%}
												{{empresa.ciudad}}
											{%endif%}
                                        {% else %}
                                            No especificado
										{%endif%}
									</label>
								</div>
							</div>
							<div>
								<div>
									<h4>Sector</h4>
									<label>
										{% if empresa.sector != None %}
											{{empresa.sector}}
                                        {% else %}
                                            No especificado
										{%endif%}
									</label>
								</div>
								<div>
									<h4>Año de Fundaci&oacute;n</h4>
									<label>
                                        {% if empresa.ano_fundacion != None and empresa.ano_fundacion != ''%}
                                            {{empresa.ano_fundacion}}
                                        {% else %}
                                            No especificado
										{%endif%}
                                    </label>
								</div>
								<div>
									<h4>Sitio web</h4>
                                     {% if empresa.website != None and empresa.website != ''%}
                                         <a href="{{website}}" target="_blank">{{empresa.website}}</a>
                                     {% else %}
                                         No especificado
                                     {%endif%}

								</div>
							</div>
							<div class="clear"></div>
						</div>
					</section>
					<section class="ubicacion">
						<h3 class="title"><i class="location"></i>Ubicaci&oacute;n<button id="ubicacion-button" class="link editar">Editar</button></h3>
						<div>


							<div><i class = "fa fa-map-marker"></i>
                            <span id = "empresa-id_direccion_map" >{{empresa.direccion_map}}</span></div>
                            <span id = "empresa-id_longitud" style = "display:none">{{empresa.longitud}}</span>
                            <span id = "empresa-id_latitud" style = "display:none">{{empresa.latitud}}</span><br><br>


							<div id = "empresa-map" class="mapa" style="width: 630px; height: 230px"></div>
						</div>
					</section>
					<section class="oportunidades">
						<h3 class="title"><i class="oportunity"></i>Oportunidades</h3>
						<ul class="list">
							{% for oportunidad in oportunidades %}
								<li>
									<div class="oportunidad-box">
										<a class="titulo" href="{%url 'oportunidad-editar' oportunidad.id%}"><h2 class="link">{{oportunidad.titulo | title }}</h2></a>
										<div class="descripcion">
											<div class="datos">
												<div class="empresa"><i class="empresa"></i><label>{{oportunidad.empresa | upper}}</label></div>
												<div class="ubicacion"><i class="ubicacion"></i><label>{{oportunidad.ciudad}}, {{oportunidad.pais}}</label></div>
												<div class="remuneracion"><i class="remuneracion"></i><label>
                                                    {%if oportunidad.remuneracion.id == 3 %}
                                                        $ {{oportunidad.remuneracion_min}}
                                                    {%elif oportunidad.remuneracion.id == 2 %}
                                                        {{oportunidad.remuneracion_min}} - $ {{oportunidad.remuneracion_max}}
                                                    {%else%}
                                                        {{oportunidad.remuneracion}}
                                                    {%endif%}
                                                </label></div>
											</div>
											<div class="ver-oportunidad">
												<a class="btn-action" href="{%url 'oportunidad-editar' oportunidad.id%}">VER OPORTUNIDAD</a>
												<label class="cierre">CIERRA EL {{oportunidad.fecha_cese |date:"j.m.Y"}}</label>
											</div>
											<div class="clear"></div>
										</div>
										<div class="clear"></div>
									</div>
								</li>
							{% endfor %}
						</ul>
                        {% if oportunidades_total > 0 %}
                            {% if oportunidades_total > 2 %}
                            <a class="link ver-mas" href="{%url 'empresa-oportunidad-listar'%}">Ver m&aacute;s oportunidades</a>
                            {% endif%}
                        {% else  %}
                        No se ha publicado ninguna postulación
                    {% endif %}
					</section>
					<section class="redes">
						<h3 class="title"><i class="network"></i>Redes sociales<button id="redes-sociales-button" class="link editar">Editar</button></h3>
						<div>
							<div class="facebook">
								<h4>FACEBOOK</h4>
								<div>
                                    {% if  redes_sociales.facebook  %}
                                    <a target="_blank" href="http://{{redes_sociales.facebook}}">{{redes_sociales.facebook}}</a>
                                    {% endif %}
                                </div>
							</div>
							<div class="twitter">
								<h4>TWITTER</h4>
								<div>
                                    {% if  redes_sociales.twitter  %}
                                    <a target="_blank" href="http://{{redes_sociales.twitter}}">{{redes_sociales.twitter}}</a>
                                    {% endif %}
                                </div>

							</div>
							<div class="clear"></div>
						</div>
					</section>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</section>
<div id="form-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h2 class="modal-title bold">Modal title</h2>
			</div>
            <div id="form-modal-body" class="modal-body">
				<p>One fine body&hellip;</p>
			</div>
            <div class="modal-footer">
				<input type="submit" class="btn btn-primary btn-submit" value ="Guardar" id="modal-aceptar">
				<button type="button" class="btn btn-default" data-dismiss="modal" id="modal-cerrar">Cerrar</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div style="display: none">
	<form class="form-horizontal" enctype="multipart/form-data"  action="" method="post">{% csrf_token %}
	{{form.as_p}}
	<input type="submit" id="cambiar_imagen">
	</form>
</div>
<style>
	.owl-carousel {
        height:369px;
		width:723Px;
    }
</style>
{% endblock %}

{% block js %}

<script src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>
<script src="{% static 'js/tmpl.min.js' %}"></script>
<script src="{% static 'js/load-image.min.js' %}"></script>
<script src="{% static 'js/canvas-to-blob.min.js' %}"></script>
<script src="{% static 'js/jquery.blueimp-gallery.min.js'%}"></script>
<script src="{% static 'js/jquery.iframe-transport.js'%}"></script>
<script src="{% static 'js/jquery.fileupload.js'%}"></script>
<script src="{% static 'js/jquery.fileupload-process.js'%}"></script>
<script src="{% static 'js/jquery.fileupload-image.js'%}"></script>
<script src="{% static 'js/jquery.fileupload-audio.js' %}"></script>
<script src="{% static 'js/jquery.fileupload-video.js' %}"></script>
<script src="{% static 'js/jquery.fileupload-validate.js'%}"></script>
<script src="{% static 'js/jquery.fileupload-ui.js'%}"></script>

 <script>
	 $(function(){
		 Empresa.slider_imagenes();
		 Empresa.inicializar_mapa();
		 $("#link-mi_empresa").addClass("active");
		 $('[data-toggle="tooltip"]').tooltip();

	 });
	 var formAjaxSubmit = function(form, modal) {
		 var valid = $(form).validate().valid();
		 if (valid) {
			 $(form).submit(function (e) {
				 e.preventDefault();
				 $.ajax({
					 type: $(this).attr('method'),
					 url: $(this).attr('action'),
					 data: $(this).serialize(),
					 success: function (xhr, ajaxOptions, thrownError) {

						 if ($(xhr).find('.has-error').length > 0) {
							 $(modal).find('.modal-body').html(xhr);
							 formAjaxSubmit(form, modal);
						 } else {
							 var validez = $(form).validate().valid();

							 if(validez){
								 $(modal).modal('toggle');
								 window.location.reload();
							 }
						 }
					 },
					 error: function (xhr, ajaxOptions, thrownError) {}
				 });
			 });
		 }
	 }
	 var Empresa = {
		map: null,
		marca: null,
		inicializar_mapa: function () {
			var mapCanvas = document.getElementById('empresa-map');
			var mapOptions = {
				center: new google.maps.LatLng(44.5403, -78.5463),
				zoom: 15,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			};
			Empresa.map = new google.maps.Map(mapCanvas, mapOptions);
			if ($("#empresa-id_latitud").html() != ""  && $("#empresa-id_latitud").html() != "None") {
				var latitud = $("#empresa-id_latitud").html().replace(",",".");
				var longitud = $("#empresa-id_longitud").html().replace(",",".");
				var punto = new google.maps.LatLng(latitud, longitud);
				Empresa.marcar_mapa(punto);
			}
		},
		marcar_mapa: function(coordenadas){
			 var coordenadas = "";
			 if ($("#empresa-id_latitud").html() != "") {
				var latitud = $("#empresa-id_latitud").html().replace(",",".");
				var longitud = $("#empresa-id_longitud").html().replace(",",".");
				coordenadas = new google.maps.LatLng(latitud, longitud);
			}
            var marker = new google.maps.Marker({
                position: coordenadas,
                map: Empresa.map
            });
            Empresa.marca = marker;
            Empresa.map.setCenter(coordenadas);
			var geocoder = new google.maps.Geocoder();
            geocoder.geocode({
                location: new google.maps.LatLng(coordenadas.lat(),coordenadas.lng())
                }, function (response, status) {
                    if (response != null && response.length > 0 && response.status != "ZERO_RESULTS")
                        $("#empresa-id_direccion_map").html(response[0]["formatted_address"]);
            });
        },
		slider_imagenes: function(){
			$('#slider-empresa').load('slider-imagenes/'+{{empresa.id}} );
		},
	 };
	 $("#modal-listo").click(function (){
         Empresa.slider_imagenes();
	 });
	 $("#box-logo" ).mouseover(function() {
         $(".botones-imagen").css("visibility", "visible");
	 });
	 $("#box-logo" ).mouseout(function() {
         $(".botones-imagen").css("visibility", "hidden");
	 });
	 $("#btn-logo").click(function(e) {
         $("#id_logo").click();
	 });
	 $("#remover-imagen").click(function(e) {
         $("#cambiar_imagen").click();
	 });
	 $("#id_logo").change(function(){
         $("#cambiar_imagen").click();
	 });
     $('#info-general-button').click(function() {
		 $('#modal-aceptar').css("display", "inline");
		 $('#modal-listo').css("display", "none");
		 $('#modal-cerrar').css("display", "inline");
		 $('#form-modal-body').load('info-general/', function () {
        	$('#form-modal').modal('toggle');
			formAjaxSubmit('#form-modal-body form', '#form-modal');
		 });
	 });
	 $('#redes-sociales-button').click(function() {
		 $('#modal-aceptar').css("display", "inline");
		 $('#form-modal-body').load('redes-sociales/', function () {
        	$('#form-modal').modal('toggle');
		 });
	 });
	 $('#btn-imagenes').click(function() {
		 $('#modal-aceptar').css("display", "none");
		 $('#modal-cerrar').css("display", "none");
		 $('#form-modal-body').load('imagenes/', function () {
        	$('#form-modal').modal('toggle');
		 });
	 });
     $('#btn-videos').click(function() {
		 $('#modal-aceptar').css("display", "none");
		 $('#modal-cerrar').css("display", "none");
		 $('#form-modal-body').load('videos/', function () {
        	$('#form-modal').modal('toggle');
		 });
	 });
	 $('#ubicacion-button').click(function() {
     	$('#form-modal-body').load('ubicacion/', function () {
        	$('#form-modal').modal('toggle');
			google.maps.event.trigger(Empresa.map, "resize");
		});
	 });
	 $("#form-modal .btn-submit").on("click", function(){
		 $(this).parents("#form-modal").find("form").submit();
	 });
     var reload = false;
     $("body").on("hide.bs.modal",".modal", function(){
         if (reload != null && reload ){
             window.location.reload();
         }
     });
 </script>
{%endblock%}