<style>
	.tooltip {
		width: 167px;
	}

	.tooltip-arrow{
		top: 44.1754%;
	}
</style>

<div style="margin:0 50px">
	<form id = "empresa-redes-sociales" class="form-horizontal" action="{% url 'mi-empresa-redes-sociales' %}" method="post">
		{%csrf_token%}
		<div class = "form-group">
			<label class = "control-label bold col-sm-3">facebook</label>
			<div class = "col-sm-9">
				{{ form.facebook }}
			</div>
		</div>
		<div class = "form-group">
			<label class = "control-label bold col-sm-3">Twitter</label>
			<div class = "col-sm-9">
				{{ form.twitter }}
			</div>
		</div>
		<!--<input type="submit" class="btn btn-submit col-md-offset-2">-->
	</form>
</div>
<script>
	$(function(){

		$.validator.addMethod('checkurl',function(value, element, param){
			if (value){
				return /^(www\.)[A-Za-z0-9_-]+\.+[A-Za-z0-9.\/%&=\?_:;-]+$/.test(value);
			}
			else{
				return true;
			}
		},'URL inválida');

		$("#empresa-redes-sociales").validate({
            errorPlacement: function (error, element) {

				$(element).tooltip('destroy');
				$(element).tooltip({
					animation: true,
					placement: "right",
					title: $(error).text(),
					trigger: "manual"
				} );
				$(element).tooltip('show');
            },
            success: function (label, element) {
				$(element).tooltip('hide');
            },
            rules: {
				facebook: {
					checkurl: true,
				},
				twitter: {
					checkurl: true
				}
            }
        });
	});


</script>