<div style="margin:0 50px">
	<form class="form-horizontal" action="{% url 'mi-empresa-ubicacion' %}" method="post">{%csrf_token%}
        {{form.direccion_map}}
        {{form.longitud}}
        {{form.latitud}}
		<!--<input type="submit" class="btn btn-submit col-md-offset-2">-->
	</form>

    <div id="mi-empresa-ubicacion-error" class ="text-center" style ="color:red"></div>
    <br>
</div>
<style>
    .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    #pac-input {
        background-color: #fff !important;
        /*font-family: Roboto;*/
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
    }
    #pac-input:focus {
        border-color: #4d90fe;
    }
    .pac-container {
        /*font-family: Roboto;*/
        z-index: 3000;
    }

    #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
    }
    #type-selector label {
        /*font-family: Roboto;*/
        font-size: 13px;
        font-weight: 300;
    }
    #target {
        width: 345px;
    }
</style>
<input id="pac-input" class="controls" type="text" placeholder="Búsqueda">
<div id = "ubicacion-map" style = "height: 350px"></div>
<script>
    $(function(){
        $("#modal-aceptar").on("click", function(){
            if(Ubicacion.marca == null){
                $("#mi-empresa-ubicacion-error").html("Debe hacer click en el mapa para marcar un punto en él");
                return false;
            }
        });
    });
    var Ubicacion = {
        map: null,
        marca: null,
        inicializar_mapa: function() {
            var mapCanvas = document.getElementById('ubicacion-map');
            var mapOptions = {
                center: new google.maps.LatLng(44.5403, -78.5463),
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            Ubicacion.map = new google.maps.Map(mapCanvas, mapOptions);
            google.maps.event.addListener(Ubicacion.map, 'click', function(event) {
                Ubicacion.marcar_mapa(event.latLng);
            });
            if ($("#id_latitud").val() != ""){
                var latitud = $("#id_latitud").val();
                var longitud = $("#id_longitud").val();
                var punto = new google.maps.LatLng(latitud, longitud);
                Ubicacion.marcar_mapa(punto);
            }

            /*Búsqueda*/
            var input = document.getElementById('pac-input');
            var searchBox = new google.maps.places.SearchBox(input);
            Ubicacion.map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            // Bias the SearchBox results towards current map's viewport.
            Ubicacion.map.addListener('bounds_changed', function() {
                searchBox.setBounds(Ubicacion.map.getBounds());
            });
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
            searchBox.addListener('places_changed', function() {
                var places = searchBox.getPlaces();
                if (places.length == 0) {
                    return;
                }
              // For each place, get the icon, name and location.
                var bounds = new google.maps.LatLngBounds();
                places.forEach(function(place) {

                    if (place.geometry.viewport) {
                        // Only geocodes have viewport.
                        bounds.union(place.geometry.viewport);
                    } else {
                        bounds.extend(place.geometry.location);
                    }
                });
                Ubicacion.map.fitBounds(bounds);
            });
        },
        marcar_mapa: function(coordenadas){
            Ubicacion.borrar_marca();
            var marker = new google.maps.Marker({
                position: coordenadas,
                map: Ubicacion.map
            });
            Ubicacion.marca = marker;
            google.maps.event.addListener(marker, "rightclick", function (point) {
                Ubicacion.borrar_marca();
            });
            Ubicacion.map.setCenter(coordenadas);
            $("#id_latitud").val(coordenadas.lat());
            $("#id_longitud").val(coordenadas.lng());

            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({
                location: new google.maps.LatLng(coordenadas.lat(),coordenadas.lng())
                }, function (response, status) {
                    if (response != null && response.length > 0 && response.status != "ZERO_RESULTS")
                        $("#id_direccion_map").val(response[0]["formatted_address"]);
            });
        },
        borrar_marca: function(){
            if (Ubicacion.marca != null) {
                Ubicacion.marca.setMap(null);
                Ubicacion.marca = null;
            }
        },
    };
    var interval;
    $(function(){
        interval = setInterval(function(){
            if ($("#ubicacion-map").width() != 0){
                clearInterval(interval);
                Ubicacion.inicializar_mapa();
            }
        }, 1000);
        $("#form-modal .modal-title").html('<i class="location"></i>Ubicación');
        $("#id_latitud, #id_longitud, #id_direccion_map").hide();

    });

</script>