{% load staticfiles %}
{% csrf_token %}
<li class="oportunidad-estadistica">
						<div class="box header">
							<img class="imagen" src="{{oportunidad.empresa.set_logo}}" />
							<div class="descripcion">
								<a href="{%url 'empresa-oportunidad-candidatos' request.GET.id%}"><h2 class="link">{{oportunidad.titulo}}</h2></a>
								<div class="empresa"><i class="empresa"></i><label class = "text-uppercase">{{oportunidad.empresa.nombre}}</label></div>
							</div>
							<div class="opciones" onclick="opciones({{request.GET.id}})">
								<i class="menu"></i>
								<div class="contextual-menu" id="menu-{{request.GET.id}}">
									<div class="wrapper">
										<div class="pin"></div>
										<ul>
											<li><a href="{%url 'oportunidad-editar' request.GET.id%}"><span>Editar</span><div class="clear"></div></a></li>
											<li><a href="{%url 'empresa-oportunidad-candidatos' request.GET.id%}"><span>Ver candidatos</span><div class="clear"></div></a></li>
											<li><a class="archivar" data-id="{{oportunidad.id}}"><span>Archivar</span><div class="clear"></div></a></li>
										<ul>
									</div>
								</div>
							</div>
							<div class="estado">
								{%if oportunidad.estado_oportunidad == 'P' %}
									<label>oportunidad archivada</label>
								{%endif%}
								{%if oportunidad.estado_oportunidad == 'A' %}
									<label style = "background: #16a085">postulacion abierta</label>
								{%endif%}
								{%if oportunidad.estado_oportunidad == 'C' %}
									<label style = "background: #c0392b">postulacion cerrada</label>
								{%endif%}
								<label>CIERRA EL {{oportunidad.fecha_cese | date:"j.m.Y"}}</label>
							</div>
							<div class="clear"></div>
						</div>
						<div class="visualizaciones">
							<div class="box">
								<div class="estadistica">
									<div class="cifra">
										<label id = "visualizaciones-{{request.GET.id}}"></label>
										<label>Visualizaciones</label>
									</div>
									<div class="grafico grafico-barras">
										<span class = "sparklines" data-id = "{{request.GET.id}}"/>
									</div>
									<div class="clear"></div>
								</div>
								<div class="estadistica">
									<div class="cifra" >
										<label id="cifra-{{request.GET.id}}"></label>
										<label>Inscripciones</label>
									</div>
									<div class="grafico usuarios fotos-post" id="foto-post-{{request.GET.id}}">
										<div class="clear"></div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
						<div class="inscripciones">
							<div class="box">
								<label class="titulo">Inscripciones en los &uacute;ltimos 7 d&iacute;as</label>
								<div class="grafico grafico-inscripciones">
									<div id = "chart-id-{{request.GET.id}}" data-id="{{request.GET.id}}" class="ct-chart " data-info = "[[5, 9, 7, 8, 5, 3, 5, 4]]"></div>
									{{postulaciones}}
								</div>
							</div>
						</div>
						<div class="clear"></div>
</li>

<script src="{% static 'js/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'js/chartist.min.js' %}"></script>
<script src="{% static 'js/mixpanel_data_export.js' %}"></script>
<script src="{% static 'js/moment.js' %}"></script>
<script src="{% static 'js/moment-with-locales.js' %}"></script>
<link rel = "stylesheet" href="{% static 'css/chartist.min.css' %}"/>
<script>
	moment.locale('es');
	panel = new MixpanelExport({
		api_key: "b374f1f8bfadcf8c42f2e06c3db07a88",
		api_secret: "be1d1645e65e9a294c102cdb8dbbf209"
	});

	$(function() {
	$("#link-oportunidades").addClass("active");
		var date = moment().format("YYYY-MM-DD");
		var last = moment().subtract(7, 'days').format("YYYY-MM-DD");

		$(".sparklines").each(function () {
			var id = $(this).data("id");
			var data = $(this).data("info");
			var obj = $(this)
			panel.retention({
				from_date: last,
				to_date: date,
				expire: 8798798765,
				retention_type: "compounded",
				event: "Vista Oportunidad",
				//born_event: "Visita Oportunidad",
				where: 'properties["OportunidadID"] == "'+ id +'"'
			}).then(function(data) {
				var array = new Array();
				var total = 0;
				for (var i = 6; i >= 0 ; i--) {
					var last = moment().subtract(i, 'days');
					array.push(data[last.format("YYYY-MM-DD")] == null ? 0 : data[last.format("YYYY-MM-DD")].first);
					total+= data[last.format("YYYY-MM-DD")] == null ? 0 : parseInt(data[last.format("YYYY-MM-DD")].first);
				}
				//$("#visualizaciones-"+id).html(total);
				$(obj).sparkline(array, {
					type: 'bar',
					height: '50px',
					barSpacing: 7,
					barWidth: 10,
					barColor: '#5d9cf9'
				});
				$.ajax({
					data : {'id':id},
					url: '{%url "contador-visitas-oportunidad-obtener" %}',
					type: 'get',
					success: function(data){
						$("#visualizaciones-"+id).html(data["total"]);
					}
				});
			});
		});
		var array = new Array();
		for (var i = 6; i >= 0 ; i--) {
			var last = moment().subtract(i, 'days');
			array.push(last.format('dddd'));
		}
		$(".ct-chart").each(function(){
			var id = $(this).data("id");
			var d = [];
			$.ajax({
				data: {'id': id},
				url: '{%url "empresa-oportunidad-postulaciones" %}',
				type: 'get',
				success: function (data) {
					$("#cifra-"+id).html(data[0][0]);
					new Chartist.Line("#chart-id-"+id, {
						labels: array,
						colors:["#333", "#222", "#111", "#000"],
						series: [data[0][1]]
					}, {
						low: 0,
						showArea: true
					});
				}
			});
		});
		$(".fotos-post").each(function(){
			var ele = $(this).attr("id").split("-");
			var id = ele[2];
			$.ajax({
				data: {'id': id},
				url: '{%url "empresa-oportunidad-estudiantes" %}',
				type: 'get',
				success: function (data) {
					var html = "";
					for(var i = 0; i <data.length ; i++) {
						html += '<img src="'+ data[i][0] +'" title="'+data[i][1]+'"/>';
					}
					$("img").tooltip();
					$("#foto-post-"+id).html(html);
				}
			});
		});
	})
</script>
<style>
	.ct-chart { margin-left: -40px; margin-top: -20px;}
</style>


