{% extends 'empresa/base.html' %}

{% block content %}
 <section class="oportunidades-empresa">
			<div class="centered">
				<select class="filtro">
					<option value="A">Oportunidades Abiertas</option>
					<option value="C">Oportunidades Cerradas</option>
					<option value="P">Oportunidades Pendientes</option>
				</select>
				<div class="clear"></div>
				<ul class="list">
					{% include page_template %}
				</ul>
			</div>
		</section>
 {% endblock %}
{% block js%}
	{{ block.super }}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
{# Deprecated. #}
<script src="{{ STATIC_URL }}endless_pagination/js/endless.js"></script>
<script src="{{ STATIC_URL }}endless_pagination/js/endless_on_scroll.js"></script>
<script>
   (function(){  fnBusqueda();})();

	$('#busqueda').keyup(fnBusqueda);
	function fnBusqueda(){
		var busqueda = $('#busqueda').val();
		$.ajax({
			data : {'busqueda':busqueda},
			url: '{%url "empresa-oportunidad-busqueda" %}',
			type: 'get',
			success:function(object, status, response){

				$("#contenidojs").html(response.responseText);
			}

		});
	}

</script>
{% endblock %}
