
{% extends 'empresa/base.html' %}
{% load staticfiles %}
{% block content %}
<section class="oportunidades-empresa">
			<div class="centered">
				<select class="filtro" id="filtro">
					<option value="A">Postulaciones Abiertas</option>
					<option value="C">Postulaciones Cerradas</option>
					<option value="P">Oportunidades Archivadas</option>
				</select>
				<div class="clear"></div>
				<ul class="list" id ="oportunidad-lista"></ul>
			</div>
	<div id="form-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title"><strong>Archivar Oportunidad</strong></h3>
                    </div>
            <div id="form-modal-body" class="modal-body">
				<p>Al archivar la Oportunidad pasará a estado Cerrada, y todas las postulaciones relacionadas seran
					canceladas.</p>

			</div>
            <div class="modal-footer">
				<button type="button" class="btn btn-default" id="btn_archivar">Aceptar</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</section>

{% csrf_token %}
{% endblock%}
{% block js %}
<script type="text/javascript">
	$( document ).ready( function() {
		$( '#filtro' ).change( function() {
			fnCargarOportunidades();
		});
		fnCargarOportunidades();
		$('#oportunidad-lista').on('click', '.archivar', function(){
			$('#btn_archivar').data('id', $(this).data('id'));
        	$('#form-modal').modal('toggle');
		});
		$('#oportunidad-lista').on('click', '#btn-archivar', function(){
        	$.get("{% url 'oportunidad-archivar' %}?id=" + $(this).data('id'), function(resp){

			});
		});

	});


	function opciones(id) {
		if ($('#menu-' + id).hasClass('active'))
			$('#menu-' + id).removeClass('active');
		else
			$('#menu-' + id).addClass('active')
	}
	function fnCargarOportunidades(){
		$.ajax({
				data: {'b': $( '#filtro' ).val() },
				url: "{% url 'empresa-oportunidad-buscar' %}",
				type: 'get',
				success: function (data) {
					 var par= '';
					 $( '#oportunidad-lista' ).html('');
					fnCargarOportunidad(data, 0);
				}
			});
	}
	function fnCargarOportunidad(arra, index) {
		$(".loading-wrapper").show();
		if (arra.length > index){
			$.get("{% url 'empresa-oportunidad-cargar-lista' %}?id=" + arra[index].id, function(htmlexterno){
   				$('#oportunidad-lista').append(htmlexterno);
				fnCargarOportunidad(arra, index+1);
			});
		}
		else{
			$(".loading-wrapper").hide();
		}
	}

</script>



{%endblock%}