{% extends 'empresa/base.html' %}
{% block content %}
<section class="oportunidades-empresa">
			<div class="centered">
				<select class="filtro" id="filtro">
					<option value="A">Oportunidades Abiertas</option>
					<option value="C">Oportunidades Cerradas</option>
					<option value="P">Oportunidades Pendientes</option>
				</select>
				<div class="clear"></div>
				<ul class="list" id ="oportunidad-lista">

				</ul>
			</div>
</section>
{% endblock%}
{% block js %}
<script type="text/javascript">
$( document ).ready( function() {
    $( '#filtro' ).change( function() {
       fnFiltrarOportunidades();
    });
    fnFiltrarOportunidades();
});
 function fnFiltrarOportunidades(){
   b = $( '#filtro' ).val();
   $( '#oportunidad-lista' ).html( '&nbsp;' ).load( '{% url 'empresa-oportunidad-busqueda' %}?b=' + b );
 }
</script>
{%endblock%}