{% if oportunidades|length %}
		{% for oportunidad in oportunidades.all%}
					<li class="oportunidad-estadistica">
						<div class="box header">
							<img class="imagen" src="{{empresa.set_logo}}" />
							<div class="descripcion">
								<a href="candidatos_oportunidad.html"><h2 class="link">{{oportunidad.titulo}}</h2></a>
								<div class="empresa"><i class="empresa"></i><label>{{empresa.nombre}}</label></div>
							</div>
							<div class="opciones" onclick="opciones({{oportunidad.id}})">
								<i class="menu"></i>
								<div class="contextual-menu" id="menu-{{oportunidad.id}}">
									<div class="wrapper">
										<div class="pin"></div>
										<ul>
											<li><a href="{%url 'oportunidad-editar' oportunidad.id%}"><span>Editar</span><div class="clear"></div></a></li>
											<li><a href="candidatos_oportunidad.html"><span>Ver candidatos</span><div class="clear"></div></a></li>
											<li><a href="#"><span>Archivar</span><div class="clear"></div></a></li>
										<ul>
									</div>
								</div>
							</div>
							<div class="estado">
								{%if oportunidad.estado_oportunidad == 'P' %}
									<label>pendiente</label>
								{%endif%}
								{%if oportunidad.estado_oportunidad == 'A' %}
									<label>abierta</label>
								{%endif%}
								{%if oportunidad.estado_oportunidad == 'C' %}
									<label>cerrada</label>
								{%endif%}
								<label>CIERRA EL {{oportunidad.fecha_cese}}</label>
							</div>
							<div class="clear"></div>
						</div>
						<div class="visualizaciones">
							<div class="box">
								<div class="estadistica">
									<div class="cifra">
										<label>792</label>
										<label>Visualizaciones</label>
									</div>
									<div class="grafico grafico-barras">
										<span class = "sparklines" data-info = "[5,6,7,2,0,0,0,4]"/>
									</div>
									<div class="clear"></div>
								</div>
								<div class="estadistica">
									<div class="cifra" >
										<label id="cifra-{{oportunidad.id}}"></label>
										<label>Inscripciones</label>
									</div>
									<div class="grafico usuarios fotos-post" id="foto-post-{{oportunidad.id}}">
										<img src="/static/img/profile/profile.png" />
										<img src="/static/img/profile/profile.png" />
										<img src="/static/img/profile/profile.png" />
										<img src="/static/img/profile/profile.png" />
										<img src="/static/img/profile/profile.png" />
										<img src="/static/img/profile/profile.png" />
										<div class="clear"></div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
						<div class="inscripciones">
							<div class="box">
								<label class="titulo">Inscripciones en los &uacute;ltimos 7 d&iacute;as</label>
								<div class="grafico grafico-inscripciones">
									<div id = "chart-id-{{oportunidad.id}}" data-id="{{oportunidad.id}}" class="ct-chart " data-info = "[[5, 9, 7, 8, 5, 3, 5, 4]]"></div>
									{{postulaciones}}
								</div>
							</div>
						</div>
						<div class="clear"></div>
					</li>
    {% endfor %}
    {%else%}
    <li><label> No hay Oportunidades que mostrar...</label>
    </li>
{% endif %}

{% load staticfiles %}
<script src="{% static 'js/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'js/chartist.min.js' %}"></script>
<link rel = "stylesheet" href="{% static 'css/chartist.min.css' %}"/>
<script>
	$(function(){
		$(".sparklines").each(function(){
			var data = $(this).data("info");
			$(this).sparkline(data, {
				type: 'bar',
				height: '50px',
    			barSpacing: 7,
				barWidth: 10,
				barColor: '#5d9cf9'});
		});
		$(".ct-chart").each(function(){
			var id = $(this).data("id");
			var d = [];
			$.ajax({
				data: {'id': id},
				url: '{%url "empresa-oportunidad-postulaciones" %}',
				type: 'get',
				success: function (data) {
					$("#cifra-"+id).html(data[0][0]);
					new Chartist.Line("#chart-id-"+id, {
						labels: ["Lunes", "Martes", "Miercoles", "Jueves", "Sabado", "Domingo"],
						colors:["#333", "#222", "#111", "#000"],
						series: [data[0][1]]
					}, {
						low: 0,
						showArea: true
					});
				}
			});
		});
		$(".fotos-post").each(function(){
			var ele = $(this).attr("id").split("-");
			var id = ele[2];
			$.ajax({
				data: {'id': id},
				url: '{%url "empresa-oportunidad-estudiantes" %}',
				type: 'get',
				success: function (data) {
					var html = "";
					for(var i = 0; i <data.length ; i++) {
						html += '<img src="'+ data[i] + '"/>';
					}
					$("#foto-post-"+id).html(html);
				}
			});
		});
	})
</script>
<style>
	.ct-chart { margin-left: -40px; margin-top: -20px;}
</style>