 <div class="content">
            <section class="header">
                <h3>Mensaje</h3>
                <a class="btn-action" onclick="window.history.back();">ENVIAR</a>

                <div class="clear"></div>
            </section>
            <section>
                <div class="destinatarios">
                    <label>Para:</label>
                    <ul>
                        <li>
                            <!--<img class="imagen" src="../img/profile/profile.png"/>-->
                            <label class="nombre">Diego Ch&aacute;vez</label>
                            <input id="candidatos-nombre"/>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <textarea placeholder="Redacte su mensaje"></textarea>

                <div class="sin-respuesta">
                    <input type="checkbox" id="sin-respuesta"/>
                    <label for="sin-respuesta">Sin respuesta </label><a>(<span class="orange">?</span>)</a>
                </div>
            </section>
        </div>