{% extends 'empresa/base.html' %}
{% block content %}
{% load staticfiles %}
<!--<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">-->
<!--<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.es.min.js' %}"></script>-->
<style>
	.tooltip-manual + .tooltip, input + .tooltip, select + .tooltip {
		width: 167px;
	}
    .tooltip-manual + .tooltip .tooltip-arrow,
	input:not([type=submit]) + .tooltip .tooltip-arrow,
    select + .tooltip .tooltip-arrow{
		top: 44.1754%;
		border-left-color: #f50 !Important;
		border-right-color: #f50 !Important;
	}

	.tooltip-manual + .tooltip .tooltip-inner,
    input:not([type=submit]) + .tooltip .tooltip-inner,
    select + .tooltip .tooltip-inner{
		background-color: #f50 !Important;
	}
    input[type=submit] + .tooltip .tooltip-inner{
        max-width: 250px;
        min-width: 250px;
    }
	.tooltip-manual + .tooltip{
		top: 0px !Important;
	}
    .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    #pac-input {
        background-color: #fff !important;
        /*font-family: Roboto;*/
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
    }
    #pac-input:focus {
        border-color: #4d90fe;
    }
    .pac-container {
        /*font-family: Roboto;*/
        z-index: 3000;
    }

    #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
    }
    #type-selector label {
        /*font-family: Roboto;*/
        font-size: 13px;
        font-weight: 300;
    }
    #target {
        width: 345px;
    }
</style>
<form action="" method="post" autocomplete="off">{%csrf_token%}
	<section class="oportunidad-detalle">
		<div class="centered">
			{% if form.errors %}
				{% for field in form %}
					{% for error in field.errors %}
						<div class="alert alert-error" style="border: 1px solid #8c8c8c">
							<strong> {{field.label}}: </strong>
							<strong>{{ error|escape }}</strong>
						</div>
					{% endfor %}
				{% endfor %}
				{% for error in form.non_field_errors %}
					<div class="alert alert-error">
						<strong>{{ error|escape }}</strong>
					</div>
				{% endfor %}
			{% endif %}
				<div class="panel left principal">
					<div class="box">
						<header class = "no-top">
							<div class="descripcion">
								<h2 class = "bold">ANUNCIAR OPORTUNIDAD, {{empresa}} {{empresa}}</h2>
								<label class="indicacion">Los campos marcados con (*) son obligatorios</label>
							</div>
							<input type="submit" name="_anunciar" value="ANUNCIAR" id="anunciat" class="btn-action"
                                   data-toggle="tooltip" data-placement="top" title="Guarda y coloca la Oportunidad Abierta para Inscripciones"/>
							<input type="submit" name="_guardar" value="GUARDAR" id="guardar" class="btn-action"
							       data-toggle="tooltip" data-placement="top" title="Guarda y coloca la Oportunidad en estado archivada no visible para Inscripciones"/>
							<div class="clear"></div>
						</header>
						<div class="content">

							<section class="perfil">
								<h2 class="title bold"><i class="work"></i>Perfil de la oportunidad</h2>
								<div class="detalle ">

									<div class ="form-group">
										<label class = "col-sm-3 control-label">T&iacute;tulo de vacante</label>
										<div class = "col-sm-9">
											{{form.titulo}}
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group carga_horaria">
										<label class = "col-sm-3 control-label">Jornada de trabajo</label>
										<div class = "col-sm-9">
											{% for carga in form.carga_horaria %}
											 	{{ carga.errors }}
											 	{{ carga }}
											{% endfor %}
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group">
										<label class = "col-sm-3 control-label">Localizaci&oacute;n</label>

											<div class = "col-sm-4">
												{{form.pais}}
												<!--{{form.paises}}-->
												<!--{{form.paises_hidden}}-->
											</div>
											<div class = "col-sm-4">
												<select class="full actualizar" id="id_ciudad"></select>
												{{form.ciudad_hidden}}
												<div class="tooltip-manual" id="tooltip-pais"></div>
												<!--{{form.ciudades}}-->
												<!--{{form.ciudades_hidden}}-->
											</div>

										<div class="clear"></div>
									</div>
									<div class ="form-group remuneracion">
										<label class = "col-sm-3 control-label">Remuneraci&oacute;n</label>
										<div class = "col-sm-9">
											{% for r in form.remuneracion %}
											 	{{ r.errors }}
											 	{{ r }}
											{% endfor %}
										</div>
									</div><br><br>
									<div class ="form-group">
										<label class = "col-sm-3"></label>
										<div class = "col-sm-4">
											{{form.remuneracion_min}}
										</div>
										<div class = "col-sm-4">
											{{form.remuneracion_max}}
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group">
										<label class = "col-sm-3">Fecha de cierre</label>
										<div class = "col-sm-4">
											{{form.fecha_cese}}
										</div>
										<div class="clear"></div>
									</div>
								</div>
							</section>
							<section class="informacion">
								<h2 class="title bold"><i class="info"></i>Informaci&oacute;n b&aacute;sica</h2>
								<div class="detalle">
									<div class ="form-group tipo_puesto">
										<label class = "col-sm-3 control-label">Tipo de vacante *</label>
										<div class = "col-sm-9">
											{{form.tipo_puesto.0}}
											{{form.tipo_puesto.1}}

											<!--{% for puesto in form.tipo_puesto %}-->
											 	<!--{{ puesto.errors }}-->
											 	<!--{{ puesto }}-->
											<!--{% endfor %}-->
										</div>
										<div class = "col-sm-3"></div>
										<div class = "col-sm-9">
											{{form.tipo_puesto.2}}
											{{form.tipo_puesto.3}}
										<!--</div>-->
										<div class="clear"></div>
									</div>
									<div class="full less-margin">
										<label>Resumen *</label>
									</div>
									<div class="full">
										{{form.resumen}}
									</div>
								</div>
							</section>
							<section class="perfil">
								<h2 class="title bold"><i class="profile"></i>Perfil del candidato</h2>
								<div class="detalle">
                                    <div class ="form-group">
										<label class = "col-sm-3">Rango de Edad</label>
										<div class = "col-sm-4">
											{{form.edad_desde}}
										</div>
										<div class = "col-sm-4">
											{{form.edad_hasta}}
										</div>
										<div class="clear"></div>
									</div>
                                    <div class ="form-group ">
										<label class = "col-sm-3 control-label">Género</label>
										<div class = "col-sm-9">
											{{form.genero}}
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group ">
										<label class = "col-sm-3 control-label">Grado de estudio*</label>
										<div class = "col-sm-9">
											{{form.grado_estudio}}
											<div class="tooltip-manual" id="tooltip-grado-estudio"></div>
											<label class="descripcion">Defina el nivel de graduaci&oacute;n del candidato</label>
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group ">
										<label class = "col-sm-3 control-label">Universidades de preferencia</label>
										<div class = "col-sm-9">
											{{form.universidad}}
											<label class="descripcion">Complete este campo s&oacute;lo si tiene una preferencia por los candidatos de alguna universidad. Introduzca las siglas de la universidad y seleccione de la lista.</label>
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group ">
										<label class = "col-sm-3 control-label">Tipo Carrera *</label>
										<div class = "col-sm-9">
											{{form.tipo_carrera}}
											<div class="tooltip-manual" id="tooltip-tipo-carrera"></div>
											<label class="descripcion">En caso los candidatos no necesiten de educación superior, escoja las tipo carreras compatibles con el área donde el profesional actuará.</label>
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group ">
										<label class = "col-sm-3 control-label">Carrera *</label>
										<div class = "col-sm-9">
											{{form.carrera}}
											<div class="tooltip-manual" id="tooltip-carrera"></div>
											<label class="descripcion">En caso los candidatos no necesiten de educación superior, escoja las carreras compatibles con el área donde el profesional actuará.</label>
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group ">
										<label class = "col-sm-3 control-label">Periodo de graduaci&oacute;n</label>
										<div class = "col-sm-9">
											<div class="row">
											<label class="col-sm-12" id="periodo-descripcion" style="font-size: 10pt;"><b>Estudiantes de 7° hasta graduados hace un a&ntilde;o</b></label>
											</div>
											<div class="row">
												{{form.periodo_graduacion_hidden}}
												<div class="col-sm-12">
													<input id="slider-periodo" type="text" class="slider"/>
												</div>
											</div>
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group ">
										<label class = "col-sm-3 control-label">Idiomas</label>
										<div class = "col-sm-9">
											{{form.idioma}}
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group ">
										<label class = "col-sm-3 control-label">Conocimientos</label>
										<div class = "col-sm-9">
											{{form.conocimiento}}
										</div>
										<div class="clear"></div>
									</div>
								</div>
							</section>
							<section class="beneficios">
								<h3 class="title"><i class="like"></i>Beneficios</h3>
								<div class="detalle">
									<div class ="form-group ">
										<label class = "col-sm-3 control-label">Beneficios</label>
										<div class = "col-sm-9">

											<select multiple class="full" id="id_beneficio">
												{% for beneficio in beneficios %}
													<option value="{{beneficio.id}}">{{beneficio.descripcion}}</option>
												{% endfor %}
											</select>
												{{form.beneficios_hidden}}
											<!--{{form.beneficio}}-->
										</div>
										<div class="clear"></div>
									</div>
								</div>
							</section>
							<section class="Oportunidad">
								<h3 class="title"><i class="location"></i>Ubicaci&oacute;n</h3>
								<div class="detalle ">
									<div class ="form-group ">
										<label class = "col-sm-3 control-label">Direcci&oacute;n</label>
										<div class = "col-sm-9">
											{{form.direccion_map}}
										</div>
									</div><br><br>
									<div class ="form-group ">
										<label class = "col-sm-3"></label>
										<div class = "col-sm-3 hidden">
											{{form.latitud}}
										</div>
										<div class = "col-sm-3 hidden">
											{{form.longitud}}
										</div>
										<div class="clear"></div>
									</div>
                                    <input id="pac-input" class="controls" type="text" placeholder="Búsqueda">
									<div id="map" style = "height: 350px; width: 100%"></div>
								</div>
							</section>
						</div>
					</div>
				</div>
{#				<div class="panel right">#}
{#					<div class="box alcance">#}
{#						<div class="content">#}
{#							<section class="grafico">#}
{#								<h4>Alcance de Candidatos</h4>#}
{#								<label><i class="alcance alto"></i><span class="cifra">Cargando</span> candidatos</label>#}
{#								<div class="grafico-alcance">#}
{#									<div class="alto active">#}
{#										<div class="adecuado">#}
{#											<div class="bajo">#}
{#												<label>&Oacute;ptimo</label>#}
{#											</div>#}
{#										</div>#}
{#									</div>#}
{#								</div>#}
{#							</section>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
				<div class="clear"></div>
			</div>
		</section>
</form>
<style>
[name=remuneracion],
[name=carga_horaria],
[name=tipo_puesto]{
    display: inline-block;
}
.remuneracion>div>label,
.carga_horaria>div>label,
.tipo_puesto>div>label{
    width: 32%
}
	.oportunidad-detalle label {
		font-size: 14.3px;
	}
</style>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script>
	var Oportunidad = {
        map: null,
        marca: null,
        inicializar_mapa: function() {
            var mapCanvas = document.getElementById('map');
            var mapOptions = {
                center: new google.maps.LatLng(-12.0570208,-77.0372896),
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            Oportunidad.map = new google.maps.Map(mapCanvas, mapOptions);
            google.maps.event.addListener(Oportunidad.map, 'click', function(event) {
                Oportunidad.marcar_mapa(event.latLng);
            });
            /*Búsqueda*/
            var input = document.getElementById('pac-input');
            var searchBox = new google.maps.places.SearchBox(input);
            Oportunidad.map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            // Bias the SearchBox results towards current map's viewport.
            Oportunidad.map.addListener('bounds_changed', function() {
                searchBox.setBounds(Oportunidad.map.getBounds());
            });
            var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
            searchBox.addListener('places_changed', function() {
                var places = searchBox.getPlaces();
                if (places.length == 0) {
                    return;
                }

              // For each place, get the icon, name and location.
                var bounds = new google.maps.LatLngBounds();
                places.forEach(function(place) {
                    if (place.geometry.viewport) {
                        // Only geocodes have viewport.
                        bounds.union(place.geometry.viewport);
                    } else {
                        bounds.extend(place.geometry.location);
                    }
                });
                Oportunidad.map.fitBounds(bounds);
            });
            if ($("#id_latitud").val() != ""){
                var latitud = $("#id_latitud").val();
                var longitud = $("#id_longitud").val();
                var punto = new google.maps.LatLng(latitud, longitud);
                Oportunidad.marcar_mapa(punto);
            }
        },
        marcar_mapa: function(coordenadas){
            Oportunidad.borrar_marca();
            var marker = new google.maps.Marker({
                position: coordenadas,
                map: Oportunidad.map
            });
            Oportunidad.marca = marker;
            google.maps.event.addListener(marker, "rightclick", function (point) {
                Oportunidad.borrar_marca();
            });
            Oportunidad.map.setCenter(coordenadas);
            $("#id_latitud").val(coordenadas.lat());
            $("#id_longitud").val(coordenadas.lng());

            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({
                location: new google.maps.LatLng(coordenadas.lat(),coordenadas.lng())
                }, function (response, status) {
                    if (response != null && response.length > 0 && response.status != "ZERO_RESULTS")
                        $("#id_direccion_map").val(response[0]["formatted_address"]);
            });
        },
        borrar_marca: function(){
            if (Oportunidad.marca != null) {
                Oportunidad.marca.setMap(null);
                Oportunidad.marca = null;
            }
        },
    };
	$(function(){
        $("[data-toggle=tooltip]").tooltip();
        $(window).keydown(function(event){
            if(event.keyCode == 13 && event.target.localName != "textarea") {
                event.preventDefault();
                return false;
            }
        });
        $("#id_direccion_map").attr("readonly", true);
        $("#id_direccion_map").attr("required", true);
        $('textarea').each(function(){
            $(this).after("<div class = 'textarea-feedback'></div>");
            var enteredText = $(this).val();
            var numberOfLineBreaks = (enteredText.match(/\n/g)||[]).length
            var characterCount = enteredText.length + numberOfLineBreaks;

            var totalText = 1000 - characterCount;
            $(this).next().html(totalText + ' caracteres');
        });

        $('textarea').on("keyup", function() {
            var enteredText = $(this).val();
            var numberOfLineBreaks = (enteredText.match(/\n/g)||[]).length;
            var characterCount = enteredText.length + numberOfLineBreaks;

            var totalText = 1000 - characterCount;
            $(this).next().html(totalText + ' caracteres');
        });

		$(window).scroll(function() {
			if ( $(this).scrollTop() > 60 )
				$(".box.alcance").addClass("fixed");
			else $(".box.alcance").removeClass("fixed");
		});
		$("input:not([type=submit]), select, textarea").addClass("form-control");

		$('#id_remuneracion_1').prop('checked', 'true');

		Oportunidad.inicializar_mapa();
		$("#id_fecha_cese").datepicker({
			autoclose: true,
			language: 'es',
            startDate: "+1d",
			format: "dd/mm/yyyy",
		}).on("hide", function(e) {
            $(this).blur();
        })
		$("#slider-periodo").slider({
			min: 1,
			max: 5,
			value: [1,4],
			tooltip: 'hide',
			enabled: false,
			formatter: function(value){
				var cadena = '';
				if(periodoGraduacion){
					var objetoMin = _.find(periodoGraduacion, function(o) { return o.secuencia == value[0]; });
					var objetoMax = _.find(periodoGraduacion, function(o) { return o.secuencia == value[1]; });
					if(objetoMin && objetoMax){
						cadena = objetoMin.descripcion+' , '+objetoMax.descripcion;
						$('#periodo-descripcion b').text(cadena);

						cad_id =  objetoMin.id+','+objetoMax.id;

						$('#id_periodo_graduacion_hidden').val(cad_id);
					}
					else{
						cadena = value;
					}
				}
				else{
						cadena = value;
					}
				return cadena;
			}
		});

		$("#id_pais").select2({
  			placeholder: "Pais",
  			//allowClear: true
		});
		$("#id_ciudad").select2({
  			placeholder: "Ciudad",
  			//allowClear: true
		});

		var elementosParaSelect2 = ['id_universidad','id_carrera','id_idioma', 'id_conocimiento','id_beneficio',
			'id_grado_estudio', 'id_tipo_carrera'];
		InicializarSelect2(elementosParaSelect2);


		AgregarEventosChange();

		InicializarValidaciones();

		AgregarEventosRemuneracion();

		AgregarAnchoLabelRemuneracion();

		resetCarrera();
		$("#tooltip-carrera").tooltip('hide');
	});

	function resetCarrera(){
		var options = '';
		$("#id_carrera").html(options);
		$("#id_carrera").select2("val", "");
		$("#id_carrera").attr('disabled', false);
		$("#id_carrera").trigger("change");
	}

	function AgregarEventosChange(){
		$("#id_pais").change(function() {
			if($("#id_pais").val() > 0 ){
				$.ajax({
					data: {'pais': $("#id_pais").val()},
					url: '{%url "ciudad-busqueda" %}',
					type: 'get',
					success: function (data) {
						if (data) {
							if (data.length > 0) {
//								var options = '<option value="">Ciudad</option>';
								var options = '';
								for (var i = 0; i < data.length; i++) {
									options += '<option value="' + data[i].pk + '">' + data[i].fields['descripcion'] + '</option>';
								}
								$("#id_ciudad").html(options);
								// $("#id_ciudad option:first").attr('selected', 'selected');
								$("#id_ciudad").select2("val", "");
								$("#id_ciudad").attr('disabled', false);
							}
							else{
								var options = '';
								$("#id_ciudad").html(options);
								$("#id_ciudad").select2("val", "");
								$("#id_ciudad").attr('disabled', false);
							}
						}
						else{
							var options = '';
							$("#id_ciudad").html(options);
							$("#id_ciudad").select2("val", "");
							$("#id_ciudad").attr('disabled', false);
						}
					}
				});
			}
			/*
			else{
				LlamarValidacionElemento('id_pais');*/
				var options = '';
				$("#id_ciudad").html(options);
				$("#id_ciudad").val("").trigger("change");
				$("#id_ciudad").attr('disabled', false);
			//}

			LlamarValidacionElemento('id_pais');
		});

		$("#id_tipo_carrera").change(function() {
			resetCarrera();
			if($("#id_tipo_carrera").val() > 0 ){
				ActualizarListadoCarreras();
				ActualizarListadoPeriodoGraduacion();
			}
			else{
				$('#slider-periodo').slider('setAttribute', 'enabled', false);
				$('#slider-periodo').slider('refresh');
				$('#id_periodo_graduacion_hidden').val('');
			}

			$("#tooltip-carrera").tooltip('hide');
			LlamarValidacionElemento('id_tipo_carrera');
		});

		$("#id_grado_estudio").change(function() {
			LlamarValidacionElemento('id_grado_estudio');
		});

		$("#id_carrera").change(function() {
			LlamarValidacionElemento('id_carrera');
		});

		$("#id_ciudad").change(function() {
			$('#id_ciudad_hidden').val($(this).val());
		});

		$("#id_beneficio").change(function() {
			$('#id_beneficios_hidden').val($(this).val());
		});
	}

	var periodoGraduacion = [
		{secuencia: 1,descripcion:'Ciclo 1'},
		{secuencia: 2,descripcion:'Ciclo 2'},
		{secuencia: 3,descripcion:'Ciclo 3'},
		{secuencia: 4,descripcion:'Ciclo 4'},
		{secuencia: 5,descripcion:'Ciclo 5'}];

	function ActualizarListadoPeriodoGraduacion(){
		$.ajax({
					data: {'tipo': $("#id_tipo_carrera").val()},
					url: '{%url "periodos-graduacion-busqueda" %}',
					type: 'get',
					success: function (data) {
						if (data) {
							if (data.length > 0) {

								var ordenado = _.sortBy(data,'secuencia');

								$('#slider-periodo').slider('setAttribute', 'min', _.head(ordenado).secuencia);
								$('#slider-periodo').slider('setAttribute', 'max', _.last(ordenado).secuencia);
								$('#slider-periodo').slider('setAttribute', 'enabled', true);
								$('#slider-periodo').slider('refresh');

                                cad_id =  ordenado[0].id+','+ordenado[3].id;

						        $('#id_periodo_graduacion_hidden').val(cad_id);

								periodoGraduacion = data;
							}
						}
					}
				});
	}

	function ActualizarListadoCarreras(){
		$.ajax({
					data: {'tipo': $("#id_tipo_carrera").val()},
					url: '{%url "carrera-busqueda-por-tipo" %}',
					type: 'get',
					success: function (data) {
						if (data) {
							if (data.length > 0) {
								var options = '';
								for (var i = 0; i < data.length; i++) {
									options += '<option value="' + data[i].pk + '">' + data[i].fields['descripcion'] + '</option>';
								}
								$("#id_carrera").html(options);
								$("#id_carrera").select2("val", "");
								$("#id_carrera").attr('disabled', false);
								$("#tooltip-carrera").tooltip('hide');
							}
							else{
								resetCarrera();
								$("#tooltip-carrera").tooltip('hide');
							}
						}
						else{
							resetCarrera();
							$("#tooltip-carrera").tooltip('hide');
						}
					}
				});
	}

	function LlamarValidacionElemento(id){
		var validator = $( "form" ).validate();
		validator.element('#'+id);
	}

	function AgregarAnchoLabelRemuneracion(){
		$('#id_tipo_puesto_0').parent().css('width','190px');
		$('#id_tipo_puesto_1').parent().css('width','190px');
		$('#id_tipo_puesto_2').parent().css('width','190px');
	}

	function AgregarEventosRemuneracion(){
		$('#id_remuneracion_2').click(function(){
			$('#id_remuneracion_min').prop( "disabled", true );
			$('#id_remuneracion_max').prop( "disabled", true );
			$('#id_remuneracion_min').val('');
			$('#id_remuneracion_max').val('');
			$('#id_remuneracion_min').prop( "placeholder", 'Valor minimo' );
			$('#id_remuneracion_min').hide();
			$('#id_remuneracion_max').hide();

			$("#id_remuneracion_min").tooltip('hide');
			$("#id_remuneracion_max").tooltip('hide');

		});

		$('#id_remuneracion_1').click(function(){
			$('#id_remuneracion_min').prop( "disabled", false );
			$('#id_remuneracion_max').prop( "disabled", false );
			$('#id_remuneracion_min').prop( "placeholder", 'Valor minimo' );
			$('#id_remuneracion_max').show();
			$('#id_remuneracion_min').show();
			$("#id_remuneracion_min").tooltip('hide');
			$("#id_remuneracion_max").tooltip('hide');
		});

		$('#id_remuneracion_0').click(function(){
			$('#id_remuneracion_max').prop( "disabled", true );
			$('#id_remuneracion_min').prop( "disabled", false );
			$('#id_remuneracion_min').prop( "placeholder", 'Valor fijo' );
			$('#id_remuneracion_max').hide();
			$('#id_remuneracion_min').show();
			$('#id_remuneracion_max').val('');
			$("#id_remuneracion_min").tooltip('hide');
			$("#id_remuneracion_max").tooltip('hide');
		});


	}

	function InicializarSelect2(ids){
		ids.forEach(function(id){
			if(id=='id_beneficio'){

				$("#"+id).select2({
					placeholder: "Seleccione por favor",
					//allowClear: true,
					tags: true,
					tokenSeparators: [',']
				});
			}
			else{
				$("#"+id).select2({
					placeholder: "Seleccione por favor",
					//allowClear: true
				});
			}
		});
	}

	function ConfigurarTooltip(elemento,error,orientacion){
		$(elemento).tooltip('destroy');
		$(elemento).tooltip({
			animation: true,
			placement: orientacion,
			title: $(error).text(),
			trigger: "manual"
		});
		$(elemento).tooltip('show');
	}

	function InicializarValidaciones(){

		$.validator.addMethod('MaximoMayorMinimo',function(value, element, param){


			var valorRetorno = true;

			if($('#id_remuneracion_1').is(':checked')){
				if($('#id_remuneracion_min').val() && $('#id_remuneracion_max').val()){
					var montoMinimo = parseInt($('#id_remuneracion_min').val(),10);
					var montoMaximo = parseInt($('#id_remuneracion_max').val(),10);

					if(montoMinimo > montoMaximo){
						valorRetorno = false;
					}
				}
			}

			return valorRetorno;

		},'Valor maximo debe ser mayor que Valor minimo');
        $.validator.addMethod('RangoEdad',function(value, element, param) {
            return $("#id_edad_desde").val() <= $("#id_edad_hasta").val();
        },'Edad máxima debe ser mayor o igual que edad mínima');

		$("form").validate({
            errorPlacement: function (error, element) {
				if(element[0].id == 'id_pais'){
					ConfigurarTooltip('#tooltip-pais',error,"right");
				}
				else if(element[0].id == 'id_carrera'){
					ConfigurarTooltip('#tooltip-carrera',error,"right");
				}
				else if(element[0].id == 'id_tipo_carrera'){
					ConfigurarTooltip('#tooltip-tipo-carrera',error,"right");
				}
				else if(element[0].id == 'id_grado_estudio'){
					ConfigurarTooltip('#tooltip-grado-estudio',error,"right");
				}
				else if(element[0].id == 'id_remuneracion_min'){
					ConfigurarTooltip(element,error,"left");
				}
                else if(element[0].id == 'id_edad_hasta' ||
                        element[0].id == 'id_edad_desde'){
					ConfigurarTooltip('#id_edad_hasta',error,"right");
				}
				else if(element[0].id == 'id_tipo_puesto_0'){
					ConfigurarTooltip('#id_tipo_puesto_2',error,"left");
				}
				else{
					ConfigurarTooltip(element,error,"right");
				}
            },
            success: function (label, element) {
                $(element).tooltip('hide');
            },
            rules: {
				titulo: {
                    required: true
                },
                resumen: {
                    required: true
                },
				carrera: {
					required: true
				},
				tipo_puesto:{
                    required: true
                },
				grado_estudio:{
                    required: true
                },
				pais:{
                    required: true
                },
				id_ciudad:{
                    required: true
                },
				fecha_cese:{
                    required: true
                },
				remuneracion_min:{
					required: true,
					digits: true,
					maxlength: 7
				},
				remuneracion_max:{
					required: true,
					digits: true,
					maxlength: 7,
					MaximoMayorMinimo: ''
				},
				tipo_carrera:{
					required: true
				},
                edad_desde: {
                    RangoEdad: true,
                    max: 99,
                    min: 18
                },
                edad_hasta: {
                    RangoEdad: true,
                    max: 99,
                    min: 18
                },
                direccion_map: {
                    required: true,
                }
            },
            messages: {
                titulo: {
                    required: "Este campo es obligatorio"
                },
				resumen: {
                    required: "Este campo es obligatorio"
                },
				carrera: {
                    required: "Este campo es obligatorio"
                },
				tipo_puesto:{
                    required: "Este campo es obligatorio"
                },
				grado_estudio:{
                    required: "Este campo es obligatorio"
                },
				pais:{
                    required: "Este campo es obligatorio"
                },
				id_ciudad:{
                    required: "Este campo es obligatorio"
                },
				fecha_cese:{
                    required: "Este campo es obligatorio"
                },
				remuneracion_min:{
					required: "Este campo es obligatorio",
					digits: "Este campo es numérico",
					maxlength: "Este campo no puede tener más de 7 caracteres"
				},
				remuneracion_max:{
					required: "Este campo es obligatorio",
					digits: "Este campo es numérico",
					maxlength: "Este campo no puede tener más de 7 caracteres"
				},
				tipo_carrera:{
					required: "Este campo es obligatorio"
				},
                edad_desde: {
                    max: "Debe ser un numero menor o igual a 99",
                    min: "Debe ser un número mayor o igual a 18"
                },
                edad_hasta: {
                    max: "Debe ser un numero menor o igual a 99",
                    min: "Debe ser un número mayor a 18"
                },
                direccion_map: {
                    required: "Debe hacer click y marcar un punto en el mapa"
                }
            }
        });
	}
</script>
{% endblock%}