{% extends 'empresa/base.html' %}
{% block content %}
{% load staticfiles %}
<!--<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">-->
<!--<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.es.min.js' %}"></script>-->
<form action="" method="post">{%csrf_token%}
	<section class="oportunidad-detalle">
		<div class="centered">
			{% if form.errors %}
				{% for field in form %}
					{% for error in field.errors %}
						<div class="alert alert-error" style="border: 1px solid #8c8c8c">
							<strong> {{field.label}}: </strong>
							<strong>{{ error|escape }}</strong>
						</div>
					{% endfor %}
				{% endfor %}
				{% for error in form.non_field_errors %}
					<div class="alert alert-error">
						<strong>{{ error|escape }}</strong>
					</div>
				{% endfor %}
			{% endif %}
				<div class="panel left principal">
					<div class="box">
						<header>
							<div class="descripcion">
								<h2 class = "bold">ANUNCIAR OPORTUNIDAD, {{empresa}} {{empresa}}</h2>
								<label class="indicacion">Los campos marcados con (*) son obligatorios</label>
							</div>
							<input type="submit" name="_anunciar" value="ANUNCIAR" id="anunciat" class="btn-action"/>
							<input type="submit" name="_guardar" value="GUARDAR" id="guardar" class="btn-action"/>
							<div class="clear"></div>
						</header>
						<div class="content">

							<section class="perfil">
								<h2 class="title bold"><i class="work"></i>Perfil de la oportunidad</h2>
								<div class="detalle ">

									<div class ="form-group">
										<label class = "col-sm-3 control-label">T&iacute;tulo de vacante</label>
										<div class = "col-sm-9">
											{{form.titulo}}
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group carga_horaria">
										<label class = "col-sm-3 control-label">Jornada de trabajo</label>
										<div class = "col-sm-9">
											{% for carga in form.carga_horaria %}
											 	{{ carga.errors }}
											 	{{ carga }}
											{% endfor %}
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group">
										<label class = "col-sm-3 control-label">Localizaci&oacute;n</label>
										<div class = "col-sm-4">
											{{form.pais}}
											<!--{{form.paises}}-->
											<!--{{form.paises_hidden}}-->
										</div>
										<div class = "col-sm-4">
											<select class="full" id="id_ciudad"></select>
											{{form.ciudad_hidden}}
											<!--{{form.ciudades}}-->
											<!--{{form.ciudades_hidden}}-->
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group remuneracion">
										<label class = "col-sm-3 control-label">Remuneraci&oacute;n</label>
										<div class = "col-sm-9">
											{% for r in form.remuneracion %}
											 	{{ r.errors }}
											 	{{ r }}
											{% endfor %}
										</div>
									</div><br><br>
									<div class ="form-group">
										<label class = "col-sm-3"></label>
										<div class = "col-sm-4">
											{{form.remuneracion_min}}
										</div>
										<div class = "col-sm-4">
											{{form.remuneracion_max}}
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group">
										<label class = "col-sm-3">Fecha de cierre</label>
										<div class = "col-sm-4">
											{{form.fecha_cese}}
										</div>
										<div class="clear"></div>
									</div>
								</div>
							</section>
							<section class="informacion">
								<h2 class="title bold"><i class="info"></i>Informaci&oacute;n b&aacute;sica</h2>
								<div class="detalle">
									<div class ="form-group tipo_puesto">
										<label class = "col-sm-3 control-label">Tipo de vacante *</label>
										<div class = "col-sm-9">
											{% for puesto in form.tipo_puesto %}
											 	{{ puesto.errors }}
											 	{{ puesto }}
											{% endfor %}
										</div>
										<div class="clear"></div>
									</div>
									<div class="full less-margin">
										<label>Resumen *</label>
									</div>
									<div class="full">
										{{form.resumen}}
									</div>
								</div>
							</section>
							<section class="perfil">
								<h2 class="title bold"><i class="profile"></i>Perfil del candidato</h2>
								<div class="detalle">
									<div class ="form-group ">
										<label class = "col-sm-3 control-label">Grado de estudio *</label>
										<div class = "col-sm-9">
											{{form.grado_estudio}}
											<label class="descripcion">Defina el nivel de graduaci&oacute;n del candidato</label>
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group ">
										<label class = "col-sm-3 control-label">Periodo de graduaci&oacute;n</label>
										<div class = "col-sm-9">
											<p class="align-left">
												Estudiantes de 7° hasta graduados hace un a&ntilde;o
												<input id="slider-periodo" type="text" class="slider" value="" data-slider-min="1" data-slider-max="10" data-slider-step="1" data-slider-value="[3,7]"/>
											</p>
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group ">
										<label class = "col-sm-3 control-label">Universidades de preferencia</label>
										<div class = "col-sm-9">
											{{form.universidad}}
											<label class="descripcion">Complete este campo s&oacute;lo si tiene una preferencia por los candidatos de alguna universidad. Introduzca las siglas de la universidad y seleccione de la lista.</label>
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group ">
										<label class = "col-sm-3 control-label">Carrera *</label>
										<div class = "col-sm-9">
											{{form.carrera}}
											<label class="descripcion">En caso los candidatos no necesiten de educación superior, escoja las carreras compatibles con el área donde el profesional actuará.</label>
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group ">
										<label class = "col-sm-3 control-label">Idiomas</label>
										<div class = "col-sm-9">
											{{form.idioma}}
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group ">
										<label class = "col-sm-3 control-label">Conocimientos</label>
										<div class = "col-sm-9">
											{{form.conocimiento}}
										</div>
										<div class="clear"></div>
									</div>
								</div>
							</section>
							<section class="beneficios">
								<h3 class="title"><i class="like"></i>Beneficios</h3>
								<div class="detalle">
									<div class ="form-group ">
										<label class = "col-sm-3 control-label">Beneficios</label>
										<div class = "col-sm-9">
											{{form.beneficio}}
										</div>
										<div class="clear"></div>
									</div>
								</div>
							</section>
							<section class="Oportunidad">
								<h3 class="title"><i class="location"></i>Ubicaci&oacute;n</h3>
								<div class="detalle ">
									<div class ="form-group ">
										<label class = "col-sm-3 control-label">Direcci&oacute;n</label>
										<div class = "col-sm-9">
											{{form.direccion_map}}
										</div>
									</div><br><br>
									<div class ="form-group ">
										<label class = "col-sm-3"></label>
										<div class = "col-sm-3">
											{{form.latitud}}
										</div>
										<div class = "col-sm-3">
											{{form.longitud}}
										</div>
										<div class="clear"></div>
									</div>
									<div id="map" style = "height: 350px; width: 100%"></div>
								</div>
							</section>
						</div>
					</div>
				</div>
				<div class="panel right">
					<div class="box alcance">
						<div class="content">
							<section class="grafico">
								<h4>Alcance de Candidatos</h4>
								<label><i class="alcance alto"></i><span class="cifra">1993</span> candidatos</label>
								<div class="grafico-alcance">
									<div class="alto active">
										<div class="adecuado">
											<div class="bajo">
												<label>&Oacute;ptimo</label>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</section>
</form>
<style>
[name=remuneracion],
[name=carga_horaria],
[name=tipo_puesto]{
    display: inline-block;
}
.remuneracion>div>label,
.carga_horaria>div>label,
.tipo_puesto>div>label{
    width: 32%
}
	.oportunidad-detalle label {
		font-size: 14.3px;
	}
</style>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
	var Oportunidad = {
        map: null,
        marca: null,
        inicializar_mapa: function() {
            var mapCanvas = document.getElementById('map');
            var mapOptions = {
                center: new google.maps.LatLng(-12.0570208,-77.0372896),
                zoom: 8,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            Oportunidad.map = new google.maps.Map(mapCanvas, mapOptions);
            google.maps.event.addListener(Oportunidad.map, 'click', function(event) {
                Oportunidad.marcar_mapa(event.latLng);
            });
            if ($("#id_latitud").val() != ""){
                var latitud = $("#id_latitud").val();
                var longitud = $("#id_longitud").val();
                var punto = new google.maps.LatLng(latitud, longitud);
                Oportunidad.marcar_mapa(punto);
            }
        },
        marcar_mapa: function(coordenadas){
            Oportunidad.borrar_marca();
            var marker = new google.maps.Marker({
                position: coordenadas,
                map: Oportunidad.map
            });
            Oportunidad.marca = marker;
            google.maps.event.addListener(marker, "rightclick", function (point) {
                Oportunidad.borrar_marca();
            });
            Oportunidad.map.setCenter(coordenadas);
            $("#id_latitud").val(coordenadas.lat());
            $("#id_longitud").val(coordenadas.lng());

            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({
                location: new google.maps.LatLng(coordenadas.lat(),coordenadas.lng())
                }, function (response, status) {
                    if (response != null && response.length > 0 && response.status != "ZERO_RESULTS")
                        $("#id_direccion_map").val(response[0]["formatted_address"]);
            });
        },
        borrar_marca: function(){
            if (Oportunidad.marca != null) {
                Oportunidad.marca.setMap(null);
                Oportunidad.marca = null;
            }
        },
    };
	$(function(){
		$("input:not([type=submit]), select, textarea").addClass("form-control");
		Oportunidad.inicializar_mapa();
		$("#id_fecha_cese").datepicker({
			language: 'es',
			format: "dd/mm/yyyy",
		})
		$("#slider-periodo").slider({});

		$("#id_pais").select2({
  			placeholder: "Pais",
  			allowClear: true
		});
		$("#id_ciudad").select2({
  			placeholder: "Ciudad",
  			allowClear: true
		});

		var elementosParaSelect2 = ['id_universidad','id_carrera','id_idioma', 'id_conocimiento','id_beneficio'];
		InicializarSelect2(elementosParaSelect2);

		$("#id_pais").change(function() {
			if($("#id_pais").val() > 0 ){
				$.ajax({
					data: {'pais': $("#id_pais").val()},
					url: '{%url "ciudad-busqueda" %}',
					type: 'get',
					success: function (data) {
						if (data) {
							if (data.length > 0) {
//								var options = '<option value="">Ciudad</option>';
								var options = '';
								for (var i = 0; i < data.length; i++) {
									options += '<option value="' + data[i].pk + '">' + data[i].fields['descripcion'] + '</option>';
								}
								$("#id_ciudad").html(options);
								// $("#id_ciudad option:first").attr('selected', 'selected');
								$("#id_ciudad").select2("val", "");
								$("#id_ciudad").attr('disabled', false);
							}
						}
					}
				});
			}
			else{
				var options = '';
				$("#id_ciudad").html(options);
				$("#id_ciudad").select2("val", "");
				$("#id_ciudad").attr('disabled', false);
			}
		});
		$("#id_ciudad").change(function() {
			$('#id_ciudad_hidden').val($(this).val());
		});

		InicializarValidaciones();

	});

	function InicializarSelect2(ids){
		ids.forEach(function(id){
			$("#"+id).select2({
				placeholder: "Seleccione por favor",
				allowClear: true
			});
		});
	}

	function InicializarValidaciones(){

		$("form").validate({
            errorPlacement: function (error, element) {
                $(element).tooltip('destroy');

				console.log(element[0].id);

				if(element[0].id == 'id_carrera1' || element[0].id == 'id_tipo_puesto1'){

					$(element).tooltip({
						animation: true,
						placement: "right",
						title: $(error).text(),
						trigger: "manual"
                	} );

				}
				else{
					$(element).tooltip({
						animation: true,
						placement: "left",
						title: $(error).text(),
						trigger: "manual"
					} );
				}

                $(element).tooltip('show');

            },
            success: function (label, element) {
                $(element).tooltip('hide');
            },
            rules: {
				titulo: {
                    required: true
                },
                resumen: {
                    required: true
                },
				carrera: {
					required: true
				},
				tipo_puesto:{
                    required: true
                },
				grado_estudio:{
                    required: true
                },
				pais:{
                    required: true
                },
				id_ciudad:{
                    required: true
                },
				fecha_cese:{
                    required: true
                }

            },
            messages: {
                titulo: {
                    required: "Este campo es obligatorio"
                },
				resumen: {
                    required: "Este campo es obligatorio"
                },
				carrera: {
                    required: "Este campo es obligatorio"
                },
				tipo_puesto:{
                    required: "Este campo es obligatorio"
                },
				grado_estudio:{
                    required: "Este campo es obligatorio"
                },
				pais:{
                    required: "Este campo es obligatorio"
                },
				id_ciudad:{
                    required: "Este campo es obligatorio"
                },
				fecha_cese:{
                    required: "Este campo es obligatorio"
                }

            }
        });
	}

</script>
{% endblock%}