{% extends 'empresa/base.html' %}
{% block content %}

<form action="" method="post">{%csrf_token%}
	<section class="oportunidad-detalle">
			<div class="centered">
                <div>
					<ol class="breadcrumb">
						<li class="active">{{oportunidad.titulo}}</li>
						<li>Editar oportunidad</li>
					</ol>
					<div class="clear"></div>
				</div>
				<div class="panel left principal">
					<div class="box">
						<header>
							<div class="descripcion">
								<h3>Editar Oportunidad</h3>
								<label class="indicacion">Los campos marcados con (*) son obligatorios</label>

							</div>

                            <div class = "col-sm-3"><label>Estado:  </label>{{form.estado}}</div>
                            <input type="submit" name="_guardar" value="GUARDAR" id="guardar" class="btn-action" />
							<div class="clear"></div>
						</header>
						<div class="content">
							<section class="perfil">
								<h3 class="title"><i class="work"></i>Perfil de la oportunidad</h3>
								<div class="detalle form-horizontal">
									<div class ="form-group">
										<label class = "col-sm-3">T&iacute;tulo de vacante</label>
										<div class = "col-sm-9">
											{{form.titulo}}
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group jornada_trabajo">
										<label class = "col-sm-3">Jornada de trabajo</label>
										<div class = "col-sm-9">
											{% for carga in form.carga_horaria %}
												 {{ carga.errors }}
												 {{ carga }}
											{% endfor %}
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group">
										<label class = "col-sm-3">Localizaci&oacute;n</label>
										<div class = "col-sm-4">
											{{form.pais}}
										</div>
										<div class = "col-sm-4">
											{{form.ciudad}}
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group remuneracion">
										<label class = "col-sm-3">Remuneraci&oacute;n</label>
										<div class = "col-sm-9">
											{% for r in form.remuneracion %}
											 	{{ r.errors }}
											 	{{ r }}
											{% endfor %}
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group">
										<label class = "col-sm-3"></label>
										<div class = "col-sm-4">
											{{form.remuneracion_min}}
										</div>
										<div class = "col-sm-4">
											{{form.remuneracion_max}}
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group">
										<label class = "col-sm-3">Fecha de cierre</label>
										<div class = "col-sm-8">
											{{form.fecha_cese}}
										</div>
										<div class="clear"></div>
									</div>
								</div>
							</section>
							<section class="informacion">
								<h3 class="title"><i class="info"></i>Informaci&oacute;n b&aacute;sica</h3>
								<div class="detalle form-horizontal">
									<div class ="form-group tipo_puesto">
										<label class = "col-sm-3">Tipo de vacante *</label>
										<div class = "col-sm-9">
											{% for puesto in form.tipo_puesto %}
											 	{{ puesto.errors }}
											 	{{ puesto }}
											{% endfor %}
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group tipo_puesto">
										<label class = "col-sm-3">Resumen *</label>
										<div class = "col-sm-9">
											{{form.resumen}}
										</div>
										<div class="clear"></div>
									</div>
								</div>
							</section>
							<section class="perfil">
								<h3 class="title"><i class="profile"></i>Perfil del candidato</h3>
								<div class="detalle col-4-6">
									<div class ="form-group tipo_puesto">
										<label class = "col-sm-3">Grado de estudio *</label>
										<div class = "col-sm-9">
											{{form.grado_estudio}}
											<label class="descripcion">Defina el nivel de graduaci&oacute;n del candidato</label>
										</div>
										<div class="clear"></div>
									</div>
									<div>
										<label></label>
										<p>
											{{form.grado_estudio}}
											<label class="descripcion">Defina el nivel de graduaci&oacute;n del candidato</label>
										</p>
										<div class="clear"></div>
									</div>
									<div>
										<label>Periodo de graduaci&oacute;n</label>
										<p class="align-left">
											Estudiantes de 7° hasta graduados hace un a&ntilde;o
											<img src="../img/barra-deslizable.jpg" />
										</p>
										<div class="clear"></div>
									</div>
									<div>
										<label>Universidades de preferencia</label>
										<p>
											{{form.universidad}}
											<label class="descripcion">Complete este campo s&oacute;lo si tiene una preferencia por los candidatos de alguna universidad. Introduzca las siglas de la universidad y seleccione de la lista.</label>
										</p>
										<div class="clear"></div>
									</div>
									<div>
										<label>Carrera *</label>
										<p>
											{{form.carrera}}
											<label class="descripcion">En caso los candidatos no necesiten de educación superior, escoja las carreras compatibles con el área donde el profesional actuará.</label>
										</p>
										<div class="clear"></div>
									</div>
									<div>
										<label>Idiomas</label>
										<p>{{form.idioma}}</p>
										<div class="clear"></div>
									</div>
									<div>
										<label>Conocimientos</label>
										<p>{{form.conocimiento}}</p>
										<div class="clear"></div>
									</div>
								</div>
							</section>
							<section class="beneficios">
								<h3 class="title"><i class="like"></i>Beneficios</h3>
								<div class="detalle col-3-7">
									<div>
										<label>Beneficios</label>
										<p>{{form.beneficio}}</p>
										<div class="clear"></div>
									</div>
								</div>
							</section>
							<section class="ubicacion">
								<h3 class="title"><i class="location"></i>Ubicaci&oacute;n</h3>
								<div class="detalle col-3-7">
									<div>
										<label>Direcci&oacute;n</label>
										<!--<p><input class="full" type="text" placeholder="Escriba la direcci&oacute;n de su empresa." /></p>-->
										<p>{{form.direccion_map}}</p> {{form.latitud}} {{form.longitud}}
										<div class="clear"></div>
									</div>
									<div class="mapa">
										<img src="../img/google-map.jpg" />
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
				<div class="panel right">
					<div class="box alcance">
						<div class="content">
							<section class="grafico">
								<h4>Alcance de Candidatos</h4>
								<label><i class="alcance bajo"></i><span class="cifra">30</span> candidatos</label>
								<div class="grafico-alcance">
									<div class="alto inactive">
										<div class="adecuado inactive">
											<div class="bajo active">
												<label>Bajo</label>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section class="caracteristicas">
								<label><span class="bold">Carrera: </span>Ingenier&iacute;a Industrial, Administraci&oacute;n, Hoteler&iacute;a</label>
								<label><span class="bold">Idiomas: </span>Ingl&eacute;s avanzado</label>
								<label><span class="bold">Conocimientos: </span>Office</label>
								<label><span class="bold">Jornada: </span>Full time</label>
								<label><span class="bold">Ubicaci&oacute;n: </span>Lima, Per&uacute;</label>
							</section>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</section>
</form>
<style>
	.jornada_trabajo label,
	.remuneracion label,
	.tipo_puesto label{
		width: 25%;
	}
</style>
<script>
	$(function(){
		$("input:not([type=submit]), select, textarea").addClass("form-control");
	})
</script>
{% endblock%}