{% extends 'empresa/base.html' %}
{% block content %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.es.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-slider.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'css/slider.css' %}">
<script src="https://maps.googleapis.com/maps/api/js"></script>
<form action="" method="post">{%csrf_token%}
	<section class="oportunidad-detalle">
			<div class="centered">
                <div>
					<ol class="breadcrumb">
						<li class="active">{{oportunidad.titulo}}</li>
						<li>Editar oportunidad</li>
					</ol>
					<div class="clear"></div>
				</div>
				<div class="panel left principal">
					<div class="box">
						<header>
							<div class="descripcion">
								<h3>Editar Oportunidad</h3>
								<label class="indicacion">Los campos marcados con (*) son obligatorios</label>
							</div>
                            <div class = "col-sm-3"><label>Estado:  </label>{{form.estado}}</div>
                            <input type="submit" name="_guardar" value="GUARDAR" id="guardar" class="btn-action" />
							<div class="clear"></div>
						</header>
						<div class="content">
							<section class="perfil">
								<h3 class="title"><i class="work"></i>Perfil de la oportunidad</h3>
								<div class="detalle form-horizontal">
									<div class ="form-group">
										<label class = "col-sm-3">T&iacute;tulo de vacante</label>
										<div class = "col-sm-9">
											{{form.titulo}}
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group jornada_trabajo">
										<label class = "col-sm-3">Jornada de trabajo</label>
										<div class = "col-sm-9">
											{% for carga in form.carga_horaria %}
												 {{ carga.errors }}
												 {{ carga }}
											{% endfor %}
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group">
										<label class = "col-sm-3">Localizaci&oacute;n</label>
										<div class = "col-sm-4">
											{{form.pais}}
										</div>
										<div class = "col-sm-4">
											{{form.ciudad}}
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group remuneracion">
										<label class = "col-sm-3">Remuneraci&oacute;n</label>
										<div class = "col-sm-9">
											{% for r in form.remuneracion %}
											 	{{ r.errors }}
											 	{{ r }}
											{% endfor %}
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group">
										<label class = "col-sm-3"></label>
										<div class = "col-sm-4">
											{{form.remuneracion_min}}
										</div>
										<div class = "col-sm-4">
											{{form.remuneracion_max}}
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group">
										<label class = "col-sm-3">Fecha de cierre</label>
										<div class = "col-sm-4">
											{{form.fecha_cese}}
										</div>
										<div class="clear"></div>
									</div>
								</div>
							</section>
							<section class="informacion">
								<h3 class="title"><i class="info"></i>Informaci&oacute;n b&aacute;sica</h3>
								<div class="detalle form-horizontal">
									<div class ="form-group tipo_puesto">
										<label class = "col-sm-3">Tipo de vacante *</label>
										<div class = "col-sm-9">
											{% for puesto in form.tipo_puesto %}
											 	{{ puesto.errors }}
											 	{{ puesto }}
											{% endfor %}
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group tipo_puesto">
										<label class = "col-sm-3">Resumen *</label>
										<div class = "col-sm-9">
											{{form.resumen}}
										</div>
										<div class="clear"></div>
									</div>
								</div>
							</section>
							<section class="perfil">
								<h3 class="title"><i class="profile"></i>Perfil del candidato</h3>
								<div class="detalle">
									<div class ="form-group">
										<label class = "col-sm-3">Grado de estudio *</label>
										<div class = "col-sm-9">
											{{form.grado_estudio}}
											<label class="descripcion">Defina el nivel de graduaci&oacute;n del candidato</label>
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group">
										<label class = "col-sm-3">Periodo de graduaci&oacute;n</label>
										<div class = "col-sm-9">
											Estudiantes de 7° hasta graduados hace un a&ntilde;o
											<input id="slider-periodo" type="text" class="slider" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/>
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group">
										<label class = "col-sm-3">Universidades de preferencia</label>
										<div class = "col-sm-9">
											{{form.universidad}}
											<label class="descripcion">Complete este campo s&oacute;lo si tiene una preferencia por los candidatos de alguna universidad. Introduzca las siglas de la universidad y seleccione de la lista.</label>
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group">
										<label class = "col-sm-3">Carrera *</label>
										<div class = "col-sm-9">
											{{form.carrera}}
											<label class="descripcion">En caso los candidatos no necesiten de educación superior, escoja las carreras compatibles con el área donde el profesional actuará.</label>
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group">
										<label class = "col-sm-3">Idiomas</label>
										<div class = "col-sm-9">
											{{form.idioma}}
										</div>
										<div class="clear"></div>
									</div>
									<div class ="form-group">
										<label class = "col-sm-3">Conocimientos</label>
										<div class = "col-sm-9">
											{{form.conocimiento}}
										</div>
										<div class="clear"></div>
									</div>
								</div>
							</section>
							<section class="beneficios">
								<h3 class="title"><i class="like"></i>Beneficios</h3>
								<div class ="form-group">
									<label class = "col-sm-3">Beneficios</label>
									<div class = "col-sm-9">
										{{form.beneficio}}
									</div>
									<div class="clear"></div>
								</div>
							</section>
							<section class="Editar">
								<h3 class="title"><i class="location"></i>Ubicaci&oacute;n</h3>
								<div class="detalle">
									<div class ="form-group">
										<label class = "col-sm-3">Direcci&oacute;n</label>
										<div class = "col-sm-9">
											{{form.direccion_map}}
										</div>
										<br>
									</div>
									<div class ="form-group">
										<label class = "col-sm-3"></label>
										<div class = "col-sm-3">
											{{form.latitud}}
										</div>
										<div class = "col-sm-3">
											{{form.longitud}}
										</div>
										<div class="clear"></div>
									</div>
									<div id = "map"></div>
								</div>
							</section>
						</div>
					</div>
				</div>
				<div class="panel right">
					<div class="box alcance">
						<div class="content">
							<section class="grafico">
								<h4>Alcance de Candidatos</h4>
								<label><i class="alcance bajo"></i><span class="cifra">30</span> candidatos</label>
								<div class="grafico-alcance">
									<div class="alto inactive">
										<div class="adecuado inactive">
											<div class="bajo active">
												<label>Bajo</label>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section class="caracteristicas">
								<label><span class="bold">Carrera: </span>Ingenier&iacute;a Industrial, Administraci&oacute;n, Hoteler&iacute;a</label>
								<label><span class="bold">Idiomas: </span>Ingl&eacute;s avanzado</label>
								<label><span class="bold">Conocimientos: </span>Office</label>
								<label><span class="bold">Jornada: </span>Full time</label>
								<label><span class="bold">Ubicaci&oacute;n: </span>Lima, Per&uacute;</label>
							</section>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</section>
</form>
<style>
	.jornada_trabajo label,
	.remuneracion label,
	.tipo_puesto label{
		width: 25%;
	}
	#map {
		width: 100%;
		height: 350px;
	}
</style>
<script>
	$(function(){
		$("input:not([type=submit]):not(:radio), select, textarea").addClass("form-control");
		$("#id_fecha_cese").datepicker({
			language: 'es',
			format: "dd-mm-yyyy",
		});
		$("#slider-periodo").slider({});
		Editar.inicializar_mapa();
	})
	var Editar = {
        map: null,
        marca: null,
        inicializar_mapa: function() {
            var mapCanvas = document.getElementById('map');
            var mapOptions = {
                center: new google.maps.LatLng(44.5403, -78.5463),
                zoom: 8,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            Editar.map = new google.maps.Map(mapCanvas, mapOptions);
            google.maps.event.addListener(Editar.map, 'click', function(event) {
                Editar.marcar_mapa(event.latLng);
            });
            if ($("#id_latitud").val() != ""){
                var latitud = $("#id_latitud").val();
                var longitud = $("#id_longitud").val();
                var punto = new google.maps.LatLng(latitud, longitud);
                Editar.marcar_mapa(punto);
            }
        },
        marcar_mapa: function(coordenadas){
            Editar.borrar_marca();
            var marker = new google.maps.Marker({
                position: coordenadas,
                map: Editar.map
            });
            Editar.marca = marker;
            google.maps.event.addListener(marker, "rightclick", function (point) {
                Editar.borrar_marca();
            });
            Editar.map.setCenter(coordenadas);
            $("#id_latitud").val(coordenadas.lat());
            $("#id_longitud").val(coordenadas.lng());

            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({
                location: new google.maps.LatLng(coordenadas.lat(),coordenadas.lng())
                }, function (response, status) {
                    if (response != null && response.status != "ZERO_RESULTS")
                        $("#id_direccion_map").val(response[0]["formatted_address"]);
            });
        },
        borrar_marca: function(){
            if (Editar.marca != null) {
                Editar.marca.setMap(null);
                Editar.marca = null;
            }
        },
    };
</script>

{% endblock%}