{% load estudiante_filters %}
{% load staticfiles %}
<html>
	<head>
		<title>Broderjobs</title>
		<link rel="shortcut icon" href="{% static 'img/icon.ico' %}">
		<meta content="IE=11.0000" http-equiv="X-UA-Compatible">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
        <meta name="HandheldFriendly" content="true">
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">
<!--<link rel="stylesheet" href="{% static 'css/custom-theme/jquery-ui-1.10.3.custom.css' %}">-->
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">

		<link rel="stylesheet" href="{% static 'css/prettify.css' %}">


		<link rel="stylesheet" href="{% static 'css/select2.css' %}">
		<link rel="stylesheet" href="{% static 'css/broder.css' %}">
		<link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.css' %}">


		<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.validate.min.js' %}"></script>
		<script src="{% static 'js/additional-methods.min.js' %}"></script>
		<!--<script type="text/javascript" src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>-->
		<script type="text/javascript" src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/holder.js' %}"></script>

		<script type="text/javascript" src="{% static 'js/prettify.js' %}"></script>


		<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.es.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap3-typeahead.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/select2.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
        {% if completo_test == False%}
        <script type="text/javascript" src="{% static 'js/jquery.bootstrap.wizard.js' %}"></script>
        {% endif %}
        <style>
            .modal{
                z-index: 1200;
            }
            .select2-dropdown{
                z-index: 1201;
            }
            .modal-backdrop{
                z-index: 1203;
            }
            .modal{
                z-index: 1204;
            }

            .tooltip .tooltip-inner{
                background-color: #f50 !Important;
            }

            .tooltip .tooltip-arrow{
                border-left-color: #f50 !Important;
                border-right-color: #f50 !Important;
            }
            #preguntas-alert {
                margin-top: 4px;
                position: fixed;
                width: 35%;
                right: 13%;
            }

        </style>

    </head>
	<body>
    <!--{{ request.META.HTTP_REFERER }}   ,-->
    <!--{{'http://'|add:request.META.HTTP_HOST|add:'/'}}-->
    <div id="page-wrapper" class = "loading-wrapper">
        <div class="loading">Cargando</div>
    </div>
	<div class = "header-container">
		<header class="principal">
			<div class="centered">
				<a href="{% url 'estudiante' %}"><img class="logo" src="{% static 'img/logo.png' %}" alt="Broder jobs" /></a>

				<ul class="nav navbar-nav notify pull-right header-menu">
                    <!-- BEGIN NOTIFICATION DROPDOWN -->
                    <li class="dropdown" id="notifications-header">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" data-original-title="" title="">
                            <span id="cantidad-notificaciones" class="badge badge-danger badge-header">{{cantidad_notificaciones}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header clearfix">
                                <p class="pull-left">Notificaciones</p>
                            </li>
                            <li>
                                <ul class="dropdown-menu-list withScroll " data-height="220" style="height: 220px;" id="notificaciones">
                                    {%for notificacion in notificaciones %}
                                    <li {%if notificacion.leida%} style="background: #f5f5f5" {%endif%}>
                                        <a href="{%url 'estudiante-proceso-detalle' notificacion.postulacion.id%}">
                                            <i class="fa {%if notificacion.es_mensaje %}fa-envelope{%else%} fa-bell {%endif%} p-r-10 f-18"></i>
                                            {{notificacion.asunto}}
                                            <span class="dropdown-time">{{notificacion.fecha_creacion | get_due_date_string }}</span>
                                        </a>
                                    </li>
                                    {%endfor%}
								</ul>
                            </li>
                            <!--<li class="dropdown-footer clearfix">-->
                                <!--<a href="#" class="pull-left">Ver todas las notificaciones</a>-->

                            <!--</li>-->
                        </ul>
                    </li>
                    <!-- END NOTIFICATION DROPDOWN -->
                    <!-- BEGIN USER DROPDOWN -->
                    <li class="dropdown" id="user-header">
                        <a href="#" class="dropdown-toggle c-white" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" data-original-title="" title="">
							<!--<img class="portrait" src="{{estudiante_foto}}" alt="Perfil" />-->
                            <img src="{{estudiante_foto}}" alt="Perfil" width="30" class="p-r-5 portrait">
                            <!--<span class="username">Bob Nilson</span>-->
							{% if user.is_authenticated %}
								<span class="username name" style="text-transform: uppercase">{{user.first_name|capfirst}}</span>
							{% endif %}
							<div class="v-line"></div>
                            <i class="fa fa-angle-down p-r-10"></i>
                        </a>
                        <ul class="dropdown-menu contextual">
							<li><a href="{% url 'mi-cv' %}"><i class="cv"></i><span class="v-line gray"></span><span>Mi CV</span><div class="clear"></div></a></li>
							<li><a href="{%url 'contrasena-editar'%}"><i class="config"></i><span class="v-line gray"></span><span>Mi Cuenta</span><div class="clear"></div></a></li>
							<li><a href="{%url 'salir' %}"><i class="exit"></i><span class="v-line gray"></span><span>Salir</span><div class="clear"></div></a></li>
                        </ul>
                    </li>
                    <!-- END USER DROPDOWN -->
                </ul>
			</div>
		</header>
        {% if completo_test == False%}
            <div class="container" id="preguntas-alert">
                {%if no_concluyente_test == False %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close" id="cerrar-preguntas-alert">&times;</a>
                        <strong>¡Importante!</strong> Debes completar el test de compatibilidad para poder postular a las oportunidades.
                        <a id="completar-test">Completar Test</a>
                    </div>
                {%else%}
                    <div class="alert alert-warning">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close" id="cerrar-preguntas-alert">&times;</a>
                        <strong>¡Importante!</strong> Lo sentimos, el test arrojo resultados inconclusos porfavor intenta realizarlo de nuevo.
                        <a id="completar-test">Realizar Test</a>
                    </div>
                {%endif%}
            </div>
        {%endif%}
		<header class="menu">
			<div class="centered">
				<a id = "link-oportunidad" href="{% url 'estudiante-oportunidad-listar' %}">Oportunidades</a>
				<a id = "link-empresa" href="{% url 'estudiante-empresa-lista' %}">Empresas</a>
				<a id = "link-procesos" href="{% url 'estudiante-proceso-lista' %}">Mis procesos</a>
				<div class="clear"></div>

			</div>
		</header>
		</div>
    <div id="form-preguntas" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer text-left">
                    <input type="button" class="btn btn-primary btn-submit" id="btn-comenzar" value = "Comenzar">
                    <input type="button" class="btn btn-primary btn-submit" disabled id="btn-guardar" value = "Guardar">
                    <input type="button" class="btn btn-danger btn-submit" id="btn-repetir" value = "Repetir" style = "display: none">
                    <input type="button" class="btn btn-primary btn-submit" id="btn-cancelar" value = "En otro momento...">
                    <button type="button" class="btn btn-default" data-dismiss="modal"  id="btn-cerrar">Finalizar</button>
                </div>
            </div>
        </div>
    </div>
		{% block content %}
        {% endblock %}
		{% block popup %}
        {% endblock %}

	</body>
</html>
<!--'oportunidad-listar' in request.path-->
		<!--<script type="text/javascript" src="/static/js/jquery-1.8.2.min.js"></script>-->
{% if completo_test == false%}
    {%if 'http://'|add:request.META.HTTP_HOST|add:'/' == request.META.HTTP_REFERER or 'registro-cv' in request.META.HTTP_REFERER%}
    <script>
        $(function(){
            $('#form-preguntas .modal-body').load('{% url "disc-formulario-estudiante" %}', function () {
                $('#form-preguntas').modal('toggle');

            });
        });
    </script>
    {%endif%}
{%endif%}
<script>
    $('.withScroll').each(function () {
        $(this).mCustomScrollbar("destroy");
            var scroll_height = $(this).data('height') ? $(this).data('height') : 'auto';
            var data_padding = $(this).data('padding') ? $(this).data('padding') : 0;
            if ($(this).data('height') == 'window') scroll_height = $(window).height() - data_padding;
            $(this).mCustomScrollbar({
                scrollButtons: { enable: true },
                autoHideScrollbar: false,
                scrollInertia: 150,
                theme: "dark-2",
                set_height: scroll_height,
                advanced: { updateOnContentResize: true }
            });
    });
			/*$('#menu').click(function() {
				if ($('#ctx-menu-header').hasClass('active'))
					$('#ctx-menu-header').removeClass('active');
				else
					$('#ctx-menu-header').addClass('active')
			});*/
    window.onload = function(){
        $(".loading-wrapper").hide();
    }
    $('#notifications-header').click(function(){
        $.get("{% url 'mensaje-notificacion-vistas' %}?id=" + {{user.id}}, function(data) {
            $('#cantidad-notificaciones').html("0");
        });
    });
    $('#completar-test').click(function(){
        fnIniciarModelPreguntas();
       $('#form-preguntas .modal-body').load('{% url "disc-formulario-estudiante" %}', function () {
                $('#form-preguntas').modal('toggle');
       });
    });
    function fnIniciarModelPreguntas(){
        $('.introduccion').show();
        $('#btn-comenzar').show();
        $('#btn-cancelar').show();
        $('#wizard').hide();
        $('.finalizo').hide();
        $('.error').hide();
        $('#btn-guardar').hide();
        $('#btn-cerrar').hide();
    }
    $(function(){

            sessionStorage.clear();
        $('textarea').each(function(){
            $(this).after("<div class = 'textarea-feedback'></div>");
            $(this).next().html("0 caracteres");
        });
        $("body").on("hide.bs.modal",".modal", function(){
             $(".tooltip").hide();
        });
    })
</script>

{% block js %}
{% endblock js %}
{% block css %}
{% endblock css %}