{% extends 'estudiante/base.html' %}
{% load staticfiles %}
{%block css%}
{%endblock%}
{% block content %}
<script type="text/javascript" src="{% static 'js/rater.min.js' %}"></script>
<link rel ="stylesheet" href = "{% static 'css/font-awesome.css' %}"/>
<section class="empresa">
    <div class="centered">
        <div class="panel left">
            <div class="box">
                <header>
					<img src="{{empresa.set_logo}}" />
				</header>
                <div class="content">
                    <h3 class="link">{{empresa.nombre | upper}}</h3>
                    <label class="descripcion">{{empresa.sector | upper}}</label>
                </div>
            </div>
			<div class="box evaluacion">
						<div class="content">
							<section class="titulo">
								<h4 class="link">EVALUACI&Oacute;N DE LA EMPRESA</h4>
							</section>
							<section class="rating">
								<div>
										<span class="rating-big full"></span>
										<span class="rating-big full"></span>
										<span class="rating-big full"></span>
										<span class="rating-big full"></span>
										<span class="rating-big"></span>
									<div class="clear"></div>
								</div>
								<label class="puntaje">4.90</label>
								<a class="btn-action" href="#evaluacion">Eval&uacute;a esta empresa</a>
							</section>
						</div>
					</div>
        </div>
        <div class="panel right principal">
            <div class="box detail">
                <header>
					<div class="slider"id="fade">
						<img src="{%static 'img/oficina-11.png' %}"  />
					</div>
				</header>
				<div class="content">
                    <section class="about">
								<h3 class="title"><i class="business"></i>Sobre la empresa</h3>
								<div>
									<p>{{empresa.quienes_somos}}.</p>
								</div>
								<div class="double">
									<div>
										<div>
											<h4>N&uacute;mero de funcionarios</h4>
											<label>{{empresa.numero_funcionarios}}</label>
										</div>
										<div>
											<h4>Facturamiento anual</h4>
											<label>{{empresa.facturacion_anual}}</label>
										</div>
										<div>
											<h4>Sede Global</h4>
											<label>{{empresa.ciudad}}, {{empresa.pais}}</label>
										</div>
									</div>
									<div>
										<div>
											<h4>Sector</h4>
											<label>{{empresa.sector}}</label>
										</div>
										<div>
											<h4>Fundaci&oacute;n</h4>
											<label>{{empresa.ano_fundacion}}</label>
										</div>
										<div>
											<h4>Sitio web</h4>
											<a href="{{empresa.website}}">{{empresa.website}}</a>
										</div>
									</div>
									<div class="clear"></div>
								</div>
							</section>
					<section class="evaluacion">
								<h3 class="title"><i class="like"></i>Evaluaci&oacute;n<span class="comment">(por colaboradores o ex-colaboradores)</span></h3>
								<div class="criterios">
									<div class="criterio">
										<label class="calificacion">2.5</label>
										<div class="grafico"><img src="../img/mano-evaluacion.jpg" /></div>
										<label class="nombre">Línea de carrera</label>
									</div>
									<div class="criterio">
										<label class="calificacion">2.5</label>
										<div class="grafico"><img src="../img/mano-evaluacion.jpg" /></div>
										<label class="nombre">Flexibilidad de horarios</label>
									</div>
									<div class="criterio">
										<label class="calificacion">2.5</label>
										<div class="grafico"><img src="../img/mano-evaluacion.jpg" /></div>
										<label class="nombre">Ambiente de trabajo</label>
									</div>
									<div class="criterio">
										<label class="calificacion">2.5</label>
										<div class="grafico"><img src="../img/mano-evaluacion.jpg" /></div>
										<label class="nombre">Salario y Beneficios</label>
									</div>
									<div class="clear"></div>
								</div>
							</section>
					<section class="oportunidades">
								<h3 class="title"><i class="oportunity"></i>Oportunidades</h3>
								<ul class="list">
									{% for oportunidad in oportunidades %}
									<li>
										<div class="oportunidad-box">
													<a class="titulo" href="{%url 'estudiante-oportunidad-detalle' oportunidad.id%}"><h2 class="link">{{oportunidad.titulo | title }}</h2></a>
													<div class="descripcion">
														<div class="datos">
															<div class="empresa"><i class="empresa"></i><label>{{oportunidad.empresa | upper}}</label></div>
															<div class="ubicacion"><i class="ubicacion"></i><label>{{oportunidad.ciudad}}, {{oportunidad.pais}}</label></div>
															<div class="remuneracion"><i class="remuneracion"></i><label>{{oportunidad.remuneracion}}</label></div>
														</div>
														<div class="compatibilidad">
															<div class="grafico"><img src="/static/img/compatibilidad.jpg" /></div>
															<label class="resultado">Compatible</label>
														</div>
														<div class="ver-oportunidad">
															<a class="btn-action" href="{%url 'estudiante-oportunidad-detalle' oportunidad.id%}">VER OPORTUNIDAD</a>
															<label class="cierre">CIERRA EL {{oportunidad.fecha_cese}}</label>
														</div>
														<div class="clear"></div>
													</div>
												<div class="clear"></div>
										</div>
									</li>
									{% endfor %}
								</ul>
								<a class="link ver-mas" href="{%url 'estudiante-oportunidades-empresa' empresa.id%}">Ver m&aacute;s oportunidades</a>
							</section>
					<section class="ubicacion">
								<h3 class="title"><i class="location"></i>Ubicaci&oacute;n</h3>
								<div>
									<p>Calle Varham 203, Camacho, La Molina</p>
									<div class="mapa">
										<img src="../img/google-map.jpg" />
									</div>
								</div>
							</section>
					<section class="redes">
								<h3 class="title"><i class="network"></i>Redes sociales</h3>
								<div>
									<div class="facebook">
										<h4>FACEBOOK</h4>
									</div>
									<div class="twitter">
										<h4>TWITTER</h4>
									</div>
									<div class="clear"></div>
								</div>
							</section>
                </div>
            </div>
        </div>
		<div class="clear"></div>
    </div>
</section>
<div class="popup evaluacion-empresa" id="evaluacion">
	<div class="box popup-box">
				<div class="content">
					<section>
						<h3>Eval&uacute;a de manera an&oacute;nima</h3>
						<label class="link empresa">ADOBE</label>
						<label class="descripcion">DESARROLLO DE SOFTWARE</label>
						<div class="calificacion">
							<img class="imagen" src="../img/empresas/empresa-1.jpg" alt="ADOBE" />
							<ul class="criterios">
									<label>L&iacute;nea de carrera</label>
									<div id = "rating-linea_carrera" style = "display:inline-block"></div>
									<div class="clear"></div>
								</li>
								<li>
									<label>Flexibilidad de horarios</label>
									<div id = "rating-flexibilidad_horario" style = "display:inline-block"></div>
									<div class="clear"></div>
								</li>
								<li>
									<label>Ambiente de trabajo</label>
									<div id = "rating-ambiente_trabajo" style = "display:inline-block"></div>
									<div class="clear"></div>
								</li>
								<li>
									<label>Salario y Beneficios</label>
									<div id = "rating-salario_beneficios" style = "display:inline-block"></div>
									<div class="clear"></div>
								</li>
							</ul>
							<div class="clear"></div>
						</div>
					</section>
					<section>
						<input type="checkbox" id="declaro" /><label for="declaro">Declaro que trabajo o trabaj&eacute; en la empresa ADOBE</label>
						<a class="btn-save" id="enviar-evaluacion">Enviar Evaluaci&oacute;n</a>
					</section>
					<section>
						<h4 class="link">Tranquilo ;)</h4>
						<p>La evaluación a la empresa es totalmente anónima; sin embargo, estamos comprometidos en proteger a nuestra comunidad de evaluaciones inadecuadas.</p>
						<p>Por favor, lee las <a class="link">Directrices de la Comunidad</a> para obtener más información sobre los criterios de revisión.</p>
					</section>
				</div>
				<a class="close">Cerrar</a>
			</div>
</div>
<div class="popup aviso" id="resultado-evaluacion">
			<div class="popup-box box">
				<div class="content">
					<section class="header">
						<h4 class="link">¡ENHORABUENA!</h4>
					</section>
					<section class="mensaje">
						<p>La evaluaci&oacute;n se ha registrado satisfactoriamente y se proceder&aacute; con su verificaci&oacute;n para ser publicada. Muchas gracias por colaborar con la comunidad broderjobs.</p>
					</section>
				</div>
				<a class="close">Cerrar</a>
			</div>
		</div>
<div style="display: none">
	<form class="form-horizontal" enctype="multipart/form-data"  action="" method="post">{% csrf_token %}
	{{form.as_p}}
	<input type="submit" id="evaluar">
	</form>
</div>

{% endblock content %}
{% block js %}
<script>
	$(function(){
		$("#link-empresa").addClass("active");
		$('.popup .close').click(function(e) {
			window.history.back();
			$('body').removeClass('static');
		});
		//$("#rating").rate();

	//or for example
		var options = {
			max_value: 5,
			step_size: 0.5,
			symbols: {
				images: {
					base: '<span class="rating-small"></span>',
					hover: '<span class="rating-small full"></span>',
					selected: '<span class="rating-small full"></span>',
				}
				/*fontawesome: {
					base: "&#xf006;",
					hover: "&#xf005;",
					selected: "&#xf005;"
				},*/
			},
			selected_symbol_type : 'images'
	}
		$("#rating-linea_carrera").rate(options);
		$("#rating-flexibilidad_horario").rate(options);
		$("#rating-ambiente_trabajo").rate(options);
		$("#rating-salario_beneficios").rate(options);
	});
</script>
{%endblock js%}