
{% extends 'estudiante/base.html' %}
{% load staticfiles %}
{%block css%}
{%endblock%}
{% block content %}
<section class="empresas">
    <div class="centered">
        <input id="busqueda" class="search" type="text" placeholder="Buscar por empresas" />
        <ul class="list" id="datos">


        </ul>
		<div class="clear"></div>
    </div>
</section>

{% endblock content %}
{% block js %}

<script>
   (function(){  fnBusqueda();})();

	$('#busqueda').keyup(fnBusqueda);
	function fnBusqueda(){
		var busqueda = $('#busqueda').val();
		$.ajax({
			data : {'busqueda':busqueda},
			url: '{%url "estudiante-empresa-busqueda" %}',
			type: 'get',
			success: function(data){

				var html = ""
				for(var i = 0; i<data.length ; i++){
					var url = "{%url 'estudiante_empresa_detalle' 1 %}";
					url = url.replace('1', data[i].id);
                    html += '<li><a class="box" href="'+url+'">';
                    html += '<header><img src="'+ data[i].logo + '"/></header>';
                    html += '<div class="content"><h3 class="link">'+ data[i].nombre+'</h3>';
					html +=	'<label class="descripcion">' + data[i].sector + '</label>';
                    html += '<div class="rating"><i class="rating"></i><label>'+data[i].ranking_general+'</label></div></div></a></li>';
				}
				$('#datos').html(html);
			}

		});

        document.ready
	}

</script>

{% endblock js %}