{% extends 'estudiante/base.html' %}
{% load staticfiles %}
{%block css%}

{%endblock%}
{% block content %}

<style>
	.select2-search__field{
		width: 142px !important;
	}

	.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
				background-color: transparent;
	}

	.custom-class {
        width: 70%;
    }

	.select2-close-mask{
		z-index: 2099;
	}
	.select2-dropdown{
		z-index: 3051;
	}

	.mantener-line-break{
		white-space: pre-line;
	}

</style>

<section class="cv">

			<div class="centered">
				<div class="panel left principal">
					<div class="box">
						<header>
							<div class="box-imagen" >
								<img src="{{estudiante.set_foto}}" id="imgen_perfil" class="imagen"/>
								<div class="botones-imagen" style="visibility:hidden;">
								<a id="editar-imagen" data-toggle="tooltip" data-placement="top"
								   title="Se recomienda que las dimensiones de la imagen sean mayores a 130x130 píxeles"><i class="fa fa-pencil"></i></a>
								<a id="remover-imagen"><i class="fa fa-times"></i></a>
								</div>
							</div>

							<div class="detalle">
								<h3>{{estudiante | upper}}</h3>
								<label>{{estudiante.universidad | upper }} ({{estudiante.ano_inicio_estudio}}- {{estudiante.ano_graduacion}})</label>
								<label>{{edad}} a&ntilde;os - {{estudiante.ciudad}}, {{estudiante.pais}}</label>
								<label>{{persona.telefono}} / {{usuario.email}}</label>
							</div>

							<div class="clear"></div>
							<button id="info-personal-button" class="link btn-action editar">Editar</button>
							{% if form.errors %}
								{% for field in form %}
									{% for error in field.errors %}
										<br>
										<div class="alert alert-warning alert-dismissible" role="alert" style = "width: 400px; margin: auto">
												<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
												{{ error|escape }}
										</div>
									{% endfor %}
								{% endfor %}
							{%endif%}
						</header>
						<div class="content">
							<section>
								<h3 class="title"><i class="profile"></i>Resumen<button id="comment-button" class="link editar">Editar</button></h3>
								<div class="detalle">
									<p class="mantener-line-break">
										{% if resumen_descripcion %}
                                        {{resumen_descripcion}}
                                        {%endif %}
									</p>
								</div>
							</section>
							<section>
								<h3 class="title"><i class="time"></i>Disponibilidad<button id="disponibilidad-button" class="link editar">Editar</button></h3>
								<div class="detalle col-3-7">
									<div>
										<label>Acepto propuestas de</label>
										<p>
											{% for tipo_puesto in estudiante.tipo_puesto.all %}
											<span class="tag">{{ tipo_puesto.descripcion }}</span>
											{% endfor %}
										</p>
										<div class="clear"></div>
									</div>

									<div>
										<label>Carga horaria</label>
										<p>
											<span class="tag">{{ estudiante.carga_horaria }}</span>
										</p>
										<div class="clear"></div>
									</div>
								</div>
							</section>
							<section>
								<h3 class="title"><i class="language"></i>Idiomas<button id="idioma-button" class="link editar">Editar</button></h3>
								<div class="detalle">
									<p>
										{% for idioma in estudiante.idioma.all %}
                    					<span class="tag">{{ idioma.descripcion }}</span>
										{% endfor %}
									</p>
									<div class="clear"></div>
								</div>
							</section>
							<section>
								<h3 class="title"><i class="knowledge"></i>Conocimientos<button id="conocimiento-button" class="link editar">Editar</button></h3>
								<div class="detalle">
									<p>
										{% for conocimiento in estudiante.conocimiento.all %}
                    					<span class="tag">{{ conocimiento.descripcion }}</span>
										{% endfor %}

										{% for conocimiento in conocimientos_extras %}
                    					<span class="tag">{{ conocimiento.descripcion }}</span>
										{% endfor %}
									</p>
									<div class="clear"></div>
								</div>
							</section>
							<section>
								<h3 class="title"><i class="clip"></i>Actividades extra-acad&eacute;micas<button id="actividad-extra-crear-button" class="link editar">Agregar</button></h3>
								<div class="detalle">
									{% for actividad in actividades_extra %}
											<div>
												<p class="mantener-line-break">{{actividad.descripcion | lower}}</p>
												<div class="clear"></div>
												<label>{{actividad.organizacion | lower}}</label>
												<button id="actividad-{{actividad.pk}}-editar" class="actividad-extra-botton link editar" >Editar</button>
												<button id="actividad-{{actividad.pk}}-eliminar" class="actividad-extra-botton link editar">Eliminar</button>
											</div>
									{% endfor %}
								</div>
							</section>
							<section>
								<h3 class="title"><i class="work"></i>Experiencia Profesional<button id="experiencia-crear-button" class="link editar">Agregar</button></h3>
								<div class="detalle timeline">
									{% for experiencia in experiencias_profesionales %}
										<div class="experiencia" id="{{experiencia.id}}">
											<p class="fecha">{{experiencia.fecha_desde|date:"M Y"}} - {% if experiencia.fecha_hasta != None %} {{experiencia.fecha_hasta|date:"M Y"}} {%else%} Es mi trabajo actual {%endif%}</p>
											{%if experiencia.puesto != None %}
											<label class="tipo">{{experiencia.puesto}}</label>
											{%else%}
											<label class="tipo">{{experiencia.puesto_referencial}}</label>
											{%endif%}
											{%if experiencia.empresa != None %}
											<label class="nombre">{{experiencia.empresa}}</label>
											{%else%}
											<label class="nombre">{{experiencia.empresa_referencial}}</label>
											{%endif%}
											<p class="mantener-line-break">{{experiencia.descripcion}}</p>
											<button id="experiencia-{{experiencia.pk}}-editar" class="experiencia-botton link editar" >Editar</button>

											<button id="experiencia-{{experiencia.pk}}-eliminar" class="experiencia-botton link editar">Eliminar</button>
										</div>
									{% endfor %}
								</div>
							</section>
							<section>
								<h3 class="title"><i class="volunteer"></i>Voluntariado<button id="voluntariado-crear-button" class="link editar">Agregar</button></h3>
								<div class="detalle timeline">

									{% for voluntariado in voluntariados %}
									{{voluntariado}}
										<div>
											<p class="fecha">{{voluntariado.fecha_desde|date:"M Y"}} - {% if voluntariado.fecha_hasta != None %} {{voluntariado.fecha_hasta|date:"M Y"}} {%else%} Contin&uacute;o Realiz&aacute;ndolo {%endif%}</p>
											<label class="tipo">{{voluntariado.cargo}}</label>
											<label class="nombre">{{voluntariado.organizacion}}</label>
											<p class="mantener-line-break">{{voluntariado.descripcion}}</p>
										
											<button id="voluntario-{{voluntariado.pk}}-editar" class="voluntariado-botton link editar" accion="editar">Editar</button>
											<button id="voluntario-{{voluntariado.pk}}-eliminar" class="voluntariado-botton link editar" accion="eliminat">Eliminar</button>
										</div>
									{% endfor %}
								</div>
							</section>
						</div>
					</div>
				</div>
				<div class="panel right">
					<div class="box">
						<div class="content wizard">
							<h4>Completa tu CV</h4>
							{% if estudiante %}
								<div><i class="done active"></i>Informaci&oacute;n acad&eacute;mica</div>
							{% else %}
								<div><i class="done "></i>Informaci&oacute;n acad&eacute;mica</div>
							{% endif %}
							{% if resumen.descripcion %}
								<div><i class="done active "></i>Resumen</div>
							{% else %}
								<div><i class="done"></i>Resumen</div>
							{% endif %}
							{% if estudiante.tipo_puesto.all %}
								<div><i class="done active "></i>Disponibilidad</div>
							{% else %}
								<div><i class="done"></i>Disponibilidad</div>
							{% endif %}
							{% if estudiante.idioma.all %}
								<div><i class="done active "></i>Idiomas</div>
							{% else %}
								<div><i class="done"></i>Idiomas</div>
							{% endif %}
							{% if estudiante.conocimiento.all %}
								<div><i class="done active "></i>Conocimientos</div>
							{% else %}
								<div><i class="done"></i>Conocimientos</div>
							{% endif %}
							{% if actividades_extra %}
								<div><i class="done active "></i>Actividades extraacademica </div>
							{% else %}
								<div><i class="done"></i>Actividades extraacad&eacute;micas</div>
							{% endif %}
							{% if experiencias_profesionales %}
								<div><i class="done active "></i>Experiencia profesional</div>
							{% else %}
								<div><i class="done"></i>Experiencia profesional</div>
							{% endif %}
							{% if voluntariados %}
								<div><i class="done active "></i>Voluntariado</div>
							{% else %}
								<div><i class="done"></i>Voluntariado</div>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</section>

<div id="form-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title"><strong>Modal title</strong></h3>
                    </div>
            <div id="form-modal-body" class="modal-body">
                        <p>One fine body&hellip;</p>
			</div>
            <div class="modal-footer">
				<input type="submit" class="btn btn-primary btn-submit" value = "Guardar" id="guardar">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div style="display: none">
	<form class="form-horizontal" enctype="multipart/form-data"  action="" method="post">{% csrf_token %}
	{{form.as_p}}
	<input type="submit" id="cambiar_imagen">
	</form>
</div>
<style>
	#info-personal-button {
		text-transform: uppercase;
		border: 1px solid #f50 !Important;
	}
</style>
{% endblock content%}
{% block js %}

 <script>

	 var formAjaxSubmit = function(form, modal) {
		 var valid = $(form).validate().valid();
		 if (valid) {
			 $(form).submit(function (e) {
				 e.preventDefault();
				 $.ajax({
					 type: $(this).attr('method'),
					 url: $(this).attr('action'),
					 data: $(this).serialize(),
					 success: function (xhr, ajaxOptions, thrownError) {

						 if ($(xhr).find('.has-error').length > 0) {
							 $(modal).find('.modal-body').html(xhr);
							 formAjaxSubmit(form, modal);
						 } else {
							 var validez = $(form).validate().valid();

							 if(validez){
								 $(modal).modal('toggle');
								 window.location.reload();
							 }
						 }
					 },
					 error: function (xhr, ajaxOptions, thrownError) {}
				 });
			 });
		 }
	 }

	 $(function(){

		 $('[data-toggle="tooltip"]').tooltip();
		 $(".box-imagen" ).mouseover(function() {
			$(".botones-imagen").css("visibility", "visible");
		 });
		 $(".box-imagen" ).mouseout(function() {
			$(".botones-imagen").css("visibility", "hidden");
		 });
		 $("#editar-imagen").click(function(e) {
		  $("#id_foto").click();
		 });
		$("#remover-imagen").click(function(e) {
			$("#cambiar_imagen").click();
		 });
		 $("#id_foto").change(function(){
			$("#cambiar_imagen").click();
		 });

		 $('#comment-button').click(function() {
			$('#form-modal-body').load('resumen/', function () {
				$('#form-modal').modal('toggle');
			});
		 });
		 $('.popup .close').click(function(e) {
			window.history.back();
			$('body').removeClass('static');
		});
		 $('#info-personal-button').click(function() {
			$('#form-modal-body').load('info-personal/', function () {
				$('#form-modal').modal('toggle');
			});
		 });
		 $('#disponibilidad-button').click(function() {
			$('#form-modal-body').load('disponibilidad/', function () {
				$('#form-modal').modal('toggle');
{#				formAjaxSubmit('#form-modal-body form', '#form-modal');#}

                $('#guardar').click(function(){
                   alert("entro");
                });
			});
		 });
		 $('#idioma-button').click(function() {
			$('#form-modal-body').load('idioma/', function () {
				$('#form-modal').modal('toggle');
				$("#id_idioma").select2({
                    placeholder: "Seleccione por favor"//,
                });
	//			$("#id_idioma").val(['1','2']).trigger("change");
{#				formAjaxSubmit('#form-modal-body form', '#form-modal');#}
			});
		 });
		 $('#conocimiento-button').click(function() {
			$('#form-modal-body').load('conocimiento/', function () {
				$('#form-modal').modal('toggle');

				$("#id_conocimiento").select2({
							placeholder: "JavaScript, Photoshop, Marketing digital, etc",
							tags: true,
							tokenSeparators: [',']
						});

				$("#id_conocimiento").change(function() {

					var existentes = $("#id_conocimiento option:selected[data-info='c']").map(function(){return this.value}).get();
					$('#id_conocimientos_hidden').val(existentes);

					var extras = $("#id_conocimiento option:selected[data-info='ce']").map(function(){return this.value}).get();
					$('#id_conocimientos_extras_hidden').val(extras);

					var nuevos = $("#id_conocimiento option:selected[data-select2-tag='true']").map(function(){return this.value}).get();
					$('#id_conocimientos_nuevos_hidden').val(nuevos);
				});

{#				formAjaxSubmit('#form-modal-body form', '#form-modal');#}
			});
		 });
		 $('.experiencia-botton').click(function() {
			 var aInfo = $(this).attr("id").split("-");
			 var id=  aInfo[1];
			 var accion= aInfo[2];
			 if (accion == 'editar') {
				 $('#form-modal-body').load('experiencia/' + id + '/', function () {
					 $('#form-modal').modal('toggle');
{#					 formAjaxSubmit('#form-modal-body form', '#form-modal');#}
				 });
			 }
			 if (accion == 'eliminar') {
				 $('#form-modal-body').load('experiencia-eliminar/' + id + '/', function () {
					 $('#form-modal').modal('toggle');
{#					 formAjaxSubmit('#form-modal-body form', '#form-modal');#}
				 });
			 }
		 });
		 $('#experiencia-crear-button').click(function() {
			 var id = $(this).find("button").attr("id");
			$('#form-modal-body').load('experiencia-crear/', function () {
				$('#form-modal').modal('toggle');
{#				formAjaxSubmit('#form-modal-body form', '#form-modal');#}
			});
		 });
		 $('.voluntariado-botton').click(function() {
			 var aInfo = $(this).attr("id").split("-");
			 var id=  aInfo[1];
			 var accion= aInfo[2];
			 if (accion == 'editar') {
				 $('#form-modal-body').load('voluntariado/' + id + '/', function () {
					 $('#form-modal').modal('toggle');
{#					 formAjaxSubmit('#form-modal-body form', '#form-modal');#}
				 });
			 }
			 if (accion == 'eliminar') {
				 $('#form-modal-body').load('voluntariado-eliminar/' + id + '/', function () {
					 $('#form-modal').modal('toggle');
{#					 formAjaxSubmit('#form-modal-body form', '#form-modal');#}
				 });
			 }
		 });
		 $('#voluntariado-crear-button').click(function() {
			 var id = $(this).find("button").attr("id");
			$('#form-modal-body').load('voluntariado-crear/', function () {
				$('#form-modal').modal('toggle');
{#				formAjaxSubmit('#form-modal-body form', '#form-modal');#}
			});
		 });
		 $('.actividad-extra-botton').click(function() {
			 var aInfo = $(this).attr("id").split("-");
			 var id=  aInfo[1];
			 var accion= aInfo[2];
			 if (accion == 'editar') {
				 $('#form-modal-body').load('actividad-extra/' + id + '/', function () {
					 $('#form-modal').modal('toggle');
{#					 formAjaxSubmit('#form-modal-body form', '#form-modal');#}
				 });
			 }
			 if (accion == 'eliminar') {
				 $('#form-modal-body').load('actividad-extra-eliminar/' + id + '/', function () {
					 $('#form-modal').modal('toggle');
{#					 formAjaxSubmit('#form-modal-body form', '#form-modal');#}
				 });
			 }
		 });
		 $('#actividad-extra-crear-button').click(function() {
			 var id = $(this).find("button").attr("id");
			$('#form-modal-body').load('actividad-extra-crear/', function () {
				$('#form-modal').modal('toggle');
{#				formAjaxSubmit('#form-modal-body form', '#form-modal');#}
			});
		 });
		 $("#form-modal .btn-submit").on("click", function() {

			 var formularioPrueba = $(this).parents("#form-modal").find("form")[0];
			 if (formularioPrueba.id == 'cv-experiencia') {
				 var fechaDesde = $('#id_fecha_desde').datepicker('getDate');
				 var fechaHasta = $('#id_fecha_hasta').datepicker('getDate');

				 var fechaDesdeCompleta = moment(fechaDesde).format('DD/MM/YYYY');
				 var fechaHastaCompleta = moment(fechaHasta).format('DD/MM/YYYY');

				 $(this).parents("#form-modal").find("form")[0]['id_fecha_desde_hidden'].value = fechaDesdeCompleta;
				 $(this).parents("#form-modal").find("form")[0]['id_fecha_hasta_hidden'].value = fechaHastaCompleta;
			 }

			 if (formularioPrueba.id == 'cv-voluntariado') {
				 var fechaDesde = $('#id_fecha_desde').datepicker('getDate');
				 var fechaHasta = $('#id_fecha_hasta').datepicker('getDate');

				 var fechaDesdeCompleta = moment(fechaDesde).format('DD/MM/YYYY');
				 var fechaHastaCompleta = moment(fechaHasta).format('DD/MM/YYYY');

				 $(this).parents("#form-modal").find("form")[0]['id_fecha_desde_hidden'].value = fechaDesdeCompleta;
				 $(this).parents("#form-modal").find("form")[0]['id_fecha_hasta_hidden'].value = fechaHastaCompleta;
			 }

			 $(this).parents("#form-modal").find("form").submit();

             $.ajax({
                type:"GET",
                url:"{%url 'actualizar-compatibilidad-estudiante' %}",

                processData: false,
                contentType: false,
                error: function(x){
                    console.log(x);
                },
                success: function(data){
                   console.log("lo hizo");
                }
            });

		 });

		 $.fn.modal.Constructor.prototype.enforceFocus = function () {
			  var that = this;
			  $(document).on('focusin.modal', function (e) {
				 if ($(e.target).hasClass('select2-input')) {
					return true;
				 }

				 if (that.$element[0] !== e.target && !that.$element.has(e.target).length) {
					that.$element.focus();
				 }
			  });
		   };
	 });




 </script>
{% endblock %}