<style>
	.modal-dialog{
		width: 74%;
	}
</style>
<div style="margin:0 50px">

	<form id = "cv-disponibilidad" class="form-horizontal" action="{% url 'mi-cv-disponibilidad' %}" method="post">
		{%csrf_token%}
		<div class="form-horizontal">
			<div class ="form-group">
				<label class = "col-sm-3">Acepto propuestas de</label>
				<div class = "col-sm-7">
					{{form.tipo_puesto}}
				</div>
			</div>
			<div class ="form-group">
				<label class = "col-sm-3">Carga horaria</label>
				<div class = "col-sm-3">
					{{form.carga_horaria}}
				</div>
			</div>
		</div>
		<div class="disponibilidad alert alert-warning hidden">
		  <strong>Advertencia:</strong> Es probable que existan pocas oportunidades con esta combinación de propuestas / carga horaria
		</div>
		<!--<h3 class="title"><i class="academic"></i>Disponibilidad</h3>
		< class="detalle col-3-7">
			<div>
				<label>Acepto propuestas de</label>
				<p>
					<input type="checkbox" id="practicas" name="propuestas" /><label for="practicas" class="radiobutton">Pr&aacute;cticas</label>
					<input type="checkbox" id="trainee" name="propuestas" /><label for="trainee" class="radiobutton">Trainee</label>
					<input type="checkbox" id="empleo" name="propuestas" /><label for="empleo" class="radiobutton">Empleo</label>
				</p>
				<div class="clear"></div>
			</div>
			<div>
				<label>Carga horaria</label>
				<p>
					<input type="radio" id="part-time" name="carga" /><label for="part-time" class="radiobutton">Part time</label>
					<input type="radio" id="full-time" name="carga" /><label for="full-time" class="radiobutton">Full time</label>
				</p>
			<div class="clear"></div>
		</div>
		<input type="submit" class="btn btn-submit col-md-offset-2">-->
	</form>
</div>
<style>
	#cv-disponibilidad .form-group ul{
		display: table;
    	width: 100%;
	}
	#cv-disponibilidad .form-group ul li{
		display: table-cell;
	}
</style>
<script>
	$(function(){

		if (	!$("[name=tipo_puesto][value=3]").is(":checked") &&
				$("[name=carga_horaria][value=2]").is(":checked")){
				$(".disponibilidad.alert").removeClass("hidden");
		}
		else {
			$(".disponibilidad.alert").addClass("hidden")
		}
		$("[name=tipo_puesto], [name=carga_horaria]").on("click", function(){
			if (	!$("[name=tipo_puesto][value=3]").is(":checked")
				&& 	$("[name=carga_horaria][value=2]").is(":checked")){
				$(".disponibilidad.alert").removeClass("hidden")
			}
			else {
				$(".disponibilidad.alert").addClass("hidden")
			}
		});
		$("#form-modal .modal-title").html('<i class="time"></i> &nbsp;Disponibilidad');
	});
</script>