<div style="margin: 0 50px">
	<form id = "cv-actividad_extra" class="" action="{{ request.build_absolute_uri }}" method="post">{%csrf_token%}
		<div class = "form-group">
			<label class = "control-label">Organización</label>
				{{form.organizacion}}
		</div>
		<div class = "form-group">
			<label class = "control-label">Descripción</label>
				{{form.descripcion}}

		</div>
	</form>
</div>

<script>
	$(function(){
		$("#cv-actividad_extra input").addClass("form-control");
		$("#cv-actividad_extra textarea").addClass("form-control");
		$("#form-modal .modal-title").html('<i class="clip"></i> &nbsp;Actividades extra-académicas');
		//$("#id_descripcion").hide();
		$('#id_descripcion').prop('placeholder', 'Académicos, Deportivos, Artisticos, Sociales, etc.')
		$("#txt-descripcion").on("input", function(){
			$("#id_descripcion").val($("#txt-descripcion").val());
		});

		if($("#id_descripcion").val()){
			$("#txt-descripcion").val($("#id_descripcion").val());
		}

		InicializarValidaciones();
	});

	function InicializarValidaciones(){
		$("form").validate({
			onfocusout: true,
			onkeyup:true,
            errorPlacement: function (error, element) {
				debugger;
                $(element).tooltip('destroy');

				if(element[0].id == 'id_ano_inicio_estudio' || element[0].id == 'id_ano_graduacion' || element[0].id == 'id_telefono'){

					$(element).tooltip({
						animation: true,
						placement: "right",
						title: $(error).text(),
						trigger: "manual"
                	} );

				}
				else{
					$(element).tooltip({
						animation: true,
						placement: "left",
						title: $(error).text(),
						trigger: "manual"
					} );
				}

                $(element).tooltip('show');

            },
            success: function (label, element) {
                $(element).tooltip('hide');
            },
            rules: {
				organizacion: {
					required: true,
                    maxlength: 50
                },
				descripcion:{
                    maxlength: 1000
                }
            },
            messages: {
				organizacion: {
					required: "Este campo es obligatorio",
                    maxlength: "Este campo no puede superar los 50 caracteres"
                },
				descripcion:{
                    maxlength: "Este campo no puede superar los 1000 caracteres"
                }
            }
        });
	}

</script>
