
<div style="margin:0 50px">

	<form class="form-horizontal" action="{% url 'mi-cv-idioma' %}" method="post">
		{%csrf_token%}
				<div id="div_id_idioma" class="form-group">
					<label class="control-label ">
						Idioma
					</label>
					{{form.idioma}}

					<!--<select multiple="" class="full" id="id_idioma" name="idioma" tabindex="-1" aria-hidden="true" style="width: 81%">-->
						<!--{% for x,y in form.fields.idioma.choices %}-->
						<!--<option value="{{ x }}" selected>{{ y }}</option>-->
						<!--{% endfor %}-->
					<!--</select>-->

				</div>
		<!--<input type="submit" class="btn btn-primary btn-submit" value = "Guardar">-->
	</form>
</div>

<script>
	$(function(){
		$("#form-modal .modal-title").html('<i class="language"></i> <strong>&nbsp;Idiomas</strong>');
	});
</script>