<div style="margin: 0 50px">
	<form id = "cv-voluntariado" action="{{ request.build_absolute_uri }}" method="post">{%csrf_token%}
		<div class="form-horizontal">
			<div class ="form-group">
				<label class = "col-sm-3">Cargo</label>
				<div class = "col-sm-4">
					{{form.cargo}}
				</div>
				<div class = "col-sm-4">
					{{form.organizacion}}
				</div>
			</div>

			<div class ="form-group">
				<label class = "col-sm-3">Desde / Hasta</label>
				<div class = "col-sm-6">
					{{form.fecha_desde_hidden}}
					{{form.fecha_hasta_hidden}}
					<div class="input-group input-daterange">
						<input id="id_fecha_desde" name="fecha_desde" type="text" class="form-control">
						<span class="input-group-addon">a</span>
						<input id="id_fecha_hasta" name="fecha_desde" type="text" class="form-control">
					</div>
				</div>
			</div>
		</div>
		<div class = "form-group">
			<label class = "control-label">Describe tus actividades</label>
			<textarea id = "txt-descripcion" name="descripcion"></textarea>
				{{form.descripcion}}
		</div>
	</form>
</div>
<script>
	$(function(){
		$(".modal-dialog").css("width", "700px")
		$("#cv-voluntariado input").addClass("form-control");
		$("#cv-voluntariado select").addClass("form-control");
		$("#cv-voluntariado textarea").addClass("form-control");
		$("#form-modal .modal-title").html('<i class="volunteer"></i> &nbsp;Voluntariado');
		$("#id_descripcion").hide();
		$("#txt-descripcion").on("input", function(){
			$("#id_descripcion").val($("#txt-descripcion").val());
		});

		if($("#id_descripcion").val()){
			$("#txt-descripcion").val($("#id_descripcion").val());
		}
		
		var fechaDesde = {};

		if($('#id_fecha_desde').val()){
			fechaDesde = moment($('#id_fecha_desde').val(),'DD/MM/YYYY').format('MM/YYYY');
		}
		else if($('#id_fecha_desde_hidden').val()){2016-08-01
			fechaDesde = moment($('#id_fecha_desde_hidden').val(),'YYYY-MM-DD').format('MM/YYYY');
		}
		else{
			fechaDesde = moment().format('MM/YYYY');
		}

		var fechaHasta = {};

		if($('#id_fecha_hasta').val()){
			fechaHasta = moment($('#id_fecha_hasta').val(),'DD/MM/YYYY').format('MM/YYYY');
		}
		else if($('#id_fecha_hasta_hidden').val()){
			fechaHasta = moment($('#id_fecha_hasta_hidden').val(),'YYYY-MM-DD').format('MM/YYYY');
		}
		else{
			fechaHasta = moment().format('MM/YYYY');
		}

		$('#id_fecha_desde').val(fechaDesde);
		$('#id_fecha_hasta').val(fechaHasta);

		$('.input-daterange').datepicker({
				language: 'es',
				format: "mm/yyyy",
				startView: "months",
				minViewMode: "months",
				startDate:"01/1950"
			});

		InicializarValidaciones();
	});

	function InicializarValidaciones(){
		$("form").validate({
//			onfocusout: true,
//			onkeyup:true,
            errorPlacement: function (error, element) {

                $(element).tooltip('destroy');

				if(element[0].id == 'id_organizacion'){

					$(element).tooltip({
						animation: true,
						placement: "right",
						title: $(error).text(),
						trigger: "manual"
                	} );

				}
				else{
					$(element).tooltip({
						animation: true,
						placement: "left",
						title: $(error).text(),
						trigger: "manual"
					} );
				}

                $(element).tooltip('show');

            },
            success: function (label, element) {
                $(element).tooltip('hide');
            },
            rules: {
				cargo: {
					required: true
                },
				organizacion:{
                    required: true
                },
				descripcion:{
					required: true,
					maxlength: 1000
				}

            },
            messages: {
				cargo: {
					required: "Este campo es obligatorio"
                },
				organizacion:{
                    required: "Este campo es obligatorio"
                },
				descripcion:{
					required: "Este campo es obligatorio",
                    maxlength: "Este campo no puede superar los 1000 caracteres"
                }
            }
        });
	}

</script>