<div style="margin: 0 50px">
	<form action="{{ request.build_absolute_uri }}" method="post">{%csrf_token%}
		<div class="form-horizontal">
			<div class ="form-group">
				<label class = "col-sm-3">Cargo</label>
				<div class = "col-sm-4">
					{{form.cargo}}
				</div>
				<div class = "col-sm-4">
					{{form.organizacion}}
				</div>
			</div>

			<div class ="form-group">
				<label class = "col-sm-3">Desde / Hasta</label>
				<div class = "col-sm-6">
					<div class="input-group input-daterange">
						{{form.fecha_desde}}
						<span class="input-group-addon">a</span>
						{{form.fecha_hasta}}
					</div>
				</div>
			</div>
		</div>
		<div class = "form-group">
			<label class = "control-label">Describe tus actividades</label>
			<textarea id = "txt-descripcion" name="descripcion"></textarea>
				{{form.descripcion}}
		</div>
	</form>
</div>
<script>
	$(function(){
		$("#form-modal .modal-title").html('<i class="volunteer"></i> &nbsp;Voluntariado');
	});
</script>