<style>
 	.modal-dialog{
 		width: 55%;
 	}
</style>
<div style="margin: 0 50px">
	<form id = "cv-experiencia" action="{{ request.build_absolute_uri }}" method="post" autocomplete="off">{%csrf_token%}
		<div class="form-horizontal">
			<div class ="form-group">
				<label class = "col-sm-3">Cargo</label>
				<div class = "col-sm-4">
					{{form.puestos_hidden}}
					{{form.puestos}}
				</div>
				<div class = "col-sm-4">
					{{form.empresas_hidden}}
					{{form.empresas}}
				</div>
			</div>

			<div class ="form-group">
				<label class = "col-sm-3">Desde / Hasta</label>
				<div class = "col-sm-5">
					{{form.fecha_desde_hidden}}
					{{form.fecha_hasta_hidden}}
					<div class="input-group input-daterange">
						<!--{{form.fecha_desde}}-->
						<input id="id_fecha_desde" name="fecha_desde" type="text" class="form-control">
						<span class="input-group-addon">a</span>
						<input id="id_fecha_hasta" name="fecha_hasta" type="text" class="form-control">
						<!--{{form.fecha_hasta}}-->
					</div>
				</div>
				<div class = "col-sm-4" style="padding-top:7px">
					<input class="col-sm-2" id="id_experiencia_actual" name="experiencia_actual" type="checkbox" value="S">
					<label class="col-sm-10" style="padding-left:0px"> Es mi trabajo actual</label>
				</div>
			</div>
		</div>
		<div class = "form-group">
			<label class = "control-label">Describe tus actividades</label>
			<textarea id = "txt-descripcion" name="descripcion_txt">{{experiencia_descripcion}}</textarea>
				{{form.descripcion}}
		</div>
	</form>
</div>
<script>
	$(function(){
		$("#cv-experiencia input:not(:checkbox)").addClass("form-control");
		$("#cv-experiencia select").addClass("form-control");
		$("#cv-experiencia textarea").addClass("form-control");

		$("#id_descripcion").hide();
		$("#txt-descripcion").on("input", function(){
			$("#id_descripcion").val($("#txt-descripcion").val());
		});
        $('textarea').each(function(){
            $(this).after("<div class = 'textarea-feedback'></div>");
            var text_length = $(this).val().length;
            $(this).next().html(text_length + ' caracteres');
        });

        $('textarea').on("keyup", function() {
            var enteredText = $(this).val();
            var numberOfLineBreaks = (enteredText.match(/\n/g)||[]).length;
            var characterCount = enteredText.length + numberOfLineBreaks;
            $(this).next().html(characterCount + ' caracteres');
        });

		if($("#id_descripcion").val()){
//			$("#txt-descripcion").val($("#id_descripcion").val());
		}

		$("#id_experiencia_actual").change(function(e){
 //			console.log($(this).is(":checked"));
 			var isChecked = $(this).is(":checked");

 			if(isChecked){
 				$("#id_fecha_hasta").prop( "disabled", true )
 //				$("#id_fecha_hasta").val('');
 				$('#id_fecha_hasta').datepicker('setDate','');
 				$('#id_fecha_hasta').datepicker('update');
 			}
 			else{
 				$("#id_fecha_hasta").prop( "disabled", false )
 				$("#id_fecha_hasta").removeClass('valid');
 			}
 		});


		$("#form-modal .modal-title").html('<i class="work"></i> &nbsp;Experiencia profesional');

		var fechaDesde = {};

		if($('#id_fecha_desde').val()){
			fechaDesde = moment($('#id_fecha_desde').val(),'DD/MM/YYYY').format('MM/YYYY');
		}
		else if($('#id_fecha_desde_hidden').val()){
			fechaDesde = moment($('#id_fecha_desde_hidden').val(),'YYYY-MM-DD').format('MM/YYYY');
		}
		else{
			fechaDesde = moment().format('MM/YYYY');
		}

		var fechaHasta = {};
		var experiencia_actual = '{{experiencia_actual}}';

		if($('#id_fecha_hasta').val()){
			fechaHasta = moment($('#id_fecha_hasta').val(),'DD/MM/YYYY').format('MM/YYYY');
		}
		else if($('#id_fecha_hasta_hidden').val()){
			fechaHasta = moment($('#id_fecha_hasta_hidden').val(),'YYYY-MM-DD').format('MM/YYYY');
		}
		else{
			if(experiencia_actual == 'S'){
 				fechaHasta = '';
 				$("#id_experiencia_actual").prop( "checked", true );
 				$("#id_fecha_hasta").prop( "disabled", true );//
 			}
 			else{
 				fechaHasta = moment().format('MM/YYYY');
 			}
		}

		$('#id_fecha_desde').val(fechaDesde);
		$('#id_fecha_hasta').val(fechaHasta);

		$('.input-daterange').datepicker({
				autoclose: true,
				language: 'es',
				format: "mm/yyyy",
				startView: "months",
				minViewMode: "months",
				startDate:"01/1950",
				endDate:'0d'
			});

		InicializarTypeaheadElementos();

		$('.input-daterange').datepicker().on('changeDate', function(e) {

 			if(e.target.id=='id_fecha_hasta' && $("#id_experiencia_actual").is(":checked") && $('#id_fecha_hasta').val()){
 //				$('#id_fecha_hasta').val('');
 				$('#id_fecha_hasta').datepicker('setDate','');
 				$('#id_fecha_hasta').datepicker('update');

 			}
 		});
		InicializarValidaciones();
	});

	function InicializarValidaciones(){

		$.validator.addMethod('validarFecha',function(value, element, param){
 			if(element.id == 'id_fecha_desde'){
 				if(!value){
 					return false;
 				}
 			}
 			else if(element.id == 'id_fecha_hasta'){
 				if(!$("#id_experiencia_actual").is(":checked") && !value){
 					return false;
 				}
 			}
 			return true;
 		},"Este campo es obligatorio");



		$("form").validate({
//			onfocusout: true,
//			onkeyup:true,
            errorPlacement: function (error, element) {

                $(element).tooltip('destroy');

				if(element[0].id == 'id_empresas' || element[0].id == 'id_fecha_hasta'){

					$(element).tooltip({
						animation: true,
						placement: "right",
						title: $(error).text(),
						trigger: "manual"
                	} );

				}
				else{
					$(element).tooltip({
						animation: true,
						placement: "left",
						title: $(error).text(),
						trigger: "manual"
					} );
				}

                $(element).tooltip('show');

            },
            success: function (label, element) {
                $(element).tooltip('hide');
            },
            rules: {
				puestos: {
					required: true
                },
				empresas:{
                    required: true
                },
				descripcion_txt:{
					required: true,
					maxlength: 1000
				},
 				fecha_desde:{
 					validarFecha:true
 				},
 				fecha_hasta: {
					validarFecha: true
				}
            },
            messages: {
				puestos: {
					required: "Este campo es obligatorio"
                },
				empresas:{
                    required: "Este campo es obligatorio"
                },
				descripcion_txt:{
					required: "Este campo es obligatorio",
                    maxlength: "Este campo no puede superar los 1000 caracteres"
                }
            }
        });
	}

	function InicializarTypeahead(idElemento, idHidden, ruta, campoID, campoNombre){
		$("#"+idElemento).typeahead({
			source: function(buscar,cargarResultado){
				console.log(buscar);
				$.ajax({
					data : {'busqueda': buscar},
					url: ruta,
					type: 'get',
					success: function(data){

						if(data){
							if(data.length > 0) {
								var arreglo = [];
								data.forEach(function(obj){
									var obje = {};
//									obje.id = obj.pk;
									obje.id = obj[campoID];
//									obje.name = obj.fields.descripcion;
									obje.name = obj.fields[campoNombre];

									arreglo.push(obje);
								});

								cargarResultado(arreglo);
							}
						}
					}

				});
			},
			minLength: 3
		});

		$("#"+idElemento).change(function() {
			var current = $("#"+idElemento).typeahead("getActive");
			if (current) {
				// Some item from your model is active!
				if (current.name == $("#"+idElemento).val()) {
					$("#"+idHidden).val(current.id);
				} else {
					$("#"+idHidden).val('0');
				}
			}
			else {
				$("#"+idHidden).val('0');
			}
		});
	}

	function InicializarTypeaheadElementos(){
		InicializarTypeahead('id_empresas', 'id_empresas_hidden', '{%url "empresa-busqueda" %}','pk', 'nombre');
		InicializarTypeahead('id_puestos', 'id_puestos_hidden', '{%url "puesto-busqueda" %}', 'pk', 'descripcion');
	}


</script>