<style>
	.modal-dialog{
		width: 55%;
	}
</style>
<div style="margin: 0 50px">
	<form id = "cv-voluntariado" action="{{ request.build_absolute_uri }}" method="post">{%csrf_token%}
		<div class="form-horizontal">
			<div class ="form-group">
				<label class = "col-sm-3">Cargo</label>
				<div class = "col-sm-4">
					{{form.cargo}}
				</div>
				<div class = "col-sm-4">
					{{form.organizacion}}
				</div>
			</div>

			<div class ="form-group">
				<label class = "col-sm-3">Desde / Hasta</label>
				<div class = "col-sm-5">
					{{form.fecha_desde_hidden}}
					{{form.fecha_hasta_hidden}}
					<div class="input-group input-daterange">
						<input id="id_fecha_desde" name="fecha_desde" type="text" class="form-control">
						<span class="input-group-addon">a</span>
						<input id="id_fecha_hasta" name="fecha_hasta" type="text" class="form-control">
					</div>

				</div>
				<div class = "col-sm-4" style="padding-top:7px">
					<input class="col-sm-2" id="id_voluntariado_actual" name="voluntariado_actual" type="checkbox" value="S">
					<label class="col-sm-10" style="padding-left:0px">contin&uacute;o realiz&aacute;ndolo</label>
				</div>
			</div>

		</div>
		<div class = "form-group">
			<label class = "control-label">Describe tus actividades</label>
			<textarea id = "txt-descripcion" name="descripcion_txt" maxlength="1000">{{voluntariado_descripcion}}</textarea>
				{{form.descripcion}}
		</div>
	</form>
</div>

<script>

	$(function(){
//		$(".modal-dialog").css("width", "700px")
        $("#txt-descripcion").on("input", function(){
			$("#id_descripcion").val($("#txt-descripcion").val());
		});

        $('textarea').each(function(){
            $(this).after("<div class = 'textarea-feedback'></div>");
            var enteredText = $(this).val();
            var numberOfLineBreaks = (enteredText.match(/\n/g)||[]).length
            var characterCount = enteredText.length + numberOfLineBreaks;

            var totalText = 1000 - characterCount;
            $(this).next().html(totalText + ' caracteres');
        });

        $('textarea').on("keyup", function() {
            var enteredText = $(this).val();
            var numberOfLineBreaks = (enteredText.match(/\n/g)||[]).length;
            var characterCount = enteredText.length + numberOfLineBreaks;

            var totalText = 1000 - characterCount;
            $(this).next().html(totalText + ' caracteres');
        });

		$("#cv-voluntariado input:not(:checkbox)").addClass("form-control");
		$("#cv-voluntariado select").addClass("form-control");
		$("#cv-voluntariado textarea").addClass("form-control");
		$("#form-modal .modal-title").html('<i class="volunteer"></i> &nbsp;Voluntariado');
		$("#id_descripcion").hide();
		$("#txt-descripcion").on("input", function(){
			$("#id_descripcion").val($("#txt-descripcion").val());
		});

		$("#id_voluntariado_actual").change(function(e){
//			console.log($(this).is(":checked"));
			var isChecked = $(this).is(":checked");

			if(isChecked){
				$("#id_fecha_hasta").prop( "disabled", true )
//				$("#id_fecha_hasta").val('');
				$('#id_fecha_hasta').datepicker('setDate','');
				$('#id_fecha_hasta').datepicker('update');
			}
			else{
				$("#id_fecha_hasta").prop( "disabled", false )
				$("#id_fecha_hasta").removeClass('valid');
			}
		});

//		if($("#id_descripcion").val()){
//			$("#txt-descripcion").val($("#id_descripcion").val());
//		}
		
		var fechaDesde = {};

		if($('#id_fecha_desde').val()){
			fechaDesde = moment($('#id_fecha_desde').val(),'DD/MM/YYYY').format('MM/YYYY');
		}
		else if($('#id_fecha_desde_hidden').val()){
			fechaDesde = moment($('#id_fecha_desde_hidden').val(),'YYYY-MM-DD').format('MM/YYYY');
		}
		else{
			fechaDesde = moment().format('MM/YYYY');
		}

		var fechaHasta = {};
		var voluntariado_actual = '{{voluntariado_actual}}';

		if($('#id_fecha_hasta').val()){
			fechaHasta = moment($('#id_fecha_hasta').val(),'DD/MM/YYYY').format('MM/YYYY');
		}
		else if($('#id_fecha_hasta_hidden').val()){
			fechaHasta = moment($('#id_fecha_hasta_hidden').val(),'YYYY-MM-DD').format('MM/YYYY');
		}
		else{
			if(voluntariado_actual == 'S'){
				fechaHasta = '';
				$("#id_voluntariado_actual").prop( "checked", true );
				$("#id_fecha_hasta").prop( "disabled", true );//
			}
			else{
				fechaHasta = moment().format('MM/YYYY');
			}

		}

		$('#id_fecha_desde').val(fechaDesde);
		$('#id_fecha_hasta').val(fechaHasta);

		$('.input-daterange').datepicker({
				autoclose: true,
				language: 'es',
				format: "mm/yyyy",
				startView: "months",
				minViewMode: "months",
				startDate:"01/1950",
				endDate:'0d'
			});

		$('.input-daterange').datepicker().on('changeDate', function(e) {

			if(e.target.id=='id_fecha_hasta' && $("#id_voluntariado_actual").is(":checked") && $('#id_fecha_hasta').val()){
//				$('#id_fecha_hasta').val('');
				$('#id_fecha_hasta').datepicker('setDate','');
				$('#id_fecha_hasta').datepicker('update');

			}
		});

		InicializarValidaciones();
	});

	function InicializarValidaciones(){

		$.validator.addMethod('validarFecha',function(value, element, param){

			if(element.id == 'id_fecha_desde'){
				if(!value){
					return false;
				}
			}
			else if(element.id == 'id_fecha_hasta'){
				if(!$("#id_voluntariado_actual").is(":checked") && !value){
					return false;
				}
			}
			return true;
		},"Este campo es obligatorio");

		$("form").validate({
//			onfocusout: true,
//			onkeyup:true,
            errorPlacement: function (error, element) {

                $(element).tooltip('destroy');

				if(element[0].id == 'id_organizacion' || element[0].id == 'id_fecha_hasta'){

					$(element).tooltip({
						animation: true,
						placement: "right",
						title: $(error).text(),
						trigger: "manual"
                	} );

				}
				else{
					$(element).tooltip({
						animation: true,
						placement: "left",
						title: $(error).text(),
						trigger: "manual"
					} );
				}

                $(element).tooltip('show');

            },
            success: function (label, element) {
                $(element).tooltip('hide');
            },
            rules: {
				cargo: {
					required: true
                },
				organizacion:{
                    required: true
                },
				descripcion:{
					required: true,
					maxlength: 1000
				},
				fecha_desde:{
					validarFecha:true
				},
				fecha_hasta:{
					validarFecha:true
				}

            },
            messages: {
				cargo: {
					required: "Este campo es obligatorio"
                },
				organizacion:{
                    required: "Este campo es obligatorio"
                },
				descripcion:{
					required: "Este campo es obligatorio",
                    maxlength: "Este campo no puede superar los 1000 caracteres"
                }
            }
        });
	}

</script>