
<!--<style>-->
	<!--.modal-dialog{-->
		<!--width: 70%;-->
	<!--}-->
<!--</style>-->
<div>
	<form class="form-horizontal" action="{% url 'mi-cv-resumen' %}" method="post">
			{%csrf_token%}
		  {{form.resumen}}
	</form>
</div>
<script>
	$(function(){
        $('textarea').each(function(){
            $(this).after("<div class = 'textarea-feedback'></div>");
            var text_length = $(this).val().length;
            $(this).next().html(text_length + ' caracteres');
        });

        $('textarea').on("keyup", function() {
            var text_length = $(this).val().length;

            $(this).next().html(text_length + ' caracteres');
        });

		$("#form-modal .modal-title").html('<i class="profile"></i> &nbsp;Resumen');
//		$("#div_id_resumen").removeClass('form-group');form-control
		$("#id_resumen").addClass('form-control');
		InicializarValidaciones()

	});

	function InicializarValidaciones(){
		$("form").validate({
			onfocusout: true,
			onkeyup:true,
            errorPlacement: function (error, element) {
				debugger;
                $(element).tooltip('destroy');

				if(element[0].id == 'id_ano_inicio_estudio' || element[0].id == 'id_ano_graduacion' || element[0].id == 'id_telefono'){

					$(element).tooltip({
						animation: true,
						placement: "right",
						title: $(error).text(),
						trigger: "manual"
                	} );

				}
				else{
					$(element).tooltip({
						animation: true,
						placement: "left",
						title: $(error).text(),
						trigger: "manual"
					} );
				}

                $(element).tooltip('show');

            },
            success: function (label, element) {
                $(element).tooltip('hide');
            },
            rules: {
				resumen: {
					required: true,
                    maxlength: 1000
                }
            },
            messages: {
				resumen: {
					required: "Este campo es obligatorio",
                    maxlength: "Este campo no puede superar los 1000 caracteres"
                }
            }
        });
	}
</script>
