<!--Agregado por Jonathan-->
{% load staticfiles %}


<!--Fin agregado Jonathan-->
<div style="margin: 0 50px">
	<form id = "cv-experiencia" action="{{ request.build_absolute_uri }}" method="post">{%csrf_token%}
		<div class="form-horizontal">
			<div class ="form-group">
				<label class = "col-sm-3">Cargo</label>
				<div class = "col-sm-4">
					{{form.puestos_hidden}}
					{{form.puestos}}
				</div>
				<div class = "col-sm-4">
					{{form.empresas_hidden}}
					{{form.empresas}}
				</div>
			</div>

			<div class ="form-group">
				<label class = "col-sm-3">Desde / Hasta</label>
				<div class = "col-sm-6">
					<div class="input-group input-daterange">
						{{form.fecha_desde}}
						<span class="input-group-addon">a</span>
						{{form.fecha_hasta}}
					</div>
				</div>
			</div>
		</div>
		<div class = "form-group">
			<label class = "control-label">Describe tus actividades</label>
			<textarea id = "txt-descripcion" name="descripcion"></textarea>
				{{form.descripcion}}
		</div>
	</form>
</div>
<script>
	$(function(){
		$(".modal-dialog").css("width", "700px")
		$("#cv-experiencia input").addClass("form-control");
		$("#cv-experiencia select").addClass("form-control");
		$("#cv-experiencia textarea").addClass("form-control");
		$("#id_descripcion").hide();
		$("#txt-descripcion").on("input", function(){
			$("#id_descripcion").val($("#txt-descripcion").val());
		});
		$("#form-modal .modal-title").html('<i class="work"></i> &nbsp;Experiencia profesional');
		$('.input-daterange input').each(function() {
			$(this).datepicker({
				language: 'es',
				format: "mm-yyyy",
				startView: "months",
				minViewMode: "months"
			});
		});

		$("#id_puestos").autocomplete({
			//source: ids
			appendTo: "#form-modal",
			source : function(r,res){
				//res(ids);

				$.ajax({
					data : {'busqueda': r.term},
					url: '{%url "puesto-busqueda" %}',
					type: 'get',
					success: function(data){

						if(data){
							if(data.length > 0) {
								var arreglo = [];
								data.forEach(function(obj){
									var obje = {};
									obje.value = obj.pk;
									obje.label = obj.fields.descripcion;

									arreglo.push(obje);
								});

								res(arreglo);
							}
						}
					}

				});

				 document.ready
			},
			select: function(event, ui) {
					// prevent autocomplete from updating the textbox
					event.preventDefault();
					// manually update the textbox and hidden field
					$(this).val(ui.item.value);
					GuardarValorHidden('id_puestos_hidden',this.id,ui);
				}
		});

		$("#id_empresas").autocomplete({
			//source: ids
			appendTo: "#form-modal",
			source : function(r,res){
				//res(ids);

				$.ajax({
					data : {'busqueda': r.term},
					url: '{%url "empresa-busqueda" %}',
					type: 'get',
					success: function(data){

						if(data){
							if(data.length > 0) {
								var arreglo = [];
								data.forEach(function(obj){
									var obje = {};
									obje.value = obj.pk;
									obje.label = obj.fields.nombre;

									arreglo.push(obje);
								});

								res(arreglo);
							}
						}
					}

				});

				 document.ready
			},
			select: function(event, ui) {
					// prevent autocomplete from updating the textbox
					event.preventDefault();
					// manually update the textbox and hidden field
					$(this).val(ui.item.value);
					GuardarValorHidden('id_empresas_hidden',this.id,ui);
				}
		});

	});

	function GuardarValorHidden(idHidden, idElemento, ui){
		document.getElementById(idHidden).value = ui.item.value;
		document.getElementById(idElemento).value = ui.item.label;
	}


</script>