<div style="margin: 0 50px">
	<form id = "cv-experiencia" action="{{ request.build_absolute_uri }}" method="post">{%csrf_token%}
		<div class="form-horizontal">
			<div class ="form-group">
				<label class = "col-sm-3">Cargo</label>
				<div class = "col-sm-4">
					{{form.puesto}}
				</div>
				<div class = "col-sm-4">
					{{form.empresa}}
				</div>
			</div>

			<div class ="form-group">
				<label class = "col-sm-3">Desde / Hasta</label>
				<div class = "col-sm-6">
					<div class="input-group input-daterange">
						<input type="text" class="form-control" >
						<span class="input-group-addon">a</span>
						<input type="text" class="form-control" >
					</div>
				</div>
			</div>
		</div>
		<div class = "form-group">
			<label class = "control-label">Describe tus actividades</label>
			<textarea id = "txt-descripcion" name="descripcion"></textarea>
				{{form.descripcion}}
		</div>
	</form>
</div>
<script>
	$(function(){
		$(".modal-dialog").css("width", "700px")
		$("#cv-experiencia input").addClass("form-control");
		$("#cv-experiencia select").addClass("form-control");
		$("#cv-experiencia textarea").addClass("form-control");
		$("#id_descripcion").hide();
		$("#txt-descripcion").on("input", function(){
			$("#id_descripcion").val($("#txt-descripcion").val());
		});
		$("#form-modal .modal-title").html('<i class="work"></i> &nbsp;Experiencia profesional');
		$('.input-daterange input').each(function() {
			$(this).datepicker({
				language: 'es',
				format: "mm-yyyy",
				startView: "months",
				minViewMode: "months"
			});
		});
	});
</script>