{% load staticfiles %}
{%for oportunidad in oportunidades%}
<li>
	<div class="box oportunidad-box">
		<div class="content">
			<a href="{%url 'estudiante_empresa_detalle' oportunidad.empresa.id %}"><img class="imagen" src="{{oportunidad.empresa.set_logo}}"/></a>
			<div class="detalle">
				<a class="titulo" href="{%url 'estudiante-oportunidad-detalle' oportunidad.id%}"><h2 class="link">{{oportunidad.titulo}}</h2></a>
				<div class="descripcion">
					<div class="datos">
						<div class="empresa">
							<i class="empresa"></i>
							<label class ="text-uppercase"><a href="{%url 'estudiante_empresa_detalle' oportunidad.empresa.id %}">{{oportunidad.empresa}}</a></label>
						</div>
						<div class="ubicacion"><i class="ubicacion"></i><label>{{oportunidad.ciudad}}, {{oportunidad.pais}}</label></div>
						<div class="remuneracion"><i class="remuneracion"></i><label>
							{%if oportunidad.remuneracion.id == 3 %}
								{{oportunidad.remuneracion_min}}
							{%elif oportunidad.remuneracion.id == 2 %}
								{{oportunidad.remuneracion_max}} - {{oportunidad.remuneracion_min}}
							{%else%}
								{{oportunidad.remuneracion}}
							{%endif%}
						</label></div>
					</div>
					<div class="compatibilidad" data-info="{{oportunidad.empresa.id}}" id="oport-{{oportunidad.id}}">
						<div class = "consolidado">
							<div class="circular-bar ">
								<div class="circular-bar-chart" data-percent="73">
									<label><span class="percent">73</span>%</label>
								</div>
							</div>
							<label class="resultado">Compatible</label>
						</div>
						<div class = "desglose" style = "opacity: 0">
							<div class = "cultural">
								<div class="circular-bar">
									<div class="circular-bar-chart" data-percent="63">
										<label><span class="percent">53</span>%</label>
									</div>
								</div>
								<label class="resultado">Cultural</label>
							</div>
							<div class = "academico">
								<div class="circular-bar">
									<div class="circular-bar-chart" data-percent="49">
										<label><span class="percent">49</span>%</label>
									</div>
								</div>
								<label class="resultado">Académico</label>
							</div>
						</div>
					</div>
					<div class="ver-oportunidad">
						<a class="btn-action" href="{%url 'estudiante-oportunidad-detalle' oportunidad.id %}">VER OPORTUNIDAD</a>
						<label class="cierre">CIERRA {{ oportunidad.fecha_cese | date:"j.m.Y"}}</label>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</li>
{%endfor%}

<script src="{% static 'js/jquery.easypiechart.js' %}"></script>
<script>
	 $(function(){
	    $("#link-oportunidad").addClass("active");
	   	$("body").on("mouseenter", ".compatibilidad", function(){
			$(this).find(".consolidado").css("opacity",0);
		  	$(this).find(".desglose").css("opacity",1);
			var data = 0;
			data = $(this).find(".cultural .circular-bar-chart").data("percent");
			$(this).find(".cultural .circular-bar-chart").data('easyPieChart').update(0);
			$(this).find(".cultural .circular-bar-chart").data('easyPieChart').update(data);

			data = $(this).find(".academico .circular-bar-chart").data("percent");
			$(this).find(".academico .circular-bar-chart").data('easyPieChart').update(0);
			$(this).find(".academico .circular-bar-chart").data('easyPieChart').update(data);
		});
	   	$("body").on("mouseleave", ".compatibilidad", function(){
		   	$(this).find(".consolidado").css("opacity",1);
		  	$(this).find(".desglose").css("opacity",0);
			$('.chart').data('easyPieChart').update(40);
		});

		 $('.compatibilidad .consolidado .circular-bar-chart').easyPieChart({
					animate: 2000,
					scaleLength: 0,
					lineWidth: 5,
					barColor: "#1dcfac",
					size: 65,
				});
		 $('.cultural .circular-bar-chart').easyPieChart({
					animate: 2000,
					scaleLength: 0,
					lineWidth: 5,
					barColor: "#c0392b",
					size: 65,
				});
		 $('.academico .circular-bar-chart').easyPieChart({
					animate: 2000,
					scaleLength: 0,
					lineWidth: 5,
					barColor: "#5d9cf9",
					size: 65,
				});
	});

    var CompatibilidadJD = function(){
        this.fnCargar = function() {
            $.get("{% url 'estudiante-cargar-compatibilidad' %}", function(data){

                $.each(data, function(i, item) {
                   $(".candidatos").append('<option value="'+item.id+'">'+item.estudiante+'</option>');
                    $("#oport-"data[item].id).find(".academico .circular-bar-chart").data('easyPieChart').update(data[item].compatibilidad_academica);
                    $("#oport-"data[item].id).find(".circular-bar-chart").data('easyPieChart').update(data[item].compatibilidad_academica);

                });

            });
        }
    }


</script>