{% extends 'estudiante/base.html' %}
{% block content %}
<!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("72a03d42a5b1bb8d9eb67b567ccb5b5a");</script><!-- end Mixpanel -->
<script>
if (sessionStorage.getItem("mixpanel{{oportunidad.id}}") == null){
	sessionStorage.setItem("mixpanel{{oportunidad.id}}", false);
	mixpanel.track("Vista Oportunidad", {
		'OportunidadID': "{{oportunidad.id}}",
		'Oportunidad' : "{{oportunidad.titulo}}",
		'EmpresaID' : "{{empresa.id}}",
		'Empresa': "{{empresa.nombre | upper}}",
		'unit': 'day',
		'interval': '7',
		'url' : window.location.pathname
	});
	$.ajax({
		data : {'id':'{{oportunidad.id}}'},
		url: '{%url "contador-visitas-oportunidad-enviar" %}',
		type: 'get',
		success: function(data){ }
	});
}</script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<section class="oportunidad-detalle">
	<div class="centered">
		<div class="panel left principal">
			<div class="box">
				<header class="oportunidad-resumen">
					<img class="imagen" src="{{empresa.set_logo}}" alt="{{empresa.nombre}}" />
					<div class="detalle">
						<h1>{{oportunidad.titulo}}</h1>
						<a href="{%url 'estudiante_empresa_detalle' empresa.id%}"><h4 class="link">{{empresa.nombre | upper}}</h4></a>
						<label>{{oportunidad.ciudad}}, {{oportunidad.pais}}</label>
						<label>Remuneraci&oacute;n:
							{%if oportunidad.remuneracion.id == 3 %}
								$ {{oportunidad.remuneracion_min}}
							{%elif oportunidad.remuneracion.id == 2 %}
								$ {{oportunidad.remuneracion_max}} - {{oportunidad.remuneracion_min}}
							{%else%}
								{{oportunidad.remuneracion}}
							{%endif%}</label>
					</div>
					<div class="postulacion">
						{% if oportunidad.estado_oportunidad == 'A'%}
						<a id="postular" class="{% if postulacion.estado == 'A'%} btn-action-invertido
							{%else %}btn-action{%endif%}">{% if postulacion.estado == 'A'%}CANCELAR{%else %}POSTULAR{%endif%}</a>
						<label class="cierre">CIERRA EL {{oportunidad.fecha_cese | date:"j.m.Y" }}</label>
						{%else%}

						<label class="cierre">CIERRA EL {{oportunidad.fecha_cese | date:"j.m.Y" }}</label>
						{%endif%}

					</div>
					<div class="clear"></div>
				</header>
				<div class="content">
					<section class="informacion">
						<h3 class="title"><i class="info"></i>Información</h3>
						<div class="detalle">
							<div class = "row">
								<label class = "col-sm-3">Tipo de vacante</label>
								<div class = "col-sm-9">{{oportunidad.tipo_puesto}}</div>
								<div class="clear"></div>
							</div>
							<div class = "row">
								<label class = "col-sm-3">Jornada de trabajo</label>
								<div class = "col-sm-9">{{oportunidad.carga_horaria}}</div>
								<div class="clear"></div>
							</div>
							<div class = "row">
								<label class = "col-sm-3">Resumen</label>
								<div class = "col-sm-9"> {{oportunidad.resumen}}</div>
								<div class="clear"></div>
							</div>
						</div>
					</section>
					<section class="perfil">
						<h3 class="title"><i class="profile"></i>Perfil del candidato</h3>
						<div class="detalle">
							<div class = "row">
								<label class = "col-sm-3">Carrera</label>
								<div class = "col-sm-9">
									{% for carrera in oportunidad.carrera.all%}
									<span class="tag">{{carrera}}</span>
									{%endfor%}
								</div>
								<div class="clear"></div>
							</div>
							<div class = "row">
								<label class = "col-sm-3">Conocimientos</label>
								<div class = "col-sm-9">
									{% for conocimiento in oportunidad.conocimiento.all%}
									<span class="tag">{{conocimiento}}</span>
									{%endfor%}
								</div>
								<div class="clear"></div>
							</div>
							<div class = "row">
								<label class = "col-sm-3">Idiomas</label>
								<div class = "col-sm-9">
									{% for idioma in oportunidad.idioma.all%}
									<span class="tag">{{idioma}}</span>
									{%endfor%}
								</div>
								<div class="clear"></div>
							</div>
							<div class = "row">
								<label class = "col-sm-3">Graduaci&oacute;n / Graduaci&oacute;n estimada</label>
								<div class = "col-sm-9">2do Semestre 2015 - 2do Semestre 2016</div>
								<div class="clear"></div>
							</div>
						</div>
					</section>
					<section class="beneficios">
						<h3 class="title"><i class="like"></i>Beneficios</h3>
						<div class="detalle">
							<p>
								{% for beneficio in oportunidad.beneficio.all%}
								<span class="tag">{{beneficio}}</span>
								{%endfor%}
								{% for beneficio in beneficios_extras%}
								<span class="tag">{{beneficio}}</span>
								{%endfor%}
							<div class="clear"></div>
						</div>
					</section>
					<section class="ubicacion">
						<h3 class="title"><i class="location"></i>Ubicaci&oacute;n</h3>
						<div style="margin:0 50px">
							<div id = "id_direccion_map">{{oportunidad.direccion_map}}</div>
							<i class = "fa fa-map-marker"></i>
							<label><b>Latitud:</b></label>
							<span id = "id_longitud">{{oportunidad.longitud}}</span> -
							<label><b>Longitud:</b></label>
							<span id = "id_latitud">{{oportunidad.latitud}}</span><br><br>
						</div>
						<div id = "map" style = "height: 350px; width: 100%"></div><!--
						<div class="detalle">
							<div class ="form-group">
										<label class = "col-sm-3">Direcci&oacute;n</label>
										<div class = "col-sm-9">
											{{oportunidad.direccion_map}}
										</div>
										<br>
									</div>
									<div class ="form-group">

										<div id = "id_direccion_map">{{oportunidad.direccion_map}}</div>
                            			<div id = "id_longitud">{{oportunidad.longitud}}</div>
                           				 <div id = "id_latitud">{{oportunidad.latitud}}</div>
										<div class="clear"></div>
									</div>
									<div id = "map" style = "height: 350px; width: 100%"></div>
						</div>-->
					</section>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</section>
<div class="popup aviso" id="resultado-postulacion">
	<div class="popup-box box">
		<div class="content" id="popup-confirm">
			<section class="header">
				<h4 class="link">CONFIRMACI&Oacute;N</h4>
			</section>
			{% if postulacion.estado == 'A'%}
				<section class="mensaje">
					<p>¿Estas seguro que deseas cancelar está postulaci&oacute;n ?!</p>
					<div class="botones-popup">
						<a class="btn-save" onclick="window.history.back();">CANCELAR</a>
						<a id= "cancelar-postulacion" class="btn-save" >ACEPTAR</a>
					</div>
				</section>
			{%else %}
			<section class="mensaje">
				<p>Tu postulaci&oacute;n ha sido registrada con &eacute;xito, ahora s&oacute;lo queda esperar por el contacto de la empresa. ¡Buena suerte!</p>
			</section>
			{%endif%}


		</div>
		<a class="close">Cerrar</a>
	</div>
</div>
{% endblock%}

{% block js %}
<script>
	$("#link-oportunidad").addClass("active");

	$('#postular').click(function(event) {
		fnCargarPopup();
		window.location = '#resultado-postulacion';
		var id = event.target.href.substr(event.target.href.lastIndexOf('#'))
        if ($(id).hasClass('popup'))
			$('body').addClass('static');
		if ($.trim($("#postular").text()) == 'POSTULAR'){
			fnPostular();
		}
	});
	$('.popup .close').click(function(e) {
		window.history.back();
		$('body').removeClass('static');
	});
	$('a').click(function(event) {

    });
	function fnPostular(){
		debugger;
		var id = {{oportunidad.id}};
		$.ajax({
			data : {'id':id},
			url: '{%url "estudiante-oportunidad-postular" %}',
			type: 'get',
			success: function(data){
				$("#postular").text(data[0]);
				if(data[0] == "CANCELAR") {
					$("#postular").removeClass("btn-action");
					$("#postular").addClass("btn-action-invertido");
				}
				else{
					$("#postular").removeClass("btn-action-invertido");
					$("#postular").addClass("btn-action");
				}
			}

		});
	}

	function fnCargarPopup(){

		html = '<section class="header">';
		html += '<h4 class="link">CONFIRMACI&Oacute;N</h4>';
		html += '</section>';
		html += '<section class="mensaje">';
		if($.trim($("#postular").text()) =='CANCELAR') {
			html += '<p>¿Estas seguro que deseas cancelar está postulaci&oacute;n ?!</p>';
			html += '<div class="botones-popup">';
			html += '<a class="btn-save" onclick="window.history.back();">CANCELAR</a>';
			html += '<a id="cancelar-postulacion" class="btn-save" onclick="fnCancelarPostulacion();" >ACEPTAR</a>';
			html += '</div>';

		}
		else if ($.trim($("#postular").text()) == 'POSTULAR') {
			html += '<p>Tu postulaci&oacute;n ha sido registrada con &eacute;xito, ahora s&oacute;lo queda esperar ' +
					'por el contacto de la empresa. ¡Buena suerte!</p>';
			}
		html += '</section>';
		$('#popup-confirm').html(html);
	}
	function fnCancelarPostulacion() {
		window.history.back();
		$('body').removeClass('static');
		fnPostular();
	}
	var Detalle = {
        map: null,
        marca: null,
        inicializar_mapa: function(event) {
            var mapCanvas = document.getElementById('map');
            var mapOptions = {
                center: new google.maps.LatLng(-12.0570208,-77.0372896),
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            Detalle.map = new google.maps.Map(mapCanvas, mapOptions);
            google.maps.event.addListener(Detalle.map, 'click', function (event) {
                Detalle.marcar_mapa(event.latLng);
            });
            if ($("#id_latitud").html().replace(",",".") != "" && $("#id_latitud").html() != "None") {
                var latitud = $("#id_latitud").html().replace(",",".");
                var longitud = $("#id_longitud").html().replace(",",".");
                var punto = new google.maps.LatLng(latitud, longitud);
                Detalle.marcar_mapa(punto);
            }

			google.maps.event.trigger(Detalle.map, "resize");
        },
        marcar_mapa: function(coordenadas){
            var marker = new google.maps.Marker({
                position: coordenadas,
                map: Detalle.map
            });
            Detalle.marca = marker;
            Detalle.map.setCenter(coordenadas);
			var geocoder = new google.maps.Geocoder();
            geocoder.geocode({
                location: new google.maps.LatLng(coordenadas.lat(),coordenadas.lng())
                }, function (response, status) {
                    if (response != null && response.length > 0 && response.status != "ZERO_RESULTS")
                        $("#id_direccion_map").html(response[0]["formatted_address"]);
            });
        }
    };

	$(function(){
		Detalle.inicializar_mapa();
	})
</script>

{%endblock%}