{% extends 'estudiante/base.html' %}
{% load staticfiles %}
{% block content %}
<section class="oportunidades-estudiante">
    <div class="centered">
	    <input id="busqueda" class="search" type="text" placeholder="Buscar por puesto, empresa, ciudad, etc." />
        <div class="centered"></div>
		<ul class="panel left principal" id="oportunidad-lista">

        </ul>
        <div class="clear"></div>
    </div>
    <div id="vacio"></div>
</section>
{% endblock %}
{% block js %}
<script src="{% static 'endless_pagination/js/endless-pagination.js' %}"></script>
<script src="{% static 'js/jquery.easypiechart.js' %}"></script>
<script>

	 $(function(){
         fnCargarOportunidad();

        $("#link-oportunidad").addClass("active");
        $("body").on("mouseenter", ".compatibilidad", function(){
			$(this).find(".consolidado").css("opacity",0);
		  	$(this).find(".desglose").css("opacity",1);
			var data = 0;
			data = $(this).find(".cultural .circular-bar-chart").data("percent");
			$(this).find(".cultural .circular-bar-chart").data('easyPieChart').update(0);
			$(this).find(".cultural .circular-bar-chart").data('easyPieChart').update(data);
			data = $(this).find(".academico .circular-bar-chart").data("percent");
			$(this).find(".academico .circular-bar-chart").data('easyPieChart').update(0);
			$(this).find(".academico .circular-bar-chart").data('easyPieChart').update(data);
		});
	   	$("body").on("mouseleave", ".compatibilidad", function(){
		   	$(this).find(".consolidado").css("opacity",1);
		  	$(this).find(".desglose").css("opacity",0);
			$('.chart').data('easyPieChart').update(40);
		});


	});

    $('#busqueda').keyup(function() {
		if($('#busqueda').val().length > 3 || $('#busqueda').val().length == 0 )
			fnCargarOportunidad();

	});

    function fnCargarOportunidad(){
        $.get("{% url 'estudiante-oportunidad-cargar' %}?b=" + $('#busqueda').val(), function(htmlexterno) {
            if($.trim(htmlexterno)==""){
                $('#vacio').html('<h4 class = "no-results">No se encontraron resultados</h4>');
            }
            else {
                $('#vacio').html('');
                $('#oportunidad-lista').html(htmlexterno);
                if ($(".box.oportunidad-box").length ==0){
                    $('#vacio').html('<h4 class = "no-results">No se encontraron resultados</h4>');
                }
                $('.compatibilidad .consolidado .circular-bar-chart').easyPieChart({
                    animate: 2000,
                    scaleLength: 0,
                    lineWidth: 5,
                    barColor: "#5D9CF9",
                    size: 65,
                });
                $('.cultural .circular-bar-chart').easyPieChart({
                    animate: 2000,
                    scaleLength: 0,
                    lineWidth: 5,
                    barColor: "#27ae60",
                    size: 65,
                });
                $('.academico .circular-bar-chart').easyPieChart({
                    animate: 2000,
                    scaleLength: 0,
                    lineWidth: 5,
                    barColor: "#c0392b",
                    size: 65,
                });
            }
		});
    }
</script>
{% endblock%}