{% extends 'estudiante/base.html' %}
{% load staticfiles %}
{%block css%}

{%endblock%}
{% block content %}

		<script src="{% static 'js/jquery.easypiechart.js' %}"></script>
		<section class="empresa">
			<div class="centered">
				<div class="panel left">
					<div class="box">
						<header>
							<img src="{{empresa.set_logo}}" />
						</header>
						<div class="content">
							<h3 class="link text-uppercase"><a href="{%url 'estudiante_empresa_detalle' empresa.id%}">{{empresa.nombre}}</a></h3>
							<label class="descripcion">{{empresa.sector | upper}}</label>
						</div>
					</div>
				</div>
				<div class="panel right principal">
					<ul class="list">
						{% for opo in oportunidades %}
                        <li>
							<div class="box oportunidad-box">
								<div class="content">
									<div class="detalle full">
										<a class="titulo" href="{%url 'estudiante-oportunidad-detalle' opo.oportunidad.id%}"><h2 class="link">{{opo.oportunidad.titulo | title }}</h2></a>
                                        <div class="descripcion">
                                            <div class="datos">
                                                <div class="empresa"><i class="empresa"></i><label><a href="{%url 'estudiante_empresa_detalle' empresa.id%}">{{opo.oportunidad.empresa | upper}}</a></label></div>
                                                <div class="ubicacion"><i class="ubicacion"></i><label>{{oportunidad.ciudad}}, {{oportunidad.pais}}</label></div>
                                                <div class="remuneracion"><i class="remuneracion"></i><label>
													{%if opo.oportunidad.remuneracion.id == 3 %}
                                                    	{{opo.oportunidad.remuneracion_min}}
                                                	{%elif opo.oportunidad.remuneracion.id == 2 %}
                                                    	{{opo.oportunidad.remuneracion_max}} - {{opo.oportunidad.remuneracion_min}}
                                                	{%else%}
                                                    	{{opo.oportunidad.remuneracion}}
                                                	{%endif%}</label></div>
                                            </div>
                                           	<div class="compatibilidad">
												<div class="consolidado">
													<div class="circular-bar ">
														<div class="circular-bar-chart" data-percent="{{ opo.compatibilidad_promedio }}">
															<label><span class="percent">{{ opo.compatibilidad_promedio }}</span>%</label>
														</div>
													</div>
													<label class="resultado">Compatible</label>
												</div>
												<div class="desglose" style="opacity: 0">
													<div class="cultural">
														<div class="circular-bar">
															<div class="circular-bar-chart" data-percent="{{ opo.compatibilidad_cultural }}">
																<label><span class="percent">{{ opo.compatibilidad_cultural }}</span>%</label>
															</div>
														</div>
														<label class="resultado">Cultural</label>
													</div>
													<div class="academico">
														<div class="circular-bar">
															<div class="circular-bar-chart" data-percent="{{opo.compatibilidad_academica}}">
																<label><span class="percent">{{opo.compatibilidad_academica}}</span>%</label>
															</div>
														</div>
														<label class="resultado">Académico</label>
													</div>
												</div>
											</div>
											<div class="ver-oportunidad">
                                                <a class="btn-action" href="{%url 'estudiante-oportunidad-detalle' opo.oportunidad.id%}">VER OPORTUNIDAD</a>
                                                <label class="cierre">CIERRA EL {{oportunidad.fecha_cese | date:"j.m.Y"}}</label>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</li>
						{%endfor%}
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</section>

{% endblock content %}
{% block js %}
<script>
	$(function(){
		$("#link-empresa").addClass("active");
		$("body").on("mouseenter", ".compatibilidad", function () {
            $(this).find(".consolidado").css("opacity",0);
		  	$(this).find(".desglose").css("opacity",1);
			var data = 0;
			data = $(this).find(".cultural .circular-bar-chart").data("percent");
			$(this).find(".cultural .circular-bar-chart").data('easyPieChart').update(0);
			$(this).find(".cultural .circular-bar-chart").data('easyPieChart').update(data);

			data = $(this).find(".academico .circular-bar-chart").data("percent");
			$(this).find(".academico .circular-bar-chart").data('easyPieChart').update(0);
			$(this).find(".academico .circular-bar-chart").data('easyPieChart').update(data);
        });
        $("body").on("mouseleave", ".compatibilidad", function () {
            $(this).find(".consolidado").css("opacity", 1);
            $(this).find(".desglose").css("opacity", 0);
        });
        $('.compatibilidad .consolidado .circular-bar-chart').easyPieChart({
            animate: 2000,
            scaleLength: 0,
            lineWidth: 5,
            barColor: "#5D9CF9",
            size: 65,
        });
        $('.cultural .circular-bar-chart').easyPieChart({
            animate: 2000,
            scaleLength: 0,
            lineWidth: 5,
            barColor: "#27ae60",
            size: 65,
        });
        $('.academico .circular-bar-chart').easyPieChart({
            animate: 2000,
            scaleLength: 0,
            lineWidth: 5,
            barColor: "#c0392b",
            size: 65,
        });
	});
</script>
{%endblock%}