{% extends 'estudiante/base-estudiante.html' %}
{% block content %}
<section class="oportunidades-estudiante">
			<div class="centered">
				<input class="search" type="text" placeholder="Buscar por puesto, empresa, ciudad, etc." />
				<div class="centered"></div>
				<ul class="panel left principal">
					<li>
						<div class="box oportunidad-box">
							<div class="content">
								<a href="oportunidad.html"><img class="imagen" src="../img/empresas/empresa-6.jpg" alt="Gra&ntilde;a y Montero" /></a>
								<div class="detalle">
									<a class="titulo" href="oportunidad.html"><h2 class="link">Analista de mejora de estrategia de marca personal</h2></a>
									<div class="descripcion">
										<div class="datos">
											<div class="empresa"><i class="empresa"></i><label>GRA&Ntilde;A & MONTERO</label></div>
											<div class="ubicacion"><i class="ubicacion"></i><label>Lima, Per&uacute;</label></div>
											<div class="remuneracion"><i class="remuneracion"></i><label>No especificado</label></div>
										</div>
										<div class="compatibilidad">
											<div class="grafico"><img src="../img/compatibilidad.jpg" /></div>
											<label class="resultado">Compatible</label>
										</div>
										<div class="ver-oportunidad">
											<a class="btn-action" href="oportunidad.html">VER OPORTUNIDAD</a>
											<label class="cierre">CIERRA EL 15.03.15</label>
										</div>
										<div class="clear"></div>
									</div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="box oportunidad-box">
							<div class="content">
								<a href="oportunidad.html"><img class="imagen" src="../img/empresas/empresa-4.jpg" alt="Gra&ntilde;a y Montero" /></a>
								<div class="detalle">
									<a class="titulo" href="oportunidad.html"><h2 class="link">Jefe de estrategia de ventas</h2></a>
									<div class="descripcion">
										<div class="datos">
											<div class="empresa"><i class="empresa"></i><label>PLAYSTATION</label></div>
											<div class="ubicacion"><i class="ubicacion"></i><label>Lima, Per&uacute;</label></div>
											<div class="remuneracion"><i class="remuneracion"></i><label>S/. 4000.00</label></div>
										</div>
										<div class="compatibilidad">
											<div class="grafico"><img src="../img/compatibilidad.jpg" /></div>
											<label class="resultado">Compatible</label>
										</div>
										<div class="ver-oportunidad">
											<a class="btn-action" href="oportunidad.html">VER OPORTUNIDAD</a>
											<label class="cierre">CIERRA EL 15.03.15</label>
										</div>
										<div class="clear"></div>
									</div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="box oportunidad-box">
							<div class="content">
								<a href="oportunidad.html"><img class="imagen" src="../img/empresas/empresa-3.jpg" alt="Gra&ntilde;a y Montero" /></a>
								<div class="detalle">
									<a class="titulo" href="oportunidad.html"><h2 class="link">Dise&ntilde;ador gr&aacute;fico de piezas digitales multimedia</h2></a>
									<div class="descripcion">
										<div class="datos">
											<div class="empresa"><i class="empresa"></i><label>DELL</label></div>
											<div class="ubicacion"><i class="ubicacion"></i><label>Lima, Per&uacute;</label></div>
											<div class="remuneracion"><i class="remuneracion"></i><label>S/. 4000.00</label></div>
										</div>
										<div class="compatibilidad">
											<div class="grafico"><img src="../img/compatibilidad.jpg" /></div>
											<label class="resultado">Compatible</label>
										</div>
										<div class="ver-oportunidad">
											<a class="btn-action" href="oportunidad.html">VER OPORTUNIDAD</a>
											<label class="cierre">CIERRA EL 15.03.15</label>
										</div>
										<div class="clear"></div>
									</div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="box oportunidad-box">
							<div class="content">
								<a href="oportunidad.html"><img class="imagen" src="../img/empresas/empresa-1.jpg" alt="Gra&ntilde;a y Montero" /></a>
								<div class="detalle">
									<a class="titulo" href="oportunidad.html"><h2 class="link">Programador de redes interna</h2></a>
									<div class="descripcion">
										<div class="datos">
											<div class="empresa"><i class="empresa"></i><label>ADOBE</label></div>
											<div class="ubicacion"><i class="ubicacion"></i><label>Lima, Per&uacute;</label></div>
											<div class="remuneracion"><i class="remuneracion"></i><label>S/. 4000.00</label></div>
										</div>
										<div class="compatibilidad">
											<div class="grafico"><img src="../img/compatibilidad.jpg" /></div>
											<label class="resultado">Compatible</label>
										</div>
										<div class="ver-oportunidad">
											<a class="btn-action" href="oportunidad.html">VER OPORTUNIDAD</a>
											<label class="cierre">CIERRA EL 15.03.15</label>
										</div>
										<div class="clear"></div>
									</div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</li>
				</ul>
				<div class="clear"></div>
			</div>
		</section>
{% endblock%}