{% extends 'estudiante/base.html' %}
{% load staticfiles %}
{%block css%}

{%endblock%}
{% block content %}
<section class="proceso-detalle" style="padding-top: 150px">
			<div class="centered">
				<div class="box">
					<div class="content">
						<section class="oportunidad-resumen">
							<img class="imagen" src="{{empresa.set_logo}}" alt="{{empresa.nombre}}" />
							<div class="detalle">
								<h1>{{oportunidad.titulo}}</h1>
								<a href=""><h4 class="link">{{empresa.nombre |upper}}</h4></a>
								<label>{{oportunidad.ciudad}}, {{oportunidad.pais}}</label>
								<label>Remuneraci&oacute;n: {{oportunidad.remuneracion}} </label>
							</div>
							<div class="estado">
								<label>Estado del proceso:</label>
								<label>
									{%if postulacion.estado_postulacion == 'P'%}
									Postulado
									{%endif%}
									{%if postulacion.estado_postulacion == 'E'%}
									En Evaluacion
									{%endif%}
									{%if postulacion.estado_postulacion == 'F'%}
									Finalizado
									{%endif%}
								</label>
							</div>
							<div class="clear"></div>
						</section>
						<section class="contenido">
							<div class="menu">
								<a class="active" id="menu-estado">Estado</a>
								<a id="menu-mensajes">Mensajes</a>
							</div>
							<div class="detail">

								<div class="estado active" id="content-estado">
									<div id = "wizard" class = "grafico">
										<div class="wizard-progress wizard-progress-lg">
											<div class="steps-progress">
												<div class="progress-indicator" style="width: 0%;"></div>
											</div>
											<ul class="wizard-steps">
												<li class = "{%if postulacion.estado_postulacion == 'P' %}active on{%endif%}">
													<a href="#tab1" data-toggle="tab"><span class = "fa fa-check"></span>Postulacion</a>
												</li>
												<li class ="{%if postulacion.estado_postulacion == 'E'%}active on{%endif%}">
													<a href="#tab2" data-toggle="tab"><span class = "fa fa-check"></span>Evaluacion</a>
												</li>
												<li class ="{%if postulacion.estado_postulacion == 'F'%}active on{%endif%}">
													<a href="#tab3" data-toggle="tab"><span class = "fa fa-check"></span>Finalizado</a>
												</li>
											</ul>
										</div>
									</div>

										<div class="clear"></div>
									<p>Tu postulaci&oacute;n ha sido registrada satisfactoriamente y te encuentras en la etapa de
										{%if postulacion.estado_postulacion == 'P'%}
											Postulado,
											{%endif%}
											{%if postulacion.estado_postulacion == 'E'%}
											En Evaluacion,
											{%endif%}
											{%if postulacion.estado_postulacion == 'F'%}
											Finalizado,
											{%endif%} te notificaremos cuando el proceso haya finalizado.</p>
								</div>
								<div class="mensajes" id="content-mensajes">
									<table class = "bj-table">
										<tbody>
											<tr class="unread">
												<th>Empresa</th>
												<th>Asunto</th>
												<th>Fecha</th>
											</tr>
                                            {%for m in mensajes.all%}
											<tr  class="unread" data-id="{{m.id}}">
												<td>{{m.mensaje.oportunidad.empresa}}</td>
												<td>{{m.mensaje.asunto}}!</td>
												<td>{{m.fecha_creacion | date:"j/m/Y" }}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							<div class="clear"></div>
								</div>
						</section>
					</div>
				</div>
			</div>
		</section>
		<div class="popup mensaje" id="popup-mensaje">
			<div class="popup-box">
				<div class="content">
					<section class="header">
						<h4 class="link" id="mensaje-empresa"></h4>
						<label class="info" id="mensaje-fecha-recibido">Recibido el JUEVES 15/03/2015 a las 21:09 horas</label>
					</section>
					<section class="mensaje">
						<label class="asunto" id="mensaje-asunto">¡ENHORABUENA!</label>
						<p id="mensaje-contenido">Maecenas vel odio auctor, sodales enim nec, venenatis dolor. Nunc ullamcorper nisi quis lorem ultrices, in dictum urna placerat. Morbi porttitor purus in velit congue, in euismod mauris hendrerit. Aliquam erat volutpat. Nullam commodo vehicula tellus, ac dignissim eros gravida a. Cras molestie varius lacinia. Phasellus sit amet arcu efficitur, ultricies mauris aliquet, dapibus lorem. Nulla consequat risus sed pharetra congue.</p>
					</section>
				</div>
				<a class="close">Cerrar</a>
			</div>
		</div>

{% endblock content%}
{% block js %}
<script type="text/javascript" src="{% static 'js/jquery.bootstrap.wizard.js' %}"></script>
<script>
	$("#link-procesos").addClass("active");
	$('.popup').click(function(e) {
		if ( $(e.target).closest('.popup-box').length === 0 ) {
			window.history.back();
			$('body').removeClass('static');
		}
	});
	$('.popup .close').click(function(e) {
		window.history.back();
		$('body').removeClass('static');
	});
	$('#menu-estado').click(function() {
		$('.contenido .detail > div').removeClass('active');
		$('.contenido .menu a').removeClass('active');
		$('#content-estado').addClass('active');
		$('#menu-estado').addClass('active');
	});
	$('#menu-mensajes').click(function() {
		$('.contenido .detail > div').removeClass('active');
		$('.contenido .menu a').removeClass('active');
		$('#content-mensajes').addClass('active');
		$('#menu-mensajes').addClass('active');
	});
	$('#content-mensajes tr').click(function() {
		window.location = '#popup-mensaje';
	});
	$('a').click(function(event) {
		var id = event.target.href.substr(event.target.href.lastIndexOf('#'))
        if ($(id).hasClass('popup'))
			$('body').addClass('static');
    });
	window.onload = function(){
	$('.wizard-progress').bootstrapWizard({
		tabClass: 'wizard-steps',
		onTabClick: function( tab, navigation, index, newindex ) {
			debugger;
		},
		onTabChange: function( tab, navigation, index, newindex ) {
			debugger;
			//var $total = navigation.find('li').size() - 1;
			//$wizardfinish[ newindex != $total ? 'addClass' : 'removeClass' ]( 'hidden' );
			//$('#wizard').find(this.nextSelector)[ newindex == $total ? 'addClass' : 'removeClass' ]( 'hidden' );
		},
		onTabShow: function( tab, navigation, index ) {

			$(".wizard-progress li.on + li").removeClass("active");
			$(".wizard-progress li.on").addClass("active");
			if (tab.is(":not(.on")){
				return false;
			}
			var $total = navigation.find('li').length - 1;
			var $current = index;
			var $percent = Math.floor(( $current / $total ) * 100);
			$('#wizard').find('.progress-indicator').css({ 'width': $percent + '%' });
			tab.prevAll().addClass('completed');
			tab.nextAll().removeClass('completed');
			return false;
		}
		}, 5000);
	};
</script>
{% endblock%}