{% load staticfiles %}
<html>
	<head>
		<title>Broder jobs</title>
		<meta content="IE=11.0000" http-equiv="X-UA-Compatible">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
        <meta name="HandheldFriendly" content="true">
		<link rel="stylesheet" href="{% static "css/broder.css" %}">
		<script type="text/javascript" src="{% static "js/jquery-1.8.2.min.js" %}"></script>
	</head>
	<body>
		<section class="final-registro">
			<img class="logo" src="{% static "img/logo_orange.png" %}" alt="broderjobs"/>
			<div class="box">
				<div class="content">
					<section>
					    {% if user.is_authenticated %}
						<label class="hola">Hola <span class="bold">{{user.first_name|capfirst}}</span></label>
					    {% endif %}
						<p class="indicacion">
                            Muchas gracias  por su registro, muy pronto podrás disfrutar
                            de todas las oportunidades laborales que BroderJobs tiene para ti!!
                        </p>
						<!--<p class="indicacion">Ay&uacute;danos a ayudarte. Ingresa la siguiente informaci&oacute;n para poder mostrarte las oportunidades m&aacute;s adecuadas seg&uacute;n tu perfil y preferencias.</p>
						<div class="datos">
							<div>
								<label>Grado de estudios</label>
								<p><select class="full">
									<option disabled selected>Estudiante, egresado, titulado</option>
									<option>Estudiante</option>
									<option>Egresado</option>
									<option>Titulado</option>
								</select></p>
							</div>
							<div>
								<label>Universidad</label>
								<p><input class="full" type="text" placeholder="Universidad" /></p>
							</div>
							<div>
								<label>Carrera</label>
								<p><input class="full" type="text" placeholder="Carrera" /></p>
							</div>
							<div>
								<label>Inicio de estudios</label>
								<p>
									<select class="half-2">
										<option disabled selected>Semestre</option>
										<option>0</option>
										<option>1</option>
										<option>2</option>
									</select>
									<select class="half-1">
										<option disabled selected>A&ntilde;o</option>
										<option>1900</option>
										<option>1950</option>
										<option>1990</option>
										<option>2000</option>
										<option>2005</option>
										<option>2010</option>
									</select>
								</p>
							</div>
							<div>
								<label>Graduaci&oacute;n / Grad. estimada</label>
								<p>
									<select class="half-2">
										<option disabled selected>Semestre</option>
										<option>0</option>
										<option>1</option>
										<option>2</option>
									</select>
									<select class="half-1">
										<option disabled selected>A&ntilde;o</option>
										<option>1900</option>
										<option>1950</option>
										<option>1990</option>
										<option>2000</option>
										<option>2005</option>
										<option>2010</option>
									</select>
								</p>
							</div>
							<div>
								<label>Pa&iacute;s</label>
								<p><select class="full">
									<option selected disabled>Selecciona un pa&iacute;s</option>
									<option>Per&uacute;</option>
									<option>Brasil</option>
									<option>Estados Unidos</option>
									<option>Argentina</option>
									<option>Chile</option>
								</select></p>
							</div>
							<div>
								<label>Ciudad</label>
								<p><select class="full">
									<option selected disabled>Selecciona una ciudad</option>
									<option>Lima</option>
									<option>Sâo Paulo</option>
									<option>Washington DC</option>
									<option>Buenos Aires</option>
									<option>Santiago de Chile</option>
								</select></p>
							</div>
							<div>
								<label>Tipo de puesto que buscas</label>
								<p>
									<input type="checkbox" id="practica" /><label for="practica">Pr&aacute;ctica</label>
									<input type="checkbox" id="trainee" /><label for="trainee">Trainee</label>
									<input type="checkbox" id="empleo" /><label for="empleo">Empleo</label>
								</p>
							</div>
							<div>
								<label>Carga horaria</label>
								<p>
									<input type="radio" name="horario" id="part-time" /><label for="part-time">Part time</label>
									<input type="radio" name="horario" id="full-time" /><label for="full-time">Full time</label>
								</p>
							</div>
							<div>
							</div>
						</div>
						<a class="finalizar-registro" href="oportunidades.html">Finalizar Registro</a>-->
					</section>
				</div>
			</div>
		</section>

	</body>
</html>

<script>
	$('#menu').click(function() {
		if ($('#ctx-menu-header').hasClass('active'))
			$('#ctx-menu-header').removeClass('active');
		else
			$('#ctx-menu-header').addClass('active')
	});
	$('.popup').click(function(e) {
		if ( $(e.target).closest('.popup-box').length === 0 ) {
			window.history.back();
			$('body').removeClass('static');
		}
	});
	$('.popup .close').click(function(e) {
		window.history.back();
		$('body').removeClass('static');
	});
	$('#postular').click(function(e) {
		window.location = '#resultado-postulacion';
	});
	$('a').click(function(event) {
		var id = event.target.href.substr(event.target.href.lastIndexOf('#'))
        if ($(id).hasClass('popup'))
			$('body').addClass('static');
    });
</script>