{% load staticfiles %}
<html>
	<head>
		<title>Broder jobs</title>
		<meta content="IE=11.0000" http-equiv="X-UA-Compatible">
		<link rel="shortcut icon" href="{% static 'img/icon.ico' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
        <meta name="HandheldFriendly" content="true">
		<link rel="stylesheet" href="{% static 'css/broder.css' %}">

		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<!--<link rel="stylesheet" href="{% static 'css/custom-theme/jquery-ui-1.10.3.custom.css' %}">-->
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/docs.css' %}">
		<link rel="stylesheet" href="{% static 'css/prettify.css' %}">


		<link rel="stylesheet" href="{% static 'css/select2.css' %}">

		<!--<script type="text/javascript" src="{% static 'js/jquery-1.8.2.min.js' %}"></script>-->
		<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
		<!--<script type="text/javascript" src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>-->
		<script type="text/javascript" src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap3-typeahead.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/holder.js' %}"></script>

		<script type="text/javascript" src="{% static 'js/prettify.js' %}"></script>

		<script type="text/javascript" src="{% static 'js/select2.js' %}"></script>

		<script src="{% static 'js/jquery.validate.min.js' %}"></script>
		<script src="{% static 'js/additional-methods.min.js' %}"></script>

		<style>
			.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
				background-color: #BFDEF9;
			}

			.select2-selection--single{
				background-color: #f9f9f9 !important;
				border-color: #ccc !important;
			}

			.tooltip .tooltip-inner{
                background-color: #f50 !Important;
            }

            .tooltip .tooltip-arrow{
                border-left-color: #f50 !Important;
                border-right-color: #f50 !Important;
            }

		</style>

	</head>
	<body class = "no-header">
		<section class="final-registro">
			<img class="logo" src="{% static "img/logo_orange.png" %}" alt="broderjobs"/>
			<div class="box">
				<div class="content">
					<form action="" method="post" autocomplete="off">{%csrf_token%}
						{%if form.errors %}
							{{ form.grado_estudio.errors }}
							{{ form.universodad.errors }}
							{{ form.carrera.errors }}
							{{ form.ano_inicio_estudio.errors }}
							{{ form.semestre_inicio_estudio.errors }}
							{{ form.ano_graduacion.errors}}
							{{ form.semestre_graduacion.errors}}
							{{ form.pais.errors}}
							{{ form.ciudad.errors}}
							{{ form.tipo_puesto.errors}}
						{% endif%}
					<section>
							{% if user.is_authenticated %}
							<label class="hola">Hola <span class="bold">{{user.first_name|capfirst}}</span></label>
							{% endif %}
							<p class="indicacion">Ay&uacute;danos a ayudarte. Ingresa la siguiente informaci&oacute;n para poder mostrarte las oportunidades m&aacute;s adecuadas seg&uacute;n tu perfil y preferencias.</p>
							<div class="datos">
								<div>
									<label>Grado de estudios</label>
									<p>{{form.grado_estudio}}</p>
								</div>

								<div>
									<label>Universidad</label>
									<p>
										{{form.universidades}}
										{{form.universidades_hidden}}
									</p>
								</div>
								<div>
									<label>Carrera</label>
									<p>
										{{form.carreras}}
										{{form.carreras_hidden}}
									</p>
								</div>
								<div>
									<label>Ciclo de ingresos</label>
									<p><div class = "row">
										<div class = "col-sm-6">
										{{form.semestre_inicio_estudio}}</div>
										<div class = "col-sm-6">
										{{form.ano_inicio_estudio}}</div>
									</div></p>
								</div>
								<div>
									<label>Graduaci&oacute;n / Grad. estimada</label>
									<p><div class = "row">
										<div class = "col-sm-6">
										{{form.semestre_graduacion}}</div>
										<div class = "col-sm-6">
										{{form.ano_graduacion}}</div>
									</div></p>
								</div>
								<div>
									<label>Pa&iacute;s</label>
									<p>
										{{form.pais}}
										<!--{{form.paises}}-->
										<!--{{form.paises_hidden}}-->
									</p>
								</div>
								<div>
									<label>Ciudad</label>
									<p>
										<select class="full" id="id_ciudad" name="ciudad"></select>
										{{form.ciudad_hidden}}
										<!--{{form.ciudades}}-->
										<!--{{form.ciudades_hidden}}-->
									</p>
								</div>
								<div>
									<label>Tipo de puesto que buscas</label>
									<p>
										{% for tipo_puesto in form.tipo_puesto %}
											 {{ tipo_puesto.errors }}
											 {{ tipo_puesto }}
										{% endfor %}
									</p>
								</div>
								<div>
									<label>Carga horaria</label>
									<p>
										{% for carga_horaria in form.carga_horaria %}
											 {{ carga_horaria.errors }}
											 {{ carga_horaria }}
										{% endfor %}
									</p>
								</div>
								<div>
								</div>
								<div class="disponibilidad alert alert-warning hidden" style = "font-size: 13px">
								  <strong>Advertencia:</strong> Es probable que existan pocas oportunidades con esta combinación de propuestas / carga horaria
								</div>
							</div>
							<input type="submit" name="form" value="Finalizar Registro"  class="finalizar-registro"/>
						</section>
					</form>
				</div>
			</div>
		</section>

	</body>
</html>

<script>
	$('#menu').click(function() {
		if ($('#ctx-menu-header').hasClass('active'))
			$('#ctx-menu-header').removeClass('active');
		else
			$('#ctx-menu-header').addClass('active')
	});
	$('.popup').click(function(e) {
		if ( $(e.target).closest('.popup-box').length === 0 ) {
			window.history.back();
			$('body').removeClass('static');
		}
	});
	$('.popup .close').click(function(e) {
		window.history.back();
		$('body').removeClass('static');
	});
	$('#postular').click(function(e) {
		window.location = '#resultado-postulacion';
	});
	$('a').click(function(event) {
		var id = event.target.href.substr(event.target.href.lastIndexOf('#'))
        if ($(id).hasClass('popup'))
			$('body').addClass('static');
    });
</script>

<script>

	var flagSeleccionarUniversidad = true;
	var flagSeleccionarCarrera = true;

	$('documento').ready(function(){

		$.validator.addMethod('universidadExistente',function(value, element, param){
			return flagSeleccionarUniversidad;
		},'Debe seleccionar una universidad existente');
		$.validator.addMethod('validarCiclos',function(value, element, param){
			return $("#id_ano_graduacion").val() >= $("#id_ano_inicio_estudio").val() &&
				$("#id_semestre_graduacion").val() >= $("#id_semestre_inicio_estudio").val();

		},'El ciclo de ingreso debe ser menor que la graduacion estimada');
		$.validator.addMethod('carreraExistente',function(value, element, param){
			return flagSeleccionarCarrera;
		},'Debe seleccionar una carrera existente');


		$('#id_carreras').blur(function(){
			var strInput = $('#id_carreras').val();
			var objSeleccionado = $('#id_carreras').typeahead('getActive');

			if(objSeleccionado){
				if(objSeleccionado.name != strInput){
					flagSeleccionarCarrera = false;
				}
				else{
					flagSeleccionarCarrera = true;
					var validator = $("form").validate();
					validator.element( "#id_carreras" );
				}
			}
			else if(strInput.length > 0){
				flagSeleccionarCarrera = false;
			}
		});


		//var ids = ["id_grado_estudio"];
		InicializarTypeaheadElementos();
		//InicializarPlugin(ids);
		$('#id_universidades').blur(function(){
			var strInput = $('#id_universidades').val();
			var objSeleccionado = $('#id_universidades').typeahead('getActive');

			if(objSeleccionado){
				if(objSeleccionado.name != strInput){
					flagSeleccionarUniversidad = false;
				}
				else{
					flagSeleccionarUniversidad = true;
					var validator = $("form").validate();
					validator.element( "#id_universidades" );
				}
			}
			else if(strInput.length > 0){
				flagSeleccionarUniversidad = false;
			}


//			$("span.help-block").hide();
		});

		$('#id_carreras').blur(function(){
			var strInput = $('#id_carreras').val();
			var objSeleccionado = $('#id_carreras').typeahead('getActive');

			if(objSeleccionado){
				if(objSeleccionado.name != strInput){
					$('#id_carreras_hidden').val('0');
				}
			}
			else if(strInput.length > 0){
				$('#id_carreras_hidden').val('0');
			}
		});


		$("#id_pais").select2({
  			placeholder: "Selecciona un País",
  			allowClear: true
		});
		$("#id_ciudad").select2({
  			placeholder: "Selecciona una Ciudad",
  			allowClear: true
		});

		$("#id_pais").change(function() {
			if($("#id_pais").val() > 0 ){
				$.ajax({
					data: {'pais': $("#id_pais").val()},
					url: '{%url "ciudad-busqueda" %}',
					type: 'get',
					success: function (data) {
						if (data) {
							if (data.length > 0) {
//								var options = '<option value="">Ciudad</option>';
								var options = '';
								for (var i = 0; i < data.length; i++) {
									options += '<option value="' + data[i].pk + '">' + data[i].fields['descripcion'] + '</option>';
								}
								$("#id_ciudad").html(options);
								// $("#id_ciudad option:first").attr('selected', 'selected');
								$("#id_ciudad").select2("val", "");
								$("#id_ciudad").attr('disabled', false);
							}
						}
					}
				});
				LlamarValidacionElemento('id_pais');
			}
			else{
				LlamarValidacionElemento('id_pais');
				var options = '';
				$("#id_ciudad").html(options);
				$("#id_ciudad").select2("val", "");
				$("#id_ciudad").attr('disabled', false);
			}
		});
		$("#id_ciudad").change(function() {
			$('#id_ciudad_hidden').val($(this).val());
			LlamarValidacionElemento('id_ciudad');
		});



	});

	function LlamarValidacionElemento(id){
		var validator = $( "form" ).validate();
		validator.element('#'+id);
	}

	function GuardarValorHidden(idHidden, idElemento, ui){
		document.getElementById(idHidden).value = ui.item.value;
		document.getElementById(idElemento).value = ui.item.label;
	}

	function InicializarPlugin(ids){

		ids.forEach(function(id){
			$("#"+id).select2({
				placeholder: "Seleccione por favor",
				allowClear: true
			});
		});
	}

	function InicializarTypeahead(idElemento, idHidden, ruta){
		$("#"+idElemento).typeahead({
			source: function(buscar,cargarResultado){

				$.ajax({
					data : {'busqueda': buscar},
					url: ruta,
					type: 'get',
					success: function(data){

						if(data){
							if(data.length > 0) {
								var arreglo = [];
								data.forEach(function(obj){
									var obje = {};
									obje.id = obj.pk;
									obje.name = obj.fields.descripcion;

									arreglo.push(obje);
								});

								cargarResultado(arreglo);
							}
						}
					}

				});
			},
			minLength: 3
		});

		$("#"+idElemento).change(function() {
			var current = $("#"+idElemento).typeahead("getActive");
			if (current) {
				// Some item from your model is active!
				if (current.name == $("#"+idElemento).val()) {
					$("#"+idHidden).val(current.id);
				} else {
					// This means it is only a partial match, you can either add a new item
					// or take the active if you don't want new items
				}
			} else {
				// Nothing is active so it is a new value (or maybe empty value)
			}
		});
	}

	function InicializarTypeaheadElementos(){

//		InicializarTypeahead('id_paises', 'id_paises_hidden', '{%url "pais-busqueda" %}');
		InicializarTypeahead('id_universidades', 'id_universidades_hidden', '{%url "universidad-busqueda" %}');
		InicializarTypeahead('id_carreras', 'id_carreras_hidden', '{%url "carrera-busqueda" %}');

//		$("#id_ciudades").typeahead({
//			source: function(buscar,cargarResultado){
//				var valor = document.getElementById('id_paises_hidden').value;
//				$.ajax({
//					data : {'busqueda': buscar,'pais': valor},
//					url: '{%url "ciudad-busqueda" %}',
//					type: 'get',
//					success: function(data){
//
//						if(data){
//							if(data.length > 0) {
//								var arreglo = [];
//								data.forEach(function(obj){
//									var obje = {};
//									obje.id = obj.pk;
//									obje.name = obj.fields.descripcion;
//
//									arreglo.push(obje);
//								});
//
//								cargarResultado(arreglo);
//							}
//						}
//					}
//
//				});
//			}
//		});
//
//		$("#id_ciudades").change(function() {
//			var current = $("#id_ciudades").typeahead("getActive");
//			if (current) {
//				// Some item from your model is active!
//				if (current.name == $("#id_ciudades").val()) {
//					$('#id_ciudades_hidden').val(current.id);
//				} else {
//					// This means it is only a partial match, you can either add a new item
//					// or take the active if you don't want new items
//				}
//			} else {
//				// Nothing is active so it is a new value (or maybe empty value)
//			}
//		});

	}

</script>


<script>
    $(function(){
        $("form").validate({
			onfocusout: true,
			onkeyup:true,
            errorPlacement: function (error, element) {
                var object, placement;

				if ($(element).parent().find(".select2").length > 0) {
					object = $(element).parent().find(".select2");
					placement = "left";
				} else if(element[0].id == 'id_ano_inicio_estudio' || element[0].id == 'id_ano_graduacion' ){
					object = $(element);
					placement = "right";

				} else if(error[0].innerText == "El ciclo de ingreso debe ser menor que la graduacion estimada"){
					if (element[0].id == 'id_ano_inicio_estudio' || element[0].id == 'id_ano_graduacion'){
						object = $(element);
						placement = "right";
					}
				}
				else{
					object = $(element);
					placement = "left";
				}
				$(object).tooltip('destroy');
				$(object).tooltip({
					animation: true,
					placement: placement,
					title: $(error).text(),
					trigger: "manual"
				});
                $(object).tooltip('show');

            },
            success: function (label, element) {
                $(element).tooltip('hide');
            },
            rules: {
                email: {
                    required: true,
                    email: true
                },
                password: {
                    required: true
                },
				universidades: {
                    required: true,
					universidadExistente: true
                },
				carreras: {
					required: true,
					carreraExistente: true
				},
				grado_estudio: {
                    required: true
                },
				semestre_inicio_estudio:{
                    required: true,
					validarCiclos: true
                },
				ano_inicio_estudio:{
                    required: true,
					validarCiclos: true
                },
				semestre_graduacion:{
                    required: true,
					validarCiclos: true
                },
				ano_graduacion:{
                    required: true,
					validarCiclos: true
                },
				pais:{
                    required: true
                },
				ciudad:{
                    required: true
                },
				carga_horaria:{
                    required: true
                },
				tipo_puesto:{
                    required: true
                }

            },
            messages: {
                email: {
                    required: "Este campo es obligatorio",
                    email: "Introduzca un correo válido"
                },
                password: {
                    required: "Este campo es obligatorio"
                },
				universidades: {
                    required: "Este campo es obligatorio"
                },
				carreras: {
                    required: "Este campo es obligatorio"
                },
				grado_estudio: {
                    required: "Este campo es obligatorio"
                },
				semestre_inicio_estudio:{
                    required: "Este campo es obligatorio"
                },
				ano_inicio_estudio:{
                    required: "Este campo es obligatorio"
                },
				semestre_graduacion:{
                    required: "Este campo es obligatorio"
                },
				ano_graduacion:{
                    required: "Este campo es obligatorio"
                },
				pais:{
                    required: "Este campo es obligatorio"
                },
				ciudad:{
                    required: "Este campo es obligatorio"
                },
				carga_horaria:{
                    required: "Este campo es obligatorio"
                },
				tipo_puesto:{
                    required: "Este campo es obligatorio"
                }

            }
        });
		if (	!$("[name=tipo_puesto][value=3]").is(":checked") &&
				$("[name=carga_horaria][value=2]").is(":checked")){
				$(".disponibilidad.alert").removeClass("hidden");
		}
		else {
			$(".disponibilidad.alert").addClass("hidden")
		}
		$("[name=tipo_puesto], [name=carga_horaria]").on("click", function(){
			if (	!$("[name=tipo_puesto][value=3]").is(":checked")
				&& 	$("[name=carga_horaria][value=2]").is(":checked")){
				$(".disponibilidad.alert").removeClass("hidden")
			}
			else {
				$(".disponibilidad.alert").addClass("hidden")
			}
		});
        $("#link-sesion").addClass("active");
    });
</script>
