{% load staticfiles %}
<html>
	<head>
		<title>Broder jobs</title>
		<meta content="IE=11.0000" http-equiv="X-UA-Compatible">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
        <meta name="HandheldFriendly" content="true">
		<link rel="stylesheet" href="{% static 'css/broder.css' %}">

		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<!--<link rel="stylesheet" href="{% static 'css/custom-theme/jquery-ui-1.10.3.custom.css' %}">-->
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/docs.css' %}">
		<link rel="stylesheet" href="{% static 'css/prettify.css' %}">


		<link rel="stylesheet" href="{% static 'css/select2.css' %}">

		<!--<script type="text/javascript" src="{% static 'js/jquery-1.8.2.min.js' %}"></script>-->
		<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
		<!--<script type="text/javascript" src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>-->
		<script type="text/javascript" src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap3-typeahead.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/holder.js' %}"></script>

		<script type="text/javascript" src="{% static 'js/prettify.js' %}"></script>

		<script type="text/javascript" src="{% static 'js/select2.js' %}"></script>

		<script src="{% static 'js/jquery.validate.min.js' %}"></script>
		<script src="{% static 'js/additional-methods.min.js' %}"></script>

	</head>
	<body>
		<section class="final-registro">
			<img class="logo" src="{% static "img/logo_orange.png" %}" alt="broderjobs"/>
			<div class="box">
				<div class="content">
					<form action="" method="post">{%csrf_token%}
						{%if form.errors %}
							{{ form.grado_estudio.errors }}
							{{ form.universodad.errors }}
							{{ form.carrera.errors }}
							{{ form.ano_inicio_estudio.errors }}
							{{ form.semestre_inicio_estudio.errors }}
							{{ form.ano_graduacion.errors}}
							{{ form.semestre_graduacion.errors}}
							{{ form.pais.errors}}
							{{ form.ciudad.errors}}
							{{ form.tipo_puesto.errors}}
						{% endif%}
					<section>
							{% if user.is_authenticated %}
							<label class="hola">Hola <span class="bold">{{user.first_name|capfirst}}</span></label>
							{% endif %}
							<p class="indicacion">Ay&uacute;danos a ayudarte. Ingresa la siguiente informaci&oacute;n para poder mostrarte las oportunidades m&aacute;s adecuadas seg&uacute;n tu perfil y preferencias.</p>
							<div class="datos">
								<div>
									<label>Grado de estudios</label>
									<p>{{form.grado_estudio}}</p>
								</div>

								<div>
									<label>Universidad</label>
									<p>
										{{form.universidades}}
										{{form.universidades_hidden}}
									</p>
								</div>
								<div>
									<label>Carrera</label>
									<p>
										{{form.carreras}}
										{{form.carreras_hidden}}
									</p>
								</div>
								<div>
									<label>Inicio de estudios</label>
									<p>
										{{form.semestre_inicio_estudio}}
										{{form.ano_inicio_estudio}}
									</p>
								</div>
								<div>
									<label>Graduaci&oacute;n / Grad. estimada</label>
									<p>
										{{form.semestre_graduacion}}
										{{form.ano_graduacion}}
									</p>
								</div>
								<div>
									<label>Pa&iacute;s</label>
									<p>
										{{form.paises}}
										{{form.paises_hidden}}
									</p>
								</div>
								<div>
									<label>Ciudad</label>
									<p>
										{{form.ciudades}}
										{{form.ciudades_hidden}}
									</p>
								</div>
								<div>
									<label>Tipo de puesto que buscas</label>
									<p>
										{% for tipo_puesto in form.tipo_puesto %}
											 {{ tipo_puesto.errors }}
											 {{ tipo_puesto }}
										{% endfor %}
									</p>
								</div>
								<div>
									<label>Carga horaria</label>
									<p>
										{% for carga_horaria in form.carga_horaria %}
											 {{ carga_horaria.errors }}
											 {{ carga_horaria }}
										{% endfor %}
									</p>
								</div>
								<div>
								</div>
							</div>
							<input type="submit" name="form" value="Finalizar Registro"  class="finalizar-registro"/>
						</section>
					</form>
				</div>
			</div>
		</section>

	</body>
</html>

<script>
	$('#menu').click(function() {
		if ($('#ctx-menu-header').hasClass('active'))
			$('#ctx-menu-header').removeClass('active');
		else
			$('#ctx-menu-header').addClass('active')
	});
	$('.popup').click(function(e) {
		if ( $(e.target).closest('.popup-box').length === 0 ) {
			window.history.back();
			$('body').removeClass('static');
		}
	});
	$('.popup .close').click(function(e) {
		window.history.back();
		$('body').removeClass('static');
	});
	$('#postular').click(function(e) {
		window.location = '#resultado-postulacion';
	});
	$('a').click(function(event) {
		var id = event.target.href.substr(event.target.href.lastIndexOf('#'))
        if ($(id).hasClass('popup'))
			$('body').addClass('static');
    });
</script>

<script>
	$('documento').ready(function(){

		//var ids = ["id_grado_estudio"];
		InicializarTypeaheadElementos();
		//InicializarPlugin(ids);
	});

	function GuardarValorHidden(idHidden, idElemento, ui){
		document.getElementById(idHidden).value = ui.item.value;
		document.getElementById(idElemento).value = ui.item.label;
	}

	function InicializarPlugin(ids){

		ids.forEach(function(id){
			$("#"+id).select2({
				placeholder: "Seleccione por favor",
				allowClear: true
			});
		});
	}

	function InicializarTypeahead(idElemento, idHidden, ruta){
		$("#"+idElemento).typeahead({
			source: function(buscar,cargarResultado){
				console.log(buscar);
				$.ajax({
					data : {'busqueda': buscar},
					url: ruta,
					type: 'get',
					success: function(data){

						if(data){
							if(data.length > 0) {
								var arreglo = [];
								data.forEach(function(obj){
									var obje = {};
									obje.id = obj.pk;
									obje.name = obj.fields.descripcion;

									arreglo.push(obje);
								});

								cargarResultado(arreglo);
							}
						}
					}

				});
			},
			minLength: 3
		});

		$("#"+idElemento).change(function() {
			var current = $("#"+idElemento).typeahead("getActive");
			if (current) {
				// Some item from your model is active!
				if (current.name == $("#"+idElemento).val()) {
					$("#"+idHidden).val(current.id);
				} else {
					// This means it is only a partial match, you can either add a new item
					// or take the active if you don't want new items
				}
			} else {
				// Nothing is active so it is a new value (or maybe empty value)
			}
		});
	}

	function InicializarTypeaheadElementos(){

		InicializarTypeahead('id_paises', 'id_paises_hidden', '{%url "pais-busqueda" %}');
		InicializarTypeahead('id_universidades', 'id_universidades_hidden', '{%url "universidad-busqueda" %}');
		InicializarTypeahead('id_carreras', 'id_carreras_hidden', '{%url "carrera-busqueda" %}');

		$("#id_ciudades").typeahead({
			source: function(buscar,cargarResultado){
				var valor = document.getElementById('id_paises_hidden').value;
				$.ajax({
					data : {'busqueda': buscar,'pais': valor},
					url: '{%url "ciudad-busqueda" %}',
					type: 'get',
					success: function(data){

						if(data){
							if(data.length > 0) {
								var arreglo = [];
								data.forEach(function(obj){
									var obje = {};
									obje.id = obj.pk;
									obje.name = obj.fields.descripcion;

									arreglo.push(obje);
								});

								cargarResultado(arreglo);
							}
						}
					}

				});
			}
		});

		$("#id_ciudades").change(function() {
			var current = $("#id_ciudades").typeahead("getActive");
			if (current) {
				// Some item from your model is active!
				if (current.name == $("#id_ciudades").val()) {
					$('#id_ciudades_hidden').val(current.id);
				} else {
					// This means it is only a partial match, you can either add a new item
					// or take the active if you don't want new items
				}
			} else {
				// Nothing is active so it is a new value (or maybe empty value)
			}
		});

	}

</script>


<script>
    $(function(){


        $("form").validate({
            errorPlacement: function (error, element) {
                $(element).tooltip('destroy');

				console.log(element[0].id);

				if(element[0].id == 'id_ano_inicio_estudio' || element[0].id == 'id_ano_graduacion'){

					$(element).tooltip({
						animation: true,
						placement: "right",
						title: $(error).text(),
						trigger: "manual"
                	} );

				}
				else{
					$(element).tooltip({
						animation: true,
						placement: "left",
						title: $(error).text(),
						trigger: "manual"
					} );
				}

                $(element).tooltip('show');

            },
            success: function (label, element) {
                $(element).tooltip('hide');
            },
            rules: {
                email: {
                    required: true,
                    email: true
                },
                password: {
                    required: true
                },
				universidades: {
                    required: true
                },
				carreras: {
					required: true
				},
				grado_estudio: {
                    required: true
                },
				semestre_inicio_estudio:{
                    required: true
                },
				ano_inicio_estudio:{
                    required: true
                },
				semestre_graduacion:{
                    required: true
                },
				ano_graduacion:{
                    required: true
                },
				paises:{
                    required: true
                },
				ciudades:{
                    required: true
                },
				carga_horaria:{
                    required: true
                },
				tipo_puesto:{
                    required: true
                }

            },
            messages: {
                email: {
                    required: "Este campo es obligatorio",
                    email: "Introduzca un correo válido"
                },
                password: {
                    required: "Este campo es obligatorio"
                },
				universidades: {
                    required: "Este campo es obligatorio"
                },
				carreras: {
                    required: "Este campo es obligatorio"
                },
				grado_estudio: {
                    required: "Este campo es obligatorio"
                },
				semestre_inicio_estudio:{
                    required: "Este campo es obligatorio"
                },
				ano_inicio_estudio:{
                    required: "Este campo es obligatorio"
                },
				semestre_graduacion:{
                    required: "Este campo es obligatorio"
                },
				ano_graduacion:{
                    required: "Este campo es obligatorio"
                },
				paises:{
                    required: "Este campo es obligatorio"
                },
				ciudades:{
                    required: "Este campo es obligatorio"
                },
				carga_horaria:{
                    required: "Este campo es obligatorio"
                },
				tipo_puesto:{
                    required: "Este campo es obligatorio"
                }

            }
        });

        $("#link-sesion").addClass("active");
    });
</script>
