{%load staticfiles %}

<!--&lt;!&ndash;<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>&ndash;&gt;-->
<script type="text/javascript" src="{% static 'js/jquery.bootstrap.wizard.js' %}"></script>
 <section class = "">
     <div id = "wizard">
         <div class="wizard-progress wizard-progress-lg">
             <ul class="wizard-steps"></ul>
             <div class="progress" >
					  <div class="progress-bar progress-bar-striped active" role="progressbar" ></div>
					</div>
             <div class="tab-content">
             </div>
         </div>
     </div>
     <div id="main-content" class="page-mailbox centered">
         <ul id="pregunta"></ul>
     </div>

 </section>
<style>
    .wizard-progress.wizard-progress-lg{
        font-size: 14px;
        height: auto;
        line-height: 30px;
    }
    html .wizard-progress .wizard-steps li, html.dark .wizard-progress .wizard-steps li{
        min-width: 0px;
        visibility: hidden;
    }
    .wizard-progress .row {
        height: auto;
    }
    .wizard-progress .row div {
        height: 30px;
    }
    .wizard-progress .row .col-sm-3 {
        text-align:  center;
    }
    .wizard-progress .row input[type=radio]{
        margin: 0px;
        line-height:30px;
    }

            .tab-content>.tab-pane{
                display:block;
                max-height: 0;
                opacity:0;
                overflow: hidden;
                -webkit-transition: all 1s;
                  -moz-transition: all 1s;
                  -ms-transition: all 1s;
                  -o-transition: all 1s;
                  transition: all 1s;
            }
            .tab-content>.active{
                opacity: 1;
                max-height: 250px;
            }
</style>

<script>


    var JSPreguntas = function () {
        this.cargar = function(){
            $.ajax({
                type:"GET",
                url:"{%url 'disc-preguntas-estudiante' %}",

                processData: false,
                contentType: false,
                error: function(x){
                    console.log(x);
                },
                success: function(preguntas){
                    debugger;
                    $.each(preguntas, function(i, pregunta) {
                        $(".wizard-steps").append(
                                '<li'+(i==0 ? ' class="active"':"")+'>'+
                                    '<a href="#tab'+i+'" data-toggle="tab"></a>'+
                                '</li>'
                        );
                        $(".tab-content").append(
                                '<div class="tab-pane '+(i==0 ? 'active':'')+'" id="tab'+i+'">'+
                                    '<div class = "row">'+
                                        '<div class = "col-sm-12">'+pregunta.descripcion+'</div>'+
                                    '</div>'+
                                    '<div class = "row">'+
                                        '<div class = "col-sm-6"></div>'+
                                        '<div class = "col-sm-3">Más</div>'+
                                        '<div class = "col-sm-3">Menos</div>'+
                                    '</div>'+
                                '</div>'
                        );
                        $.each(pregunta.respuestas, function(j, respuesta) {
                            $(".tab-content #tab"+i).append(
                                    '<div class = "row">'+
                                        '<div class = "col-sm-6">'+respuesta.descripcion+'</div>'+
                                        '<div class = "col-sm-3"><input type = "radio" name = "mas'+pregunta.id+'" value = "'+respuesta.id+'"></div>'+
                                        '<div class = "col-sm-3"><input type = "radio" name = "menos'+pregunta.id+'" value = "'+respuesta.id+'"></div>'+
                                    '</div>'
                            );
                        });
                        $(".tab-content #tab"+i).append('</ul></li>');
                    });
                    $('.wizard-progress').bootstrapWizard({
                        tabClass: 'wizard-steps',
                        onTabShow: function( tab, navigation, index ) {
                            var $total = navigation.find('li').length - 1;
                            var $current = index;
                            var $percent = Math.floor(( $current / $total ) * 100);

                            $('#wizard').find('.progress-bar').css({ 'width': $percent + '%' });

                            $current >= $total ?
                                $("#form-preguntas input[type=submit]").removeClass("hidden"):
                                $("#form-preguntas input[type=submit]").addClass("hidden");
                            //return false;
                        }
                        }, 5000);

                    //$(".tab-pane.active").on("click", "input", function(){
                    $(".tab-content").on("click", ".tab-pane.active input", function(){

                        if($(this).is("[name^=mas]:checked")){
                            $(this).parents(".tab-pane").find("[name^=menos]").each(function() {
                                $(this).attr("disabled",false);
                            })
                            $(this).parents(".row").find("[name^=menos]").attr("disabled", true);
                        }else {
                            $(this).parents(".tab-pane").find("[name^=mas]").each(function() {
                                $(this).attr("disabled",false);
                            })
                            $(this).parents(".row").find("[name^=mas]").attr("disabled", true);
                        }
                        debugger;
                        if ($("[name^=mas]:checked").length > 0 && $("[name^=menos]:checked").length > 0){
                            $('.wizard-progress').bootstrapWizard('next');
                        }
                    });
                }
            });

        }
    }
    var Preguntas = new JSPreguntas();
    $(function () {
        Preguntas.cargar();
    });

</script>

<!--<div id="rootwizard">-->
	<!--<div class="navbar">-->
	  <!--<div class="navbar-inner">-->
	    <!--<div class="container">-->
	<!--<ul>-->
	  	<!--<li><a href="#tab1" data-toggle="tab">First</a></li>-->
		<!--<li><a href="#tab2" data-toggle="tab">Second</a></li>-->
		<!--<li><a href="#tab3" data-toggle="tab">Third</a></li>-->
		<!--<li><a href="#tab4" data-toggle="tab">Forth</a></li>-->
		<!--<li><a href="#tab5" data-toggle="tab">Fifth</a></li>-->
		<!--<li><a href="#tab6" data-toggle="tab">Sixth</a></li>-->
		<!--<li><a href="#tab7" data-toggle="tab">Seventh</a></li>-->
	<!--</ul>-->
	 <!--</div>-->
	  <!--</div>-->
	<!--</div>-->
	<!--<div id="bar" class="progress progress-striped active">-->
	  <!--<div class="bar"></div>-->
	<!--</div>-->
	<!--<div class="tab-content">-->
	    <!--<div class="tab-pane" id="tab1">-->
	      <!--1-->
	    <!--</div>-->
	    <!--<div class="tab-pane" id="tab2">-->
	      <!--2-->
	    <!--</div>-->
		<!--<div class="tab-pane" id="tab3">-->
			<!--3-->
	    <!--</div>-->
		<!--<div class="tab-pane" id="tab4">-->
			<!--4-->
	    <!--</div>-->
		<!--<div class="tab-pane" id="tab5">-->
			<!--5-->
	    <!--</div>-->
		<!--<div class="tab-pane" id="tab6">-->
			<!--6-->
	    <!--</div>-->
		<!--<div class="tab-pane" id="tab7">-->
			<!--7-->
	    <!--</div>-->
		<!--<ul class="pager wizard">-->
			<!--<li class="previous first" style="display:none;"><a href="#">First</a></li>-->
			<!--<li class="previous"><a href="#">Previous</a></li>-->
			<!--<li class="next last" style="display:none;"><a href="#">Last</a></li>-->
		  	<!--<li class="next"><a href="#">Next</a></li>-->
		<!--</ul>-->
	<!--</div>-->
<!--</div>-->
<!--<script>-->
    <!--$(document).ready(function() {-->
  	<!--$('#rootwizard').bootstrapWizard({onTabShow: function(tab, navigation, index) {-->
		<!--var $total = navigation.find('li').length;-->
		<!--var $current = index+1;-->
		<!--var $percent = ($current/$total) * 100;-->
		<!--$('#rootwizard').find('.bar').css({width:$percent+'%'});-->
	<!--}});-->
<!--});-->
<!--</script>-->
