{%load staticfiles %}
<style>
    .introduccion, .error, .finalizo{
        margin: 30px;
    }
    .introduccion h3, .error h3, .finalizo h3{
            font-family: 'Roboto Condensed';
    margin-bottom: 25px;
    font-weight: normal;
    font-size: 1.7em;
        color: #5d9cf9;
    }
    .introduccion p, .error p, .finalizo p{
        font-size: 1.1em;
        margin-bottom: 10px;
    }
    .introduccion ul li{
        font-size: 1.1em;
        margin-bottom: 10px;
        margin-left: 25px;
    }
    .introduccion li:before {
        font-family: 'FontAwesome';
        content: '\f00c';
        margin:0 5px 0 -25px;
        color: #5d9cf9;
        }
    .introduccion .fa-exclamation-circle{
        color: #f50;
    }
    .error .fa-exclamation-circle{
        color: #b40002;
    }
    .introduccion .info{
        font-family: 'Roboto Condensed';
        font-size: 1.3em;
        text-align: center;
        width: 80%;
        margin: 50px auto 0px;
    }
</style>
<!--&lt;!&ndash;<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>&ndash;&gt;-->

 <section>
     <div class="introduccion">
         <div class="row">
             <div class="col-sm-12"><h3 class="title"><i class="fa fa-pencil-square-o"></i>  ¡Queremos conocerte!</h3></div>
             <div class="col-sm-12">zz
                <p>Cuéntanos cómo eres, respondiendo a las siguientes preguntas dinos con cual te identificas mas
                    <i class="fa fa-thumbs-o-up"></i> y cuál crees que te describe menos <i class="fa fa-thumbs-o-down"></i>.</p>
                 <p>Para ello ten encuenta que:</p>
                <ul>
                    <li> Debes completar el test, de lo contrario las respuestas no se almacenarán,
                    sí no puedes terminarlo ahora selecciona <i>En otro momento</i>.</li>
                    <li>Por favor se cuidadoso, una vez seleccionada las opciones no podrás regresar a la pregunta anterior.</li>
                    <li>No hay limite de tiempo, puedes hacerlo con calma, tratar de ser lo más sincero posible.</li>
                </ul>
                 <p class="info"><i class="fa fa-exclamation-circle"></i><b> Ten en cuenta que no hay respuestas malas ni buenas,
                     solo queremos saber más acerca de ti!</b></p>
             </div>
         </div>
     </div>
     <div id = "wizard">
         <div class="wizard-progress wizard-progress-lg">
             <ul class="wizard-steps">
             </ul>
             <div class="progress" >
                 <div class="progress-bar progress-bar-striped active" role="progressbar" >

                      </div>
             </div>
             <div class="tab-content">
                 <div class="tab-pane" id="tab">

                 </div>
             </div>
         </div>
     <div id="main-content" class="page-mailbox centered">
         <ul id="pregunta"></ul>
     </div>
{%csrf_token%}
 </section>
     <div class="row finalizo">
         <div class="col-sm-12"><h3>Test</h3></div>
         <div class="col-sm-12">¡Test realizado satisfactoriamente!</div>
         <div class="col-sm-12">
            <p>Gracias por completar el Test, el mismo te ayudara a encontrar las oportunidades perfectas para ti.</p>
         </div>
     </div>
     <div class="row error">
         <div class="col-sm-12"><h3><i class="fa fa-exclamation-circle"></i>¡Error!: </h3></div>
         <div class="col-sm-12">
            <p>Lo lamentamos, tus respuestas no fueron concluyentes debes completar el test nuevamente.</p>
         </div>
     </div>
<style>
    .wizard-progress.wizard-progress-lg{
        font-size: 14px;
        height: auto;
        line-height: 30px;
    }
    html .wizard-progress .wizard-steps li, html.dark .wizard-progress .wizard-steps li{
        min-width: 0px;
        visibility: hidden;
    }
    .wizard-progress .row {
        height: auto;
    }
    .wizard-progress .row div {
        height: 30px;
    }
    .wizard-progress .row .col-sm-3 {
        text-align:  center;
    }
    .wizard-progress .row input[type=radio]{
        margin: 0px;
        line-height:30px;
    }

            .tab-content>.tab-pane{
                display:block;
                max-height: 0;
                opacity:0;
                overflow: hidden;
                -webkit-transition: all 1s;
                  -moz-transition: all 1s;
                  -ms-transition: all 1s;
                  -o-transition: all 1s;
                  transition: all 1s;
            }
            .tab-content>.active{
                opacity: 1;
                max-height: 250px;
            }
</style>

<script>
    var JSPreguntas = function () {
        this.cargar = function(){
            $.ajax({
                type:"GET",
                url:"{%url 'disc-preguntas-estudiante' %}",
                processData: false,
                contentType: false,
                error: function(x){
                    console.log(x);
                },
                success: function(preguntas){
                    if(preguntas.length  > 0 ) {
                        $.each(preguntas, function (i, pregunta) {
                            $(".wizard-steps").append(
                                    '<li' + (i == 0 ? ' class="active"' : "") + '>' +
                                    '<a href="#tab' + i + '" data-toggle="tab"></a>' +
                                    '</li>'
                            );
                            $(".tab-content").append(
                                    '<div class="tab-pane ' + (i == 0 ? 'active' : '') + '" id="tab' + i + '" data-id="' + pregunta.id + '"' +
                                    ' data-info="' + i + '">' +
                                    '<div class = "row">' +
                                    '<div class = "col-sm-12">' + pregunta.descripcion + '</div>' +
                                    '</div>' +
                                    '<div class = "row">' +
                                    '<div class = "col-sm-6"></div>' +
                                    '<div class = "col-sm-3">Más</div>' +
                                    '<div class = "col-sm-3">Menos</div>' +
                                    '</div>' +
                                    '</div>'
                            );
                            $.each(pregunta.respuestas, function (j, respuesta) {
                                $(".tab-content #tab" + i).append(
                                        '<div class = "row">' +
                                        '<div class = "col-sm-6">' + respuesta.descripcion + '</div>' +
                                        '<div class = "col-sm-3"><input type = "radio" name = "mas' + pregunta.id + '" value = "' + respuesta.id + '"></div>' +
                                        '<div class = "col-sm-3"><input type = "radio" name = "menos' + pregunta.id + '" value = "' + respuesta.id + '"></div>' +
                                        '</div>'
                                );
                            });
                            $(".tab-content #tab" + i).append('</ul></li>');
                        });
                        $('.wizard-progress').bootstrapWizard({
                            tabClass: 'wizard-steps',
                            onTabShow: function (tab, navigation, index) {
                                var $total = navigation.find('li').length - 1;
                                var $current = index;
                                var $percent = Math.floor(( $current / $total ) * 100);

                                $('#wizard').find('.progress-bar').css({'width': $percent + '%'});
                                $current >= $total ?
                                        $("#btn-guardar").show() :
                                        $("#btn-guardar").hide();
                                return false;
                            }
                        }, 5000);

                        //$(".tab-pane.active").on("click", "input", function(){
                    }else{
                        $('#wizard').hide();
                        $('.finalizo').show();
                        $('#btn-guardar').hide();
                        $('#btn-cancelar').hide();
                        $('#btn-cerrar').show();
//                        $('#preguntas-alert').html("");
                        $('#preguntas-alert').hide();
                    }
                },
            });

        },
        this.enviar_respuesta = function(preg, resp_mas, resp_menos){
            var form = new FormData();
            form.append('p', preg);
            form.append('r_mas', resp_mas);
            form.append('r_menos', resp_menos);
            form.append('csrfmiddlewaretoken',$('[name="csrfmiddlewaretoken"]').val());
            $.ajax({
                type:"POST",
                url:"{%url 'disc-respuesta-estudiante' %}",
                data: form,
                processData: false,
                contentType: false,
                error: function(x){
                    console.log(x.responseText);
                },
                success: function(data){
                    if(data != '0'){
                         $('#btn-cerrar').click();

                    }
                    console.log(data);
                },
            });


        },
        this.finalizar_test = function(finalizo){
            var form = new FormData();
            form.append('f', finalizo);
            form.append('csrfmiddlewaretoken',$('[name="csrfmiddlewaretoken"]').val());
            $.ajax({
                type:"POST",
                url:"{%url 'disc-finalizo-estudiante' %}",
                data: form,
                processData: false,
                contentType: false,
                error: function(x){
                    console.log(x.responseText);
                },
                success: function(data){
                    if(data == "1"){
                        $('#wizard').hide();
                        $('.finalizo').show();
                        $('#btn-guardar').hide();
                        $('#btn-cancelar').hide();
                        $('#btn-cerrar').show();
                        $('#preguntas-alert').hide();
                    }
                    else {
                        $('#wizard').hide();
                        $('.error').show();
                        $('#btn-guardar').hide();
                        $('#btn-cancelar').show();
                    }
                    console.log(data);

                },
            });
        }
    }
    var Preguntas = new JSPreguntas();
    $(function () {
        Preguntas.cargar();

        fnIniciarModelPreguntas();
        $(".tab-content").on("click", ".tab-pane.active input", function(){
            if($(this).is("[name^=mas]:checked")){
                            $(this).parents(".tab-pane").find("[name^=menos]").each(function() {
                                $(this).attr("disabled",false);
                            })
                            $(this).parents(".row").find("[name^=menos]").attr("disabled", true);
                        }else {
                            $(this).parents(".tab-pane").find("[name^=mas]").each(function() {
                                $(this).attr("disabled",false);
                            })
                            $(this).parents(".row").find("[name^=mas]").attr("disabled", true);
                        }
            if ( $(this).parents(".tab-pane").find("[name^=mas]:checked").length > 0 &&
                    $(this).parents(".tab-pane").find("[name^=menos]:checked").length > 0){
                Preguntas.enviar_respuesta($(this).parents(".tab-pane").data("id"),
                                                           $(this).parents(".tab-pane").find("[name^=mas]:checked").val(),
                                                           $(this).parents(".tab-pane").find("[name^=menos]:checked").val());
                $('.wizard-progress').bootstrapWizard('next');
                if($(this).parents(".tab-pane").data("info") == ($(".wizard-steps li").length -1)){
                    $('#btn-guardar').removeAttr("disabled");
                }
            }

        });
        $('#btn-comenzar').click(function(){
            $('.introduccion').hide();
            $('#btn-comenzar').hide();
            $('#wizard').show();
        });
        $('#btn-guardar').click(function(){
           Preguntas.finalizar_test(0); //calcula el patron
//            $('#wizard').hide();
//            $('.finalizo').show();
//            $('#btn-guardar').hide();
//            $('#btn-cancelar').hide();
//            $('#btn-cerrar').show();
        });
        $('#btn-cancelar').click(function(){
            Preguntas.finalizar_test(-1); // cancela y borra todas las respuestas hasta ahora del estudiante
            $('#btn-cerrar').click();
        });


    });


</script>
